In [6]:
import pprint
from sqlalchemy import select, create_engine, MetaData, Table

In [7]:
engine = create_engine('sqlite:///listings.db', echo=True)
metadata = MetaData()
connection = engine.connect()

2021-03-13 08:53:47,994 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-13 08:53:47,997 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:47,999 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-13 08:53:48,000 INFO sqlalchemy.engine.base.Engine ()

In [8]:
listing = Table('listing', metadata, autoload=True, autoload_with=engine)
neighbourhood = Table('neighbourhood', metadata, autoload=True, autoload_with=engine)
host = Table('host', metadata, autoload=True, autoload_with=engine)
line_item = Table('line_item', metadata, autoload=True, autoload_with=engine)
order = Table('order', metadata, autoload=True, autoload_with=engine)
property_type = Table('property_type', metadata, autoload=True, autoload_with=engine)
room_type = Table('room_type', metadata, autoload=True, autoload_with=engine)
user = Table('user', metadata, autoload=True, autoload_with=engine)

2021-03-13 08:53:48,367 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("listing")
2021-03-13 08:53:48,369 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,373 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,374 INFO sqlalchemy.engine.base.Engine ('listing',)
2021-03-13 08:53:48,376 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("listing")
2021-03-13 08:53:48,378 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,380 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,382 INFO sqlalchemy.engine.base.Engine ('listing',)
2021-03-13 08:53:48,387 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("host")
2021-03-13 08:53:48,388 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,391 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,392 INFO sqlalchemy.engine.base.Engine ('host',)
2021-03-13 08:53:48,394 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("host")
2021-03-13 08:53:48,396 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,397 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("host")
2021-03-13 08:53:48,399 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,400 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,401 INFO sqlalchemy.engine.base.Engine ('host',)
2021-03-13 08:53:48,404 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("host")
2021-03-13 08:53:48,405 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,407 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("host")
2021-03-13 08:53:48,409 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,410 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("host")
2021-03-13 08:53:48,412 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,414 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("host")
2021-03-13 08:53:48,415 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,416 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,418 INFO sqlalchemy.engine.base.Engine ('host',)
2021-03-13 08:53:48,423 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("neighbourhood")
2021-03-13 08:53:48,424 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,427 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,428 INFO sqlalchemy.engine.base.Engine ('neighbourhood',)
2021-03-13 08:53:48,430 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("neighbourhood")
2021-03-13 08:53:48,431 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,433 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("neighbourhood")
2021-03-13 08:53:48,435 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,436 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,437 INFO sqlalchemy.engine.base.Engine ('neighbourhood',)
2021-03-13 08:53:48,439 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("neighbourhood")
2021-03-13 08:53:48,440 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,442 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("neighbourhood")
2021-03-13 08:53:48,444 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,446 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("neighbourhood")
2021-03-13 08:53:48,447 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,449 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("neighbourhood")
2021-03-13 08:53:48,450 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,452 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,454 INFO sqlalchemy.engine.base.Engine ('neighbourhood',)
2021-03-13 08:53:48,456 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("property_type")
2021-03-13 08:53:48,457 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,460 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,461 INFO sqlalchemy.engine.base.Engine ('property_type',)
2021-03-13 08:53:48,463 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("property_type")
2021-03-13 08:53:48,465 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,466 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("property_type")
2021-03-13 08:53:48,467 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,469 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,470 INFO sqlalchemy.engine.base.Engine ('property_type',)
2021-03-13 08:53:48,472 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("property_type")
2021-03-13 08:53:48,473 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,475 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("property_type")
2021-03-13 08:53:48,476 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,478 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("property_type")
2021-03-13 08:53:48,479 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,481 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("property_type")
2021-03-13 08:53:48,482 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,484 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,485 INFO sqlalchemy.engine.base.Engine ('property_type',)
2021-03-13 08:53:48,487 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("room_type")
2021-03-13 08:53:48,489 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,491 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,492 INFO sqlalchemy.engine.base.Engine ('room_type',)
2021-03-13 08:53:48,494 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("room_type")
2021-03-13 08:53:48,495 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,496 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("room_type")
2021-03-13 08:53:48,497 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,499 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,500 INFO sqlalchemy.engine.base.Engine ('room_type',)
2021-03-13 08:53:48,501 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("room_type")
2021-03-13 08:53:48,502 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,504 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("room_type")
2021-03-13 08:53:48,505 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,507 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("room_type")
2021-03-13 08:53:48,508 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,509 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("room_type")
2021-03-13 08:53:48,511 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,513 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,514 INFO sqlalchemy.engine.base.Engine ('room_type',)
2021-03-13 08:53:48,516 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("listing")
2021-03-13 08:53:48,517 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,519 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_listing_listing_name")
2021-03-13 08:53:48,520 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,522 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_am_price")
2021-03-13 08:53:48,523 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,525 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("listing")
2021-03-13 08:53:48,526 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,528 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_listing_listing_name")
2021-03-13 08:53:48,529 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,531 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_am_price")
2021-03-13 08:53:48,532 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,533 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,534 INFO sqlalchemy.engine.base.Engine ('listing',)
2021-03-13 08:53:48,537 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("line_item")
2021-03-13 08:53:48,539 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,541 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,542 INFO sqlalchemy.engine.base.Engine ('line_item',)
2021-03-13 08:53:48,543 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("line_item")
2021-03-13 08:53:48,545 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,547 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,548 INFO sqlalchemy.engine.base.Engine ('line_item',)
2021-03-13 08:53:48,550 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("order")
2021-03-13 08:53:48,551 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,554 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,555 INFO sqlalchemy.engine.base.Engine ('order',)
2021-03-13 08:53:48,557 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("order")
2021-03-13 08:53:48,558 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,560 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,561 INFO sqlalchemy.engine.base.Engine ('order',)
2021-03-13 08:53:48,564 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("user")
2021-03-13 08:53:48,565 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,568 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,569 INFO sqlalchemy.engine.base.Engine ('user',)
2021-03-13 08:53:48,571 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("user")
2021-03-13 08:53:48,572 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,574 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("user")
2021-03-13 08:53:48,575 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,577 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,579 INFO sqlalchemy.engine.base.Engine ('user',)
2021-03-13 08:53:48,581 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("user")
2021-03-13 08:53:48,582 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,584 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("user")
2021-03-13 08:53:48,586 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,588 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_user_1")
2021-03-13 08:53:48,590 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,592 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,593 INFO sqlalchemy.engine.base.Engine ('user',)
2021-03-13 08:53:48,597 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("order")
2021-03-13 08:53:48,598 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,601 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("order")
2021-03-13 08:53:48,602 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,603 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("order")
2021-03-13 08:53:48,605 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,608 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("order")
2021-03-13 08:53:48,610 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,612 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,614 INFO sqlalchemy.engine.base.Engine ('order',)
2021-03-13 08:53:48,617 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("line_item")
2021-03-13 08:53:48,619 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,622 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("line_item")
2021-03-13 08:53:48,623 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,625 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("line_item")
2021-03-13 08:53:48,626 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,628 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("line_item")
2021-03-13 08:53:48,631 INFO sqlalchemy.engine.base.Engine ()
2021-03-13 08:53:48,632 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-03-13 08:53:48,634 INFO sqlalchemy.engine.base.Engine ('line_item',)

In [11]:
s = select([listing])
rp = connection.execute(s)
results = rp.fetchall()
results

2021-03-13 08:54:35,221 INFO sqlalchemy.engine.base.Engine SELECT listing.listing_id, listing.listing_name, listing.listing_url, listing.host_id, listing.neighbourhood_id, listing.amenities, listing.property_type_id, listing.room_type_id, listing.bedrooms, listing.beds, listing.price
FROM listing
2021-03-13 08:54:35,222 INFO sqlalchemy.engine.base.Engine ()

[(20168, 'Studio with private bathroom in the centre 1', 'https://www.airbnb.com/rooms/20168', 59484, 4, '["Wifi", "Hot water", "Hangers", "Host greets you", "Long term stays allowed", "Carbon monoxide alarm", "Fire extinguisher", "Dedicated workspace", "Paid parking off premises", "Essentials", "Bed linens", "Hair dryer", "TV", "Heating", "Refrigerator", "Free street parking", "Smoke alarm"]', 35, 3, 1, 1, Decimal('236.00')),
 (27886, 'Romantic, stylish B&B houseboat in canal district', 'https://www.airbnb.com/rooms/27886', 97647, 5, '["Carbon monoxide alarm", "Private living room", "Refrigerator", "Dishes and silverware", "Smoke alarm", "Patio or balcony", "Private entrance", "TV" ... (2 characters truncated) ... "Wifi", "Smart lock", "Hot water", "Coffee maker", "Hangers", "Fire extinguisher", "Shampoo", "Luggage dropoff allowed", "Lake access", "Long term st', 30, 3, 1, 1, Decimal('135.00')),
 (28871, 'Comfortable double room', 'https://www.airbnb.com/rooms/28871', 124245, 4, '["Wifi", "Hot water", "Private entrance", "Hangers", "Host greets you", "Lock on bedroom door", "Shampoo", "Carbon monoxide alarm", "Fire extinguisher", "Essentials", "Dryer", "Hair dryer", "Heating", "Refrigerator", "Smoke alarm"]', None, 3, 1, 1, Decimal('75.00')),
 (29051, 'Comfortable single room', 'https://www.airbnb.com/rooms/29051', 124245, 4, '["Coffee maker", "Host greets you", "Hair dryer", "Shampoo", "Hangers", "Bed linens", "Heating", "Lock on bedroom door", "Wifi", "Shower gel", "Essentials", "Smoke alarm", "Fire extinguisher", "Iron", "Refrigerator", "Hot water", "Private entrance"]', None, 3, 1, 1, Decimal('55.00')),
 (31080, '2-story apartment + rooftop terrace', 'https://www.airbnb.com/rooms/31080', 133488, 20, '["Microwave", "Carbon monoxide alarm", "Refrigerator", "Dishes and silverware", "Smoke alarm", "Oven', 2, 1, 3, 3, Decimal('219.00'))]

In [10]:
s = listing.select()
rp = connection.execute(s)
rp.fetchone()

2021-03-13 08:53:49,774 INFO sqlalchemy.engine.base.Engine SELECT listing.listing_id, listing.listing_name, listing.listing_url, listing.host_id, listing.neighbourhood_id, listing.amenities, listing.property_type_id, listing.room_type_id, listing.bedrooms, listing.beds, listing.price
FROM listing
2021-03-13 08:53:49,775 INFO sqlalchemy.engine.base.Engine ()

(20168, 'Studio with private bathroom in the centre 1', 'https://www.airbnb.com/rooms/20168', 59484, 4, '["Wifi", "Hot water", "Hangers", "Host greets you", "Long term stays allowed", "Carbon monoxide alarm", "Fire extinguisher", "Dedicated workspace", "Paid parking off premises", "Essentials", "Bed linens", "Hair dryer", "TV", "Heating", "Refrigerator", "Free street parking", "Smoke alarm"]', 35, 3, 1, 1, Decimal('236.00'))

In [12]:
first_row = results[0] # Первая запись
print(first_row[1]) # Доступ к значению по индексу
print(first_row.listing_name) # Доступ к значению по имени соответствующего столбца
print(first_row[listing.c.listing_name]) # Доступ по имени объекта столбца

Studio with private bathroom in the centre 1
Studio with private bathroom in the centre 1
Studio with private bathroom in the centre 1

sqlalchemy.engine.result.RowProxy

In [93]:
connection.execute(listing.insert(), [{}, {}]).rowcount

2021-03-13 09:58:35,995 INFO sqlalchemy.engine.base.Engine INSERT INTO listing DEFAULT VALUES
2021-03-13 09:58:35,997 INFO sqlalchemy.engine.base.Engine ((), ())
2021-03-13 09:58:36,001 INFO sqlalchemy.engine.base.Engine COMMIT

2

In [82]:
from sqlalchemy.sql import func
s = select([func.sum(listing.c.bedrooms)])
rp = connection.execute(s)
print(rp.scalar())

2021-03-13 09:42:18,925 INFO sqlalchemy.engine.base.Engine SELECT sum(listing.bedrooms) AS sum_1
FROM listing
2021-03-13 09:42:18,926 INFO sqlalchemy.engine.base.Engine ()
7

In [66]:
s = select([listing.c.bedrooms])
rp = connection.execute(s)
print(rp.fetchall()[0].bedrooms)

2021-03-13 09:26:49,035 INFO sqlalchemy.engine.base.Engine SELECT listing.bedrooms
FROM listing
2021-03-13 09:26:49,036 INFO sqlalchemy.engine.base.Engine ()
1

In [89]:
from sqlalchemy import cast, String, Numeric
s=select([listing.c.listing_id, listing.c.price,
          cast(listing.c.price*1.13, Numeric(-1,0)).label('mult')])

for row in connection.execute(s):
    print(row.listing_id, row.price, row.mult)

2021-03-13 09:51:21,445 INFO sqlalchemy.engine.base.Engine SELECT listing.listing_id, listing.price, CAST(listing.price * ? AS NUMERIC(-1, 0)) AS mult
FROM listing
2021-03-13 09:51:21,446 INFO sqlalchemy.engine.base.Engine (1.13,)
31081 None None
31082 None None
31083 None None
31084 None None
31085 None None
31086 None None
31087 None None
31088 None None
31089 None None
31090 None None
31091 None None
27886 135.00 153
29051 55.00 62
31080 219.00 247
20168 236.00 267
28871 75.00 85

d:\pyprojects\jupyternotebook\venv\lib\site-packages\sqlalchemy\sql\sqltypes.py:661: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  util.warn(

In [91]:
from sqlalchemy import cast, String
s=select([listing.c.price, listing.c.listing_name + ' for ' +
          cast(listing.c.price, String(20)).label('mult') +
          ' euros'])

rp=connection.execute(s)
for row in rp:
    print(row)

2021-03-13 09:54:12,139 INFO sqlalchemy.engine.base.Engine SELECT listing.price, listing.listing_name || ? || CAST(listing.price AS VARCHAR(20)) || ? AS anon_1
FROM listing
2021-03-13 09:54:12,141 INFO sqlalchemy.engine.base.Engine (' for ', ' euros')
(Decimal('236.00'), 'Studio with private bathroom in the centre 1 for 236 euros')
(Decimal('135.00'), 'Romantic, stylish B&B houseboat in canal district for 135 euros')
(Decimal('75.00'), 'Comfortable double room for 75 euros')
(Decimal('55.00'), 'Comfortable single room for 55 euros')
(Decimal('219.00'), '2-story apartment + rooftop terrace for 219 euros')
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(None, None)

In [103]:
result = connection.execute("select upper(host_name) from host").fetchall()

2021-03-13 10:14:07,050 INFO sqlalchemy.engine.base.Engine select upper(host_name) from host
2021-03-13 10:14:07,052 INFO sqlalchemy.engine.base.Engine ()

AttributeError: __enter__