# Контрольная работа
## Выполнил: студент ПИ19-3 Ковалев А. И.

## models.py

In [6]:
from sqlalchemy import (
    Column,
    Integer,
    String,
    DateTime,
    Float,
    ForeignKey,
    CheckConstraint
)
from sqlalchemy.ext.declarative import as_declarative, declared_attr

__all__ = [
    'Base',
    'City',
    'ExamMark',
    'Lecturer',
    'Student',
    'Subject',
    'SubjectLecturer',
    'University'
]

CASCADE = "CASCADE"
SHORT_VARCHAR = 80
MIDDLE_VARCHAR = 255


@as_declarative()
class Base:
    id = Column(Integer, primary_key=True, autoincrement=True)

    @declared_attr
    def __tablename__(self):
        table_name = ''
        ascii_upper = range(ord('A'), ord('Z') + 1)
        for i, s in enumerate(self.__name__):
            if ord(s) in ascii_upper and i != 0:
                table_name += '_'
            table_name += s.upper()

        return table_name + 'S'

    def __repr__(self):
        field_strings = []
        for attr in self.__repr_attrs__:
            field_strings.append(f'{attr}={getattr(self, attr)}')

        return f"<{self.__class__.__name__} ({', '.join(field_strings)})>"

    __str__ = __repr__
    __repr_attrs__ = ['id']


class City(Base):
    name = Column(String(SHORT_VARCHAR))

    __tablename__ = "CITIES"
    __repr_attrs__ = ['name']


class ExamMark(Base):
    mark = Column(Integer)
    date = Column(DateTime)
    student_id = Column(Integer, ForeignKey("STUDENTS.id", ondelete=CASCADE))
    subject_id = Column(Integer, ForeignKey("SUBJECTS.id", ondelete=CASCADE))

    __repr_attrs__ = ['mark', 'date', 'student_id', 'subject_id']


class Lecturer(Base):
    first_name = Column(String(SHORT_VARCHAR))
    last_name = Column(String(SHORT_VARCHAR))
    city = Column(String(SHORT_VARCHAR))
    university_id = Column(Integer, ForeignKey("UNIVERSITIES.id", ondelete=CASCADE))

    __repr_attrs__ = ['first_name', 'last_name', 'city', 'university_id']


class Student(Base):
    first_name = Column(String(SHORT_VARCHAR))
    last_name = Column(String(SHORT_VARCHAR))
    stipend = Column(Float, CheckConstraint("stipend >= 0.00", name="stipend_is_positive"))
    course = Column(Integer)
    city = Column(String(SHORT_VARCHAR))
    birthdate = Column(DateTime)
    university_id = Column(Integer, ForeignKey("UNIVERSITIES.id", ondelete=CASCADE))

    __repr_attrs__ = ['first_name', 'last_name', 'stipend', 'course', 'city', 'birthdate', 'university_id']


class SubjectLecturer(Base):
    lecturer_id = Column(Integer, ForeignKey("LECTURERS.id", ondelete=CASCADE))
    subject_id = Column(Integer, ForeignKey("SUBJECTS.id", ondelete=CASCADE))

    __tablename__ = "SUBJECTS_LECTURERS"
    __repr_attrs__ = ['lecturer_id', 'subject_id']


class Subject(Base):
    name = Column(String(SHORT_VARCHAR), index=True)
    hour = Column(Integer, index=True)
    semester = Column(Integer)

    __repr_attrs__ = ['name', 'hour', 'semester']


class University(Base):
    name = Column(String(SHORT_VARCHAR))
    rating = Column(Integer)
    city = Column(String(SHORT_VARCHAR))

    __tablename__ = "UNIVERSITIES"
    __repr_attrs__ = ['name', 'rating', 'city']

## database.py

In [11]:
from sqlalchemy import create_engine
from sqlalchemy.engine import Engine
from sqlalchemy.orm.session import sessionmaker, Session


class DataBase:
    DATABASE = "sqlite"
    DB_NAME = "resources/students.db"
    engine: Engine = create_engine(f"{DATABASE}:///{DB_NAME}", echo=False)
    session: Session = sessionmaker(bind=engine)()

        
# Base.metadata.create_all(DataBase.engine)

## utils.py

In [17]:
import re


def task(n):
    def wrapper(function):
        def decorator(*args, **kwargs):
            print(str(n) + ". " + re.sub(r' +', ' ', function.__doc__.strip()) + "\n")
            result = function(*args, **kwargs)
#             print('\n\n')
            return result
        return decorator
    return wrapper

## queries.py

In [18]:
from sqlalchemy.orm import Query
from sqlalchemy.sql import or_, func
from datetime import datetime
from pprint import pprint

db = DataBase()

In [19]:
@task("2")
def second():
    """
    Напишите запрос, позволяющий получить из таблицы exam_marks
    значения столбца mark (экзаменационная оценка) для всех студентов,
    исключив из списка повторение одинаковых строк.
    """
    query: Query = db.session.query(
        ExamMark.mark
    ).distinct()
    pprint(query.all())
    
    
second()

2. Напишите запрос, позволяющий получить из таблицы exam_marks
 значения столбца mark (экзаменационная оценка) для всех студентов,
 исключив из списка повторение одинаковых строк.

[(1,), (4,), (3,), (5,), (2,), (None,)]

In [20]:
@task("3")
def third():
    """
    Напишите запрос для получения списка студентов
    без определенного места жительства.
    """
    query: Query = db.session.query(
        Student
    ).filter(
        Student.city.is_(None)
    )
    pprint(query.all())
    
    
third()

3. Напишите запрос для получения списка студентов
 без определенного места жительства.

[<Student (first_name=Ирина, last_name=Медведева, stipend=100.0, course=1, city=None, birthdate=2000-08-22 00:00:00, university_id=15)>,
 <Student (first_name=Оксана, last_name=Афанасьева, stipend=250.0, course=1, city=None, birthdate=2000-11-16 00:00:00, university_id=47)>]

In [21]:
@task("4")
def fourth():
    """
    Напишите запрос для получения списка студентов,
    проживающих в Воронеже и не получающих стипендию.
    """
    query: Query = db.session.query(
        Student
    ).filter(
        Student.city == 'Воронеж',
        or_(Student.stipend == 0, Student.stipend.is_(None))
    )
    pprint(query.all())
    
    
fourth()

4. Напишите запрос для получения списка студентов,
 проживающих в Воронеже и не получающих стипендию.

[<Student (first_name=Андрей, last_name=Павлов, stipend=0.0, course=3, city=Воронеж, birthdate=1979-11-05 00:00:00, university_id=10)>]

In [22]:
@task("5")
def fifth():
    """
    Напишите запрос для получения списка университетов,
    расположенных в Москве и имеющих рейтинг меньший, чем у НГУ.
    Значение рейтинга НГУ получите с помощью отдельного запроса или подзапроса.
    """
    ngu_rating = db.session.query(
        University.rating
    ).filter(
        University.name == 'НГУ'
    ).scalar()

    query: Query = db.session.query(
        University
    ).filter(
        University.city == 'Москва',
        University.rating < ngu_rating
    )

    pprint(query.all())
    
    
fifth()

5. Напишите запрос для получения списка университетов,
 расположенных в Москве и имеющих рейтинг меньший, чем у НГУ.
 Значение рейтинга НГУ получите с помощью отдельного запроса или подзапроса.

[<University (name=ФинУ, rating=330, city=Москва)>,
 <University (name=МТУСИ, rating=295, city=Москва)>]

In [23]:
@task("6")
def sixth():
    """
    Напишите запрос, выполняющий вывод находящихся в таблице
    EXAM_MARKS номеров предметов обучения, экзамены по
    которым сдавались между 1 и 21 марта 2020 г.
    """
    query: Query = db.session.query(
        ExamMark.subject_id, ExamMark.date
    ).filter(
        ExamMark.date.between(datetime(2020, 3, 1), datetime(2020, 3, 21))
    )
    pprint(query.all())
    
    
sixth()

6. Напишите запрос, выполняющий вывод находящихся в таблице
 EXAM_MARKS номеров предметов обучения, экзамены по
 которым сдавались между 1 и 21 марта 2020 г.

[(73, datetime.datetime(2020, 3, 20, 0, 0)),
 (12, datetime.datetime(2020, 3, 13, 0, 0)),
 (10, datetime.datetime(2020, 3, 21, 0, 0))]

In [24]:
@task("7")
def seventh():
    """
    Напишите запрос, который выполняет вывод названий
    предметов обучения, начинающихся на букву 'И'.
    """
    query: Query = db.session.query(
        Subject
    ).filter(
        Subject.name.startswith('И')
    )
    pprint(query.all())

    
seventh()

7. Напишите запрос, который выполняет вывод названий
 предметов обучения, начинающихся на букву 'И'.

[<Subject (name=Информатика, hour=56, semester=1)>,
 <Subject (name=История, hour=34, semester=4)>]

In [25]:
@task("8")
def eighth():
    """
    Напишите запрос, выбирающий сведения о студентах,
    у которых имена начинаются на букву 'И' или 'С'.
    """
    query: Query = db.session.query(
        Student
    ).filter(
        or_(Student.first_name.startswith('И'), Student.first_name.startswith('С'))
    )
    pprint(query.all())
    
    
eighth()

8. Напишите запрос, выбирающий сведения о студентах,
 у которых имена начинаются на букву 'И' или 'С'.

[<Student (first_name=Иван, last_name=Иванов, stipend=150.0, course=1, city=Орел, birthdate=1982-12-03 00:00:00, university_id=10)>,
 <Student (first_name=Софья, last_name=Дементьева, stipend=150.0, course=1, city=Нерчинск, birthdate=1996-09-25 00:00:00, university_id=15)>,
 <Student (first_name=Ия, last_name=Соколова, stipend=100.0, course=1, city=Колпашево, birthdate=1995-06-25 00:00:00, university_id=18)>,
 <Student (first_name=Ирина, last_name=Медведева, stipend=100.0, course=1, city=None, birthdate=2000-08-22 00:00:00, university_id=15)>,
 <Student (first_name=Синицин, last_name=Кондрат, stipend=200.0, course=4, city=Ишим, birthdate=1995-02-23 00:00:00, university_id=18)>,
 <Student (first_name=Светлана, last_name=Мишина, stipend=150.0, course=2, city=Рыльск, birthdate=1997-05-22 00:00:00, university_id=18)>,
 <Student (first_name=Ирина, last_name=Сорокина, stipend=200.0, course=3, city=Усмань, birthdate=1993-09-28 00:00:00, university_id=48)>,
 <Student (first_name=Ирина, last_name=Жданова, stipend=200.0, course=3, city=Тверь, birthdate=2002-03-02 00:00:00, university_id=10)>,
 <Student (first_name=Ираида, last_name=Блохина, stipend=250.0, course=3, city=Новый Уренгой, birthdate=1997-03-23 00:00:00, university_id=22)>,
 <Student (first_name=Светлана, last_name=Мельникова, stipend=250.0, course=4, city=Кропоткин (Краснод.), birthdate=1998-03-24 00:00:00, university_id=15)>,
 <Student (first_name=Самуил, last_name=Никитин, stipend=250.0, course=4, city=Златоуст, birthdate=1997-07-15 00:00:00, university_id=47)>,
 <Student (first_name=Икром, last_name=Назаров, stipend=150.0, course=4, city=Саянск, birthdate=2001-12-15 00:00:00, university_id=47)>,
 <Student (first_name=Софон, last_name=Захаров, stipend=150.0, course=3, city=Мурманск, birthdate=1994-03-19 00:00:00, university_id=46)>,
 <Student (first_name=Иннокентий, last_name=Колобов, stipend=200.0, course=3, city=Троицк (Челяб.), birthdate=1993-07-23 00:00:00, university_id=22)>,
 <Student (first_name=Савва, last_name=Юдин, stipend=0.0, course=2, city=Усинск, birthdate=2001-12-02 00:00:00, university_id=18)>,
 <Student (first_name=Ипат, last_name=Комаров, stipend=0.0, course=1, city=Нерчинск, birthdate=2000-07-17 00:00:00, university_id=14)>,
 <Student (first_name=Семен, last_name=Симонов, stipend=100.0, course=5, city=Беломорск, birthdate=2000-03-17 00:00:00, university_id=22)>]

In [26]:
@task("9")
def ninth():
    """
    Напишите запрос для получения списка предметов обучения,
    названия которых состоят из более одного слова.
    """
    query: Query = db.session.query(
        Subject
    ).filter(
        Subject.name.like('% %')
    )
    pprint(query.all())
    
    
ninth()

9. Напишите запрос для получения списка предметов обучения,
 названия которых состоят из более одного слова.

[<Subject (name=Анализ данных, hour=42, semester=1)>]

In [27]:
@task("10")
def tenth():
    """
    Напишите запрос для получения списка студентов,
    фамилии которых состоят из трех букв.
    """
    query: Query = db.session.query(
        Student
    ).filter(
        func.length(Student.last_name) == 3
    )
    pprint(query.all())
    
    
tenth()

10. Напишите запрос для получения списка студентов,
 фамилии которых состоят из трех букв.

[<Student (first_name=Бернар, last_name=Шоу, stipend=120.0, course=2, city=Ульяновск, birthdate=1979-08-05 00:00:00, university_id=44)>,
 <Student (first_name=Джон, last_name=Доу, stipend=120.0, course=2, city=Ульяновск, birthdate=1979-08-05 00:00:00, university_id=44)>]

In [28]:
@task("11")
def eleventh():
    """
    Составьте запрос для таблицы STUDENT таким образом,
    чтобы получить результат в следующем виде.
    Распечатайте первые 9 записей результата.

    И. Иванов   1982-12-03
    П. Петров   1980-12-01
    В. Сидоров  1979-06-07
    """
    query: Query = db.session.query(
        Student.first_name, Student.last_name, Student.birthdate
    ).limit(9)
    pprint([f"{i[0][0]}. {i[1]}   {datetime.strftime(i[2], '%Y-%m-%d')}" for i in query.all()])

    
eleventh()

11. Составьте запрос для таблицы STUDENT таким образом,
 чтобы получить результат в следующем виде.
 Распечатайте первые 9 записей результата.

 И. Иванов 1982-12-03
 П. Петров 1980-12-01
 В. Сидоров 1979-06-07

['И. Иванов   1982-12-03',
 'П. Петров   1980-12-01',
 'В. Сидоров   1979-06-07',
 'Б. Кузнецов   1981-12-08',
 'О. Зайцева   1981-05-01',
 'П. Котов   2021-02-28',
 'В. Белкин   1980-01-07',
 'Е. Сергеева   1997-07-04',
 'В. Кудряшова   2002-02-18']

In [29]:
@task("12")
def twelve():
    """
    Напишите запрос для получения списка студентов,
    фамилии которых начинаются на ‘Ков’ или на ‘Куз’.
    """
    query: Query = db.session.query(
        Student
    ).filter(
        or_(Student.last_name.startswith('Ков'), Student.last_name.startswith('Куз'))
    )
    pprint(query.all())
    
    
twelve()

12. Напишите запрос для получения списка студентов,
 фамилии которых начинаются на ‘Ков’ или на ‘Куз’.

[<Student (first_name=Борис, last_name=Кузнецов, stipend=0.0, course=2, city=Брянск, birthdate=1981-12-08 00:00:00, university_id=10)>,
 <Student (first_name=Ефим, last_name=Ковалев, stipend=200.0, course=2, city=Волгоград, birthdate=1995-11-28 00:00:00, university_id=47)>]

In [30]:
@task("13")
def thirteenth():
    """
    Напишите запрос для получения списка предметов,
    названия которых оканчиваются на ‘ия’.
    """
    query: Query = db.session.query(
        Subject
    ).filter(
        Subject.name.endswith('ия')
    )
    pprint(query.all())
    
    
thirteenth()

13. Напишите запрос для получения списка предметов,
 названия которых оканчиваются на ‘ия’.

[<Subject (name=История, hour=34, semester=4)>]

In [31]:
@task("14")
def fourteenth():
    """
    Напишите запрос для выбора из таблицы EXAM_MARKS записей,
    для которых отсутствуют значения оценок (поле MARK).
    """
    query: Query = db.session.query(
        ExamMark
    ).filter(
        ExamMark.mark.is_(None)
    )
    pprint(query.all())
    
    
fourteenth()

14. Напишите запрос для выбора из таблицы EXAM_MARKS записей,
 для которых отсутствуют значения оценок (поле MARK).

[<ExamMark (mark=None, date=1999-06-22 00:00:00, student_id=55, subject_id=10)>]

In [32]:
@task("15")
def fifteenth():
    """
    Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий,
    при этом значения стипендий должны быть увеличены в 100 раз.
    """
    query: Query = db.session.query(
        Student.last_name, Student.first_name, Student.stipend * 100
    )
    pprint(query.all())
    
    
fifteenth()

15. Составьте запрос, выводящий фамилии, имена студентов и величину получаемых ими стипендий,
 при этом значения стипендий должны быть увеличены в 100 раз.

[('Иванов', 'Иван', 15000.0),
 ('Петров', 'Петр', 20000.0),
 ('Сидоров', 'Вадим', 15000.0),
 ('Кузнецов', 'Борис', 0.0),
 ('Зайцева', 'Ольга', 25000.0),
 ('Котов', 'Павел', 15000.0),
 ('Белкин', 'Вадим', 25000.0),
 ('Сергеева', 'Елизавета', 15000.0),
 ('Кудряшова', 'Вера', 10000.0),
 ('Журавлева', 'Вера', 0.0),
 ('Дементьева', 'Софья', 15000.0),
 ('Рожкова', 'Пелагея', 0.0),
 ('Соколова', 'Ия', 10000.0),
 ('Семенова', 'Вероника', 0.0),
 ('Медведева', 'Ирина', 10000.0),
 ('Афанасьева', 'Оксана', 25000.0),
 ('Сергеева', 'Фёкла', 10000.0),
 ('Некрасова', 'Вероника', 25000.0),
 ('Игнатьева', 'Оксана', 20000.0),
 ('Казакова', 'Ольга', 25000.0),
 ('Шубина', 'Елена', 0.0),
 ('Миронова', 'Анна', 20000.0),
 ('Кондрат', 'Синицин', 20000.0),
 ('Пономарева', 'Алина', 25000.0),
 ('Одинцова', 'Лидия', 10000.0),
 ('Гуляева', 'Рукижат', 0.0),
 ('Игнатова', 'Зинаида', 10000.0),
 ('Мельникова', 'Дарья', 10000.0),
 ('Мишина', 'Светлана', 15000.0),
 ('Агафонов', 'Василий', 15000.0),
 ('Афанасьева', 'Анжелика', 0.0),
 ('Фролова', 'Василиса', 10000.0),
 ('Лихачева', 'Нина', 15000.0),
 ('Лапина', 'Элеонора', 15000.0),
 ('Сорокина', 'Ирина', 20000.0),
 ('Шашкова', 'Галина', 15000.0),
 ('Казакова', 'Мария', 15000.0),
 ('Жукова', 'Фекла', 15000.0),
 ('Зимина', 'Виктория', 10000.0),
 ('Жданова', 'Ирина', 20000.0),
 ('Валерия', 'Овчинникова', 20000.0),
 ('Костина', 'Кира', 0.0),
 ('Блохина', 'Ираида', 25000.0),
 ('Мельникова', 'Светлана', 25000.0),
 ('Щербакова', 'Агата', 25000.0),
 ('Васильева', 'Оксана', 0.0),
 ('Сорокина', 'Валерия', 15000.0),
 ('Тимофеева', 'Фаина', 15000.0),
 ('Вишнякова', 'Анжела', 20000.0),
 ('Суравьева', 'Фаина', 15000.0),
 ('Борисова', 'Марина', 15000.0),
 ('Никитин', 'Самуил', 25000.0),
 ('Калашников', 'Евгений', 20000.0),
 ('Петров', 'Касьян', 20000.0),
 ('Трофимов', 'Владислав', 25000.0),
 ('Бирюков', 'Герасим', 0.0),
 ('Антонов', 'Анатолий', 10000.0),
 ('Медведев', 'Владимир', 20000.0),
 ('Морозов', 'Кирилл', 25000.0),
 ('Назаров', 'Икром', 15000.0),
 ('Дмитриев', 'Павел', 20000.0),
 ('Суханов', 'Константин', 25000.0),
 ('Карпов', 'Лука', 20000.0),
 ('Захаров', 'Софон', 15000.0),
 ('Аксенов', 'Валерий', 20000.0),
 ('Панов', 'Арсений', 25000.0),
 ('Колобов', 'Иннокентий', 20000.0),
 ('Федоров', 'Гостомысл', 10000.0),
 ('Лазарев', 'Константин', 10000.0),
 ('Кондратьев', 'Николай', 15000.0),
 ('Бирюков', 'Архип', 20000.0),
 ('Горский', 'Радмил', 10000.0),
 ('Воронова', 'Антонина', 0.0),
 ('Гордеев', 'Филипп', 20000.0),
 ('Веселов', 'Тимур', 15000.0),
 ('Юдин', 'Савва', 0.0),
 ('Пономарев', 'Варфоромей', 20000.0),
 ('Жуков', 'Пров', 0.0),
 ('Кудравцев', 'Пахом', 15000.0),
 ('Васильев', 'Матвей', 10000.0),
 ('Нестеров', 'Арсений', 15000.0),
 ('Кудряшов', 'Роман', 25000.0),
 ('Ковалев', 'Ефим', 20000.0),
 ('Мамонтов', 'Максим', 0.0),
 ('Жуковский', 'Юрий', 15000.0),
 ('Копылов', 'Борис', 0.0),
 ('Комаров', 'Ипат', 0.0),
 ('Ефимов', 'Яков', 20000.0),
 ('Кулаков', 'Феофан', 15000.0),
 ('Уваров', 'Тынгиз', 0.0),
 ('Журавлев', 'Фома', 20000.0),
 ('Ширяев', 'Андрей', 15000.0),
 ('Ершов', 'Митрофан', 25000.0),
 ('Бобылев', 'Михаил', 10000.0),
 ('Бирюков', 'Мартин', 10000.0),
 ('Ситников', 'Викентий', 15000.0),
 ('Агафонов', 'Хасан', 20000.0),
 ('Русаков', 'Давид', 25000.0),
 ('Симонов', 'Семен', 10000.0),
 ('Гуляев', 'Кузьма', 15000.0),
 ('Вячеслав', 'Пахомов', 25000.0),
 ('Баранов', 'Александр', 22000.0),
 ('Архипов', 'Андрей', 18000.0),
 ('Владимиров', 'Анатолий', 20000.0),
 ('Петрова', 'Екатерина', 25000.0),
 ('Петров', 'Вадим', 25000.0),
 ('Иванова', 'Мария', 20000.0),
 ('Киселев', 'Владимир', 21000.0),
 ('Миронова', 'Федор', 20000.0),
 ('Павлов', 'Андрей', 0.0),
 ('Петров', 'Антон', 20000.0),
 ('Лукин', 'Артем', 20000.0),
 ('Шоу', 'Бернар', 12000.0),
 ('Доу', 'Джон', 12000.0)]

In [33]:
@task("16")
def sixteenth():
    """
    Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица
    содержала всего один столбец в следующем виде: Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.
    """
    query: Query = db.session.query(
        University.id, University.name, University.city, University.rating
    )
    pprint([f"Код-{i[0]}; {i[1]}-г.{i[2].upper()}; Рейтинг={i[3]}." for i in query.all()])
    
    
sixteenth()

16. Составьте запрос для таблицы UNIVERSITY таким образом, чтобы выходная таблица
 содержала всего один столбец в следующем виде: Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.

['Код-10; ВГУ-г.ВОРОНЕЖ; Рейтинг=296.',
 'Код-11; НГУ-г.НОВОСИБИРСК; Рейтинг=345.',
 'Код-14; БГУ-г.БЕЛГОРОД; Рейтинг=326.',
 'Код-15; ТГУ-г.ТОМСК; Рейтинг=368.',
 'Код-18; ВГМА-г.ВОРОНЕЖ; Рейтинг=327.',
 'Код-22; МГУ-г.МОСКВА; Рейтинг=400.',
 'Код-32; РГУ-г.РОСТОВ; Рейтинг=416.',
 'Код-44; ФинУ-г.МОСКВА; Рейтинг=330.',
 'Код-45; МГТУ-г.МОСКВА; Рейтинг=372.',
 'Код-46; Политех-г.САНКТ-ПЕТЕРБУРГ; Рейтинг=300.',
 'Код-47; КФУ-г.КАЗАНЬ; Рейтинг=330.',
 'Код-48; УЛГУ-г.УЛЬЯНОВСК; Рейтинг=231.',
 'Код-49; МТУСИ-г.МОСКВА; Рейтинг=295.']

In [34]:
@task("17")
def seventeenth():
    """
    Напишите запрос для подсчета количества студентов,
    сдававших экзамен по предмету обучения с идентификатором 10.
    """
    query: Query = db.session.query(
        ExamMark
    ).filter(
        ExamMark.subject_id == 10
    )
    pprint(query.count())
    
    
seventeenth()

17. Напишите запрос для подсчета количества студентов,
 сдававших экзамен по предмету обучения с идентификатором 10.

10

In [35]:
@task("18")
def eighteenth():
    """
    Напишите запрос, который позволяет подсчитать в таблице
    EXAM_MARKS количество различных предметов обучения.
    """
    query: Query = db.session.query(
        ExamMark.subject_id
    ).distinct()
    pprint(query.count())
    
    
eighteenth()

18. Напишите запрос, который позволяет подсчитать в таблице
 EXAM_MARKS количество различных предметов обучения.

9

In [36]:
@task("19")
def nineteenth():
    """
    Напишите запрос, который для каждого студента выполняет
    выборку его идентификатора и минимальной из полученных им оценок.
    """
    query: Query = db.session.query(
        Student, func.min(ExamMark.mark)
    ).join(ExamMark).group_by(
        ExamMark.student_id
    )
    pprint(query.all())
    
    
nineteenth()

19. Напишите запрос, который для каждого студента выполняет
 выборку его идентификатора и минимальной из полученных им оценок.

[(<Student (first_name=Иван, last_name=Иванов, stipend=150.0, course=1, city=Орел, birthdate=1982-12-03 00:00:00, university_id=10)>,
  1),
 (<Student (first_name=Вадим, last_name=Сидоров, stipend=150.0, course=4, city=Москва, birthdate=1979-06-07 00:00:00, university_id=22)>,
  4),
 (<Student (first_name=Борис, last_name=Кузнецов, stipend=0.0, course=2, city=Брянск, birthdate=1981-12-08 00:00:00, university_id=10)>,
  5),
 (<Student (first_name=Ольга, last_name=Зайцева, stipend=250.0, course=2, city=Липецк, birthdate=1981-05-01 00:00:00, university_id=10)>,
  5),
 (<Student (first_name=Павел, last_name=Котов, stipend=150.0, course=5, city=Белгород, birthdate=2021-02-28 00:00:00, university_id=14)>,
  4),
 (<Student (first_name=Вадим, last_name=Белкин, stipend=250.0, course=5, city=Воронеж, birthdate=1980-01-07 00:00:00, university_id=10)>,
  5),
 (<Student (first_name=Вероника, last_name=Семенова, stipend=0.0, course=3, city=Вологда, birthdate=1997-10-04 00:00:00, university_id=10)>,
  4),
 (<Student (first_name=Оксана, last_name=Афанасьева, stipend=250.0, course=1, city=None, birthdate=2000-11-16 00:00:00, university_id=47)>,
  4),
 (<Student (first_name=Фёкла, last_name=Сергеева, stipend=100.0, course=5, city=Лянтор, birthdate=2000-02-19 00:00:00, university_id=10)>,
  1),
 (<Student (first_name=Синицин, last_name=Кондрат, stipend=200.0, course=4, city=Ишим, birthdate=1995-02-23 00:00:00, university_id=18)>,
  3),
 (<Student (first_name=Лидия, last_name=Одинцова, stipend=100.0, course=5, city=Верхний Баскунчак, birthdate=1995-03-07 00:00:00, university_id=44)>,
  1),
 (<Student (first_name=Дарья, last_name=Мельникова, stipend=100.0, course=5, city=Архангельск, birthdate=1993-08-01 00:00:00, university_id=10)>,
  2),
 (<Student (first_name=Светлана, last_name=Мишина, stipend=150.0, course=2, city=Рыльск, birthdate=1997-05-22 00:00:00, university_id=18)>,
  1),
 (<Student (first_name=Анжелика, last_name=Афанасьева, stipend=0.0, course=2, city=Уфа, birthdate=1996-11-22 00:00:00, university_id=32)>,
  1),
 (<Student (first_name=Элеонора, last_name=Лапина, stipend=150.0, course=3, city=Джубга, birthdate=1997-11-23 00:00:00, university_id=45)>,
  5),
 (<Student (first_name=Ирина, last_name=Сорокина, stipend=200.0, course=3, city=Усмань, birthdate=1993-09-28 00:00:00, university_id=48)>,
  1),
 (<Student (first_name=Мария, last_name=Казакова, stipend=150.0, course=4, city=Нальчик, birthdate=1994-02-18 00:00:00, university_id=32)>,
  1),
 (<Student (first_name=Ирина, last_name=Жданова, stipend=200.0, course=3, city=Тверь, birthdate=2002-03-02 00:00:00, university_id=10)>,
  5),
 (<Student (first_name=Кира, last_name=Костина, stipend=0.0, course=4, city=Устюжна, birthdate=1995-07-15 00:00:00, university_id=14)>,
  4),
 (<Student (first_name=Ираида, last_name=Блохина, stipend=250.0, course=3, city=Новый Уренгой, birthdate=1997-03-23 00:00:00, university_id=22)>,
  5),
 (<Student (first_name=Светлана, last_name=Мельникова, stipend=250.0, course=4, city=Кропоткин (Краснод.), birthdate=1998-03-24 00:00:00, university_id=15)>,
  5),
 (<Student (first_name=Анжела, last_name=Вишнякова, stipend=200.0, course=2, city=Иваново, birthdate=2002-02-10 00:00:00, university_id=46)>,
  1),
 (<Student (first_name=Марина, last_name=Борисова, stipend=150.0, course=1, city=Рославль, birthdate=1995-08-07 00:00:00, university_id=10)>,
  5),
 (<Student (first_name=Евгений, last_name=Калашников, stipend=200.0, course=2, city=Калининград, birthdate=1998-02-27 00:00:00, university_id=48)>,
  2),
 (<Student (first_name=Владислав, last_name=Трофимов, stipend=250.0, course=5, city=Верхоянск, birthdate=1995-03-24 00:00:00, university_id=11)>,
  2),
 (<Student (first_name=Анатолий, last_name=Антонов, stipend=100.0, course=1, city=Сыктывкар, birthdate=1997-04-08 00:00:00, university_id=22)>,
  3),
 (<Student (first_name=Константин, last_name=Суханов, stipend=250.0, course=3, city=Курск, birthdate=1996-11-22 00:00:00, university_id=14)>,
  1),
 (<Student (first_name=Гостомысл, last_name=Федоров, stipend=100.0, course=4, city=Новый Уренгой, birthdate=2000-11-16 00:00:00, university_id=10)>,
  1),
 (<Student (first_name=Константин, last_name=Лазарев, stipend=100.0, course=2, city=Славянск-на-Кубани, birthdate=1998-05-22 00:00:00, university_id=47)>,
  4),
 (<Student (first_name=Тимур, last_name=Веселов, stipend=150.0, course=1, city=Невинномысск, birthdate=1994-04-28 00:00:00, university_id=11)>,
  2),
 (<Student (first_name=Пров, last_name=Жуков, stipend=0.0, course=3, city=Кыштым, birthdate=1993-09-11 00:00:00, university_id=11)>,
  1),
 (<Student (first_name=Матвей, last_name=Васильев, stipend=100.0, course=1, city=Чебоксары, birthdate=2000-07-18 00:00:00, university_id=46)>,
  3),
 (<Student (first_name=Пахомов, last_name=Вячеслав, stipend=250.0, course=3, city=Игарка, birthdate=1997-05-14 00:00:00, university_id=14)>,
  2),
 (<Student (first_name=Екатерина, last_name=Петрова, stipend=250.0, course=4, city=Белгород, birthdate=1999-05-21 00:00:00, university_id=14)>,
  3)]

In [37]:
@task("20")
def twentieth():
    """
    Напишите запрос, который для каждого предмета обучения выводит
    наименование предмета и максимальное значение номера семестра,
    в котором этот предмет преподается.
    """
    query: Query = db.session.query(
        Subject.name, func.max(Subject.semester)
    ).group_by(
        Subject.name
    )
    pprint(query.all())
    
    
twentieth()

20. Напишите запрос, который для каждого предмета обучения выводит
 наименование предмета и максимальное значение номера семестра,
 в котором этот предмет преподается.

[('Анализ данных', 1),
 ('Английский', 3),
 ('Информатика', 1),
 ('История', 4),
 ('Математика', 2),
 ('ОБЖ', 2),
 ('Программирование', 2),
 ('Физика', 1),
 ('Физкультура', 5)]

In [39]:
@task("21")
def twenty_first():
    """
    Напишите запрос, который для каждого конкретного дня сдачи экзамена
    выводит данные о количестве студентов, сдававших экзамен в этот день.
    """
    query: Query = db.session.query(
        ExamMark.date, func.count(ExamMark.student_id)
    ).group_by(
        ExamMark.date
    )
    pprint(query.all())
    
    
twenty_first()

21. Напишите запрос, который для каждого конкретного дня сдачи экзамена
 выводит данные о количестве студентов, сдававших экзамен в этот день.

[(datetime.datetime(1999, 6, 17, 0, 0), 1),
 (datetime.datetime(1999, 6, 22, 0, 0), 1),
 (datetime.datetime(2000, 1, 5, 0, 0), 1),
 (datetime.datetime(2000, 1, 18, 0, 0), 1),
 (datetime.datetime(2000, 1, 23, 0, 0), 1),
 (datetime.datetime(2006, 1, 12, 0, 0), 1),
 (datetime.datetime(2019, 5, 11, 0, 0), 1),
 (datetime.datetime(2019, 6, 8, 0, 0), 1),
 (datetime.datetime(2019, 7, 4, 0, 0), 1),
 (datetime.datetime(2019, 7, 6, 0, 0), 1),
 (datetime.datetime(2019, 7, 24, 0, 0), 1),
 (datetime.datetime(2019, 8, 14, 0, 0), 1),
 (datetime.datetime(2019, 8, 30, 0, 0), 1),
 (datetime.datetime(2019, 9, 2, 0, 0), 1),
 (datetime.datetime(2019, 10, 28, 0, 0), 1),
 (datetime.datetime(2019, 12, 17, 0, 0), 1),
 (datetime.datetime(2019, 12, 25, 0, 0), 1),
 (datetime.datetime(2019, 12, 31, 0, 0), 1),
 (datetime.datetime(2020, 2, 10, 0, 0), 1),
 (datetime.datetime(2020, 2, 22, 0, 0), 1),
 (datetime.datetime(2020, 3, 13, 0, 0), 1),
 (datetime.datetime(2020, 3, 20, 0, 0), 1),
 (datetime.datetime(2020, 3, 21, 0, 0), 1),
 (datetime.datetime(2020, 4, 6, 0, 0), 1),
 (datetime.datetime(2020, 5, 4, 0, 0), 1),
 (datetime.datetime(2020, 5, 10, 0, 0), 1),
 (datetime.datetime(2020, 5, 13, 0, 0), 1),
 (datetime.datetime(2020, 7, 26, 0, 0), 1),
 (datetime.datetime(2020, 8, 10, 0, 0), 1),
 (datetime.datetime(2020, 8, 18, 0, 0), 1),
 (datetime.datetime(2020, 9, 9, 0, 0), 1),
 (datetime.datetime(2020, 9, 21, 0, 0), 1),
 (datetime.datetime(2020, 10, 24, 0, 0), 1),
 (datetime.datetime(2020, 12, 3, 0, 0), 1),
 (datetime.datetime(2020, 12, 4, 0, 0), 1),
 (datetime.datetime(2020, 12, 23, 0, 0), 1),
 (datetime.datetime(2021, 2, 10, 0, 0), 1),
 (datetime.datetime(2021, 3, 1, 0, 0), 1),
 (datetime.datetime(2021, 3, 7, 0, 0), 1),
 (datetime.datetime(2021, 3, 14, 0, 0), 1),
 (datetime.datetime(2021, 3, 29, 0, 0), 1)]

In [40]:
@task("22")
def twenty_second():
    """
    Напишите запрос, выдающий средний балл для каждого студента.
    """
    query: Query = db.session.query(
        Student, func.avg(ExamMark.mark)
    ).join(ExamMark).group_by(
        ExamMark.student_id
    )
    pprint(query.all())
    
    
twenty_second()

22. Напишите запрос, выдающий средний балл для каждого студента.

[(<Student (first_name=Иван, last_name=Иванов, stipend=150.0, course=1, city=Орел, birthdate=1982-12-03 00:00:00, university_id=10)>,
  1.0),
 (<Student (first_name=Вадим, last_name=Сидоров, stipend=150.0, course=4, city=Москва, birthdate=1979-06-07 00:00:00, university_id=22)>,
  4.0),
 (<Student (first_name=Борис, last_name=Кузнецов, stipend=0.0, course=2, city=Брянск, birthdate=1981-12-08 00:00:00, university_id=10)>,
  5.0),
 (<Student (first_name=Ольга, last_name=Зайцева, stipend=250.0, course=2, city=Липецк, birthdate=1981-05-01 00:00:00, university_id=10)>,
  5.0),
 (<Student (first_name=Павел, last_name=Котов, stipend=150.0, course=5, city=Белгород, birthdate=2021-02-28 00:00:00, university_id=14)>,
  4.0),
 (<Student (first_name=Вадим, last_name=Белкин, stipend=250.0, course=5, city=Воронеж, birthdate=1980-01-07 00:00:00, university_id=10)>,
  5.0),
 (<Student (first_name=Вероника, last_name=Семенова, stipend=0.0, course=3, city=Вологда, birthdate=1997-10-04 00:00:00, university_id=10)>,
  4.0),
 (<Student (first_name=Оксана, last_name=Афанасьева, stipend=250.0, course=1, city=None, birthdate=2000-11-16 00:00:00, university_id=47)>,
  4.0),
 (<Student (first_name=Фёкла, last_name=Сергеева, stipend=100.0, course=5, city=Лянтор, birthdate=2000-02-19 00:00:00, university_id=10)>,
  1.0),
 (<Student (first_name=Синицин, last_name=Кондрат, stipend=200.0, course=4, city=Ишим, birthdate=1995-02-23 00:00:00, university_id=18)>,
  3.0),
 (<Student (first_name=Лидия, last_name=Одинцова, stipend=100.0, course=5, city=Верхний Баскунчак, birthdate=1995-03-07 00:00:00, university_id=44)>,
  1.0),
 (<Student (first_name=Дарья, last_name=Мельникова, stipend=100.0, course=5, city=Архангельск, birthdate=1993-08-01 00:00:00, university_id=10)>,
  2.0),
 (<Student (first_name=Светлана, last_name=Мишина, stipend=150.0, course=2, city=Рыльск, birthdate=1997-05-22 00:00:00, university_id=18)>,
  1.0),
 (<Student (first_name=Анжелика, last_name=Афанасьева, stipend=0.0, course=2, city=Уфа, birthdate=1996-11-22 00:00:00, university_id=32)>,
  1.0),
 (<Student (first_name=Элеонора, last_name=Лапина, stipend=150.0, course=3, city=Джубга, birthdate=1997-11-23 00:00:00, university_id=45)>,
  5.0),
 (<Student (first_name=Ирина, last_name=Сорокина, stipend=200.0, course=3, city=Усмань, birthdate=1993-09-28 00:00:00, university_id=48)>,
  1.0),
 (<Student (first_name=Мария, last_name=Казакова, stipend=150.0, course=4, city=Нальчик, birthdate=1994-02-18 00:00:00, university_id=32)>,
  2.5),
 (<Student (first_name=Ирина, last_name=Жданова, stipend=200.0, course=3, city=Тверь, birthdate=2002-03-02 00:00:00, university_id=10)>,
  5.0),
 (<Student (first_name=Кира, last_name=Костина, stipend=0.0, course=4, city=Устюжна, birthdate=1995-07-15 00:00:00, university_id=14)>,
  4.0),
 (<Student (first_name=Ираида, last_name=Блохина, stipend=250.0, course=3, city=Новый Уренгой, birthdate=1997-03-23 00:00:00, university_id=22)>,
  5.0),
 (<Student (first_name=Светлана, last_name=Мельникова, stipend=250.0, course=4, city=Кропоткин (Краснод.), birthdate=1998-03-24 00:00:00, university_id=15)>,
  5.0),
 (<Student (first_name=Анжела, last_name=Вишнякова, stipend=200.0, course=2, city=Иваново, birthdate=2002-02-10 00:00:00, university_id=46)>,
  1.0),
 (<Student (first_name=Марина, last_name=Борисова, stipend=150.0, course=1, city=Рославль, birthdate=1995-08-07 00:00:00, university_id=10)>,
  5.0),
 (<Student (first_name=Евгений, last_name=Калашников, stipend=200.0, course=2, city=Калининград, birthdate=1998-02-27 00:00:00, university_id=48)>,
  2.0),
 (<Student (first_name=Владислав, last_name=Трофимов, stipend=250.0, course=5, city=Верхоянск, birthdate=1995-03-24 00:00:00, university_id=11)>,
  2.0),
 (<Student (first_name=Анатолий, last_name=Антонов, stipend=100.0, course=1, city=Сыктывкар, birthdate=1997-04-08 00:00:00, university_id=22)>,
  3.0),
 (<Student (first_name=Константин, last_name=Суханов, stipend=250.0, course=3, city=Курск, birthdate=1996-11-22 00:00:00, university_id=14)>,
  1.0),
 (<Student (first_name=Гостомысл, last_name=Федоров, stipend=100.0, course=4, city=Новый Уренгой, birthdate=2000-11-16 00:00:00, university_id=10)>,
  1.0),
 (<Student (first_name=Константин, last_name=Лазарев, stipend=100.0, course=2, city=Славянск-на-Кубани, birthdate=1998-05-22 00:00:00, university_id=47)>,
  4.0),
 (<Student (first_name=Тимур, last_name=Веселов, stipend=150.0, course=1, city=Невинномысск, birthdate=1994-04-28 00:00:00, university_id=11)>,
  2.0),
 (<Student (first_name=Пров, last_name=Жуков, stipend=0.0, course=3, city=Кыштым, birthdate=1993-09-11 00:00:00, university_id=11)>,
  1.0),
 (<Student (first_name=Матвей, last_name=Васильев, stipend=100.0, course=1, city=Чебоксары, birthdate=2000-07-18 00:00:00, university_id=46)>,
  4.0),
 (<Student (first_name=Пахомов, last_name=Вячеслав, stipend=250.0, course=3, city=Игарка, birthdate=1997-05-14 00:00:00, university_id=14)>,
  2.0),
 (<Student (first_name=Екатерина, last_name=Петрова, stipend=250.0, course=4, city=Белгород, birthdate=1999-05-21 00:00:00, university_id=14)>,
  3.0)]

In [42]:
@task("23")
def twenty_third():
    """
    Напишите запрос, выдающий средний балл для каждого экзамена.
    """
    query: Query = db.session.query(ExamMark)
    pprint(query.all())
    
    
twenty_third()

23. Напишите запрос, выдающий средний балл для каждого экзамена.

[<ExamMark (mark=1, date=2020-07-26 00:00:00, student_id=97, subject_id=10)>,
 <ExamMark (mark=4, date=2020-12-23 00:00:00, student_id=85, subject_id=73)>,
 <ExamMark (mark=4, date=2020-03-20 00:00:00, student_id=64, subject_id=73)>,
 <ExamMark (mark=1, date=2020-08-10 00:00:00, student_id=126, subject_id=56)>,
 <ExamMark (mark=3, date=2020-05-10 00:00:00, student_id=71, subject_id=10)>,
 <ExamMark (mark=4, date=2020-04-06 00:00:00, student_id=117, subject_id=56)>,
 <ExamMark (mark=1, date=2021-02-10 00:00:00, student_id=79, subject_id=12)>,
 <ExamMark (mark=1, date=2020-03-13 00:00:00, student_id=116, subject_id=12)>,
 <ExamMark (mark=5, date=2020-02-22 00:00:00, student_id=91, subject_id=22)>,
 <ExamMark (mark=1, date=2019-12-25 00:00:00, student_id=110, subject_id=22)>,
 <ExamMark (mark=2, date=2020-12-04 00:00:00, student_id=76, subject_id=56)>,
 <ExamMark (mark=5, date=2019-09-02 00:00:00, student_id=88, subject_id=56)>,
 <ExamMark (mark=2, date=2020-02-10 00:00:00, student_id=76, subject_id=12)>,
 <ExamMark (mark=1, date=2019-07-24 00:00:00, student_id=85, subject_id=13)>,
 <ExamMark (mark=4, date=2021-03-01 00:00:00, student_id=62, subject_id=94)>,
 <ExamMark (mark=5, date=2019-08-14 00:00:00, student_id=92, subject_id=10)>,
 <ExamMark (mark=5, date=2020-05-04 00:00:00, student_id=99, subject_id=94)>,
 <ExamMark (mark=2, date=2019-05-11 00:00:00, student_id=101, subject_id=94)>,
 <ExamMark (mark=3, date=2021-03-07 00:00:00, student_id=128, subject_id=73)>,
 <ExamMark (mark=3, date=2019-12-31 00:00:00, student_id=203, subject_id=43)>,
 <ExamMark (mark=2, date=2020-05-13 00:00:00, student_id=123, subject_id=56)>,
 <ExamMark (mark=3, date=2020-03-21 00:00:00, student_id=105, subject_id=10)>,
 <ExamMark (mark=4, date=2019-08-30 00:00:00, student_id=90, subject_id=22)>,
 <ExamMark (mark=2, date=2021-03-29 00:00:00, student_id=101, subject_id=13)>,
 <ExamMark (mark=1, date=2019-07-04 00:00:00, student_id=77, subject_id=12)>,
 <ExamMark (mark=1, date=2020-08-18 00:00:00, student_id=83, subject_id=22)>,
 <ExamMark (mark=5, date=2020-09-21 00:00:00, student_id=128, subject_id=13)>,
 <ExamMark (mark=5, date=2019-10-28 00:00:00, student_id=10, subject_id=12)>,
 <ExamMark (mark=1, date=2020-10-24 00:00:00, student_id=1, subject_id=43)>,
 <ExamMark (mark=5, date=2019-07-06 00:00:00, student_id=82, subject_id=56)>,
 <ExamMark (mark=1, date=2019-12-17 00:00:00, student_id=73, subject_id=11)>,
 <ExamMark (mark=1, date=2020-09-09 00:00:00, student_id=65, subject_id=73)>,
 <ExamMark (mark=2, date=2021-03-14 00:00:00, student_id=103, subject_id=22)>,
 <ExamMark (mark=4, date=2000-01-23 00:00:00, student_id=32, subject_id=10)>,
 <ExamMark (mark=4, date=2000-01-18 00:00:00, student_id=6, subject_id=22)>,
 <ExamMark (mark=5, date=2000-01-05 00:00:00, student_id=55, subject_id=10)>,
 <ExamMark (mark=2, date=2019-06-08 00:00:00, student_id=149, subject_id=13)>,
 <ExamMark (mark=5, date=2020-12-03 00:00:00, student_id=15, subject_id=10)>,
 <ExamMark (mark=5, date=2006-01-12 00:00:00, student_id=12, subject_id=10)>,
 <ExamMark (mark=5, date=1999-06-17 00:00:00, student_id=12, subject_id=10)>,
 <ExamMark (mark=None, date=1999-06-22 00:00:00, student_id=55, subject_id=10)>]