In [472]:
import pandas as pd
import datetime as dt
import numpy as np

In [473]:
df = pd.read_csv('data/Titanic.csv', sep=',')
df.head()

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1

### 3\. Ознакомиться с основными параметрами датасета, используя функции библиотеки pandas, включая следующие данные:

In [474]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      1313 non-null   object
 1   PClass    1312 non-null   object
 2   Age       756 non-null    float64
 3   Sex       1313 non-null   object
 4   Survived  1313 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 51.4+ KB

In [475]:
# Количество точек данных (измерений) в наборе
df.shape[1]

5

In [476]:
# Количество полей данных (атрибутов)
df.shape[0]

1313

In [477]:
# Тип данных каждого поля, шкала каждого поля
pd.concat([
    df.dtypes.rename('dtype'),
    df.apply(lambda s: s.unique()).rename('scale')
], axis=1)

            dtype                                              scale
Name       object  [Allen, Miss Elisabeth Walton, Allison, Miss H...
PClass     object                               [1st, 2nd, nan, 3rd]
Age       float64  [29.0, 2.0, 30.0, 25.0, 0.92, 47.0, 63.0, 39.0...
Sex        object                                     [female, male]
Survived    int64                                             [1, 0]

In [478]:
# Количество отсутствующих значений для каждого поля
df.isna().sum()

Name          0
PClass        1
Age         557
Sex           0
Survived      0
dtype: int64

In [479]:
# Количество и названия константных и уникальных полей
df.apply(lambda s: (u := len(s.unique())) == 1 or u == len(s)).rename('const_or_uniq')

Name        False
PClass      False
Age         False
Sex         False
Survived    False
Name: const_or_uniq, dtype: bool

### 4. Удалить из набора поля, не несущие информативной нагрузки - содержащие уникальные либо константные значения

In [480]:
df: pd.DataFrame = df.drop('Name', axis=1)
df.head()

  PClass    Age     Sex  Survived
0    1st  29.00  female         1
1    1st   2.00  female         0
2    1st  30.00    male         0
3    1st  25.00  female         0
4    1st   0.92    male         1

### 5. Заменить возраст пассажиров на год рождения

In [481]:
df['Age'] = df['Age'].fillna(df['Age'].mean())  # задание 7 заранее
df['Age'] = (dt.datetime.now().year - df['Age']).astype(int)
df = df.rename(columns={'Age': 'birth_year'})
df.head()

  PClass  birth_year     Sex  Survived
0    1st        1993  female         1
1    1st        2020  female         0
2    1st        1992    male         0
3    1st        1997  female         0
4    1st        2021    male         1

### 6. Переименовать все названия колонок на русском языке

In [482]:
df = df.rename(columns={'PClass': 'Класс пассажира', 'birth_year': 'Год рождения', 'Sex': 'Пол', 'Survived': 'Выживший'})
df.head()

  Класс пассажира  Год рождения     Пол  Выживший
0             1st          1993  female         1
1             1st          2020  female         0
2             1st          1992    male         0
3             1st          1997  female         0
4             1st          2021    male         1

### 7. Заменить все отсутствующие данные средним значением (в случае числового поля) либо самым распространенным в категориальных полях.

In [483]:
df.isna().sum()

Класс пассажира    1
Год рождения       0
Пол                0
Выживший           0
dtype: int64

In [484]:
p_class = df['Класс пассажира']
df['Класс пассажира'] = p_class.fillna(p_class.mode().item())

In [485]:
df.isna().sum()

Класс пассажира    0
Год рождения       0
Пол                0
Выживший           0
dtype: int64

### 8. Сохранить получившийся набор данных в формате CSV

In [486]:
df.to_csv('data/tidy.csv', encoding='cp1251', index=False, sep=';')

### 10. Считать файл .xlsx в новый DataFrame

In [487]:
xl_df = pd.read_excel('data/tidy.xlsx')
print(np.all(xl_df == df))
xl_df.head()

True

  Класс пассажира  Год рождения     Пол  Выживший
0             1st          1993  female         1
1             1st          2020  female         0
2             1st          1992    male         0
3             1st          1997  female         0
4             1st          2021    male         1