# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [923]:
import pandas as pd

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [924]:
sp500_df = pd.read_csv(
    'sem/data/sp500hst.txt',
    sep=',',
    names=['date', 'ticker', 'open', 'high', 'low', 'close', 'volume']
)
sp500_df['date'] = pd.to_datetime(sp500_df['date'], format='%Y%m%d')
sp500_df

             date ticker   open     high     low  close  volume
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176
...           ...    ...    ...      ...     ...    ...     ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов с номерами 3-6.

In [925]:
sp500_df.iloc[:, 3:6].mean()

high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [926]:
sp500_df['month'] = sp500_df['date'].dt.month
sp500_df

             date ticker   open     high     low  close  volume  month
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8
...           ...    ...    ...      ...     ...    ...     ...    ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для одинаковых значений тикеров.

In [927]:
sp500_df.groupby('ticker')['volume'].sum()

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [928]:
month = 'month'
if month in sp500_df.columns:
    sp500_df = sp500_df.drop(month, axis=1)

sp500_names_df = pd.read_csv(
    'sem/data/sp_data2.csv',
    sep=';',
    names=['ticker', 'name'],
    usecols=[0, 1]
)

sp500_df = sp500_df.merge(sp500_names_df, on='ticker', how='left')
sp500_df

,date,ticker,open,high,low,close,volume,name
0,2009-08-21,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies
1,2009-08-24,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies
2,2009-08-25,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies
3,2009-08-26,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies
4,2009-08-27,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies
...,...,...,...,...,...,...,...,...
122569,2010-08-13,ZMH,51.72,51.9000,51.380,51.44,14561,NaN
122570,2010-08-16,ZMH,51.13,51.4700,50.600,51.00,13489,NaN
122571,2010-08-17,ZMH,51.14,51.6000,50.890,51.21,20498,NaN
122572,2010-08-19,ZMH,51.63,51.6300,50.170,50.22,18259,NaN
122573,2010-08-20,ZMH,50.03,50.5500,49.480,49.82,17792,NaN

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [929]:
recipes_df = pd.read_csv('sem/data/recipes_sample.csv', sep=',')
reviews_df = pd.read_csv('sem/data/reviews_sample.csv', sep=',', index_col=0, parse_dates=['date'])

print(f'recipes_sample:\n{recipes_df.head()}')
print(f'reviews_sample:\n{reviews_df.head()}')

recipes_sample:
                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

    submitted  n_steps                                        description  \
0  2002-10-25      NaN  an original recipe created by chef scott meska...
1  2003-07-26      NaN  my children and their friends ask for my homem...
2  2002-08-29      NaN            these were so go, it surprised even me.
3  2002-07-27      NaN  my sister-in-law made these for us at a family...
4  2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN
reviews_sample:
           user_id  recipe_id       date  rating  \
370476       21752      57993 2003-05-01       5
624300      431813     142201 2007-09-16       5
187037      400708     252013 2008-01-10       4
706134  2001852463     404716 2017-12-11       5
312179       95810     129396 2008-03-14       5

                                                   review
370476  Last week whole sides of frozen salmon fillet ...
624300  So simple and so tasty!  I used a yellow capsi...
187037  Very nice breakfast HH, easy to make and yummy...
706134  These are a favorite for the holidays and so e...
312179  Excellent soup!  The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [930]:
dfs = {
    'recipes_sample': {
        'name': 'recipes_sample',
        'df': recipes_df
    },
    'reviews_sample': {
        'name': 'reviews_sample',
        'df': reviews_df
    }
}
for key in dfs.keys():
    name, df = dfs[key]['name'], dfs[key]['df']
    print(name.upper())
    print(f'Кол-во строк: {df.shape[0]}')
    print(f'Кол-во столбцов: {df.shape[1]}')
    print(f'dtypes: {df.dtypes.to_dict()}\n')

RECIPES_SAMPLE
Кол-во строк: 30000
Кол-во столбцов: 8
dtypes: {'name': dtype('O'), 'id': dtype('int64'), 'minutes': dtype('int64'), 'contributor_id': dtype('int64'), 'submitted': dtype('O'), 'n_steps': dtype('float64'), 'description': dtype('O'), 'n_ingredients': dtype('float64')}

REVIEWS_SAMPLE
Кол-во строк: 126696
Кол-во столбцов: 5
dtypes: {'user_id': dtype('int64'), 'recipe_id': dtype('int64'), 'date': dtype('<M8[ns]'), 'rating': dtype('int64'), 'review': dtype('O')}

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [931]:
for key in dfs.keys():
    name, df = dfs[key]['name'], dfs[key]['df']
    print(name.upper())

    cols_with_null = df.isna().sum()
    cols_with_null = cols_with_null[cols_with_null != 0]
    print(f'Столбцы с пропусками:\n{cols_with_null}')

    total_rows = df.shape[0]
    rows_with_null = df.isna().sum(axis=1).astype(bool).sum()
    print(f'Доля строк с пропусками: {rows_with_null / total_rows}\n')

RECIPES_SAMPLE
Столбцы с пропусками:
n_steps          11190
description        623
n_ingredients     8880
dtype: int64
Доля строк с пропусками: 0.5684666666666667

REVIEWS_SAMPLE
Столбцы с пропусками:
review    17
dtype: int64
Доля строк с пропусками: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [932]:
dfs['recipes_sample']['meaningful_numerics'] = ['minutes', 'n_steps', 'n_ingredients']
dfs['reviews_sample']['meaningful_numerics'] = ['rating']

for key in dfs.keys():
    name, df = dfs[key]['name'], dfs[key]['df']
    meaningful_numerics = dfs[key]['meaningful_numerics']
    print(name.upper())

    print(f'Среднее:\n{df[meaningful_numerics].mean()}\n')

RECIPES_SAMPLE
Среднее:
minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

REVIEWS_SAMPLE
Среднее:
rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [933]:
recipes_sample = recipes_df['name'].sample(10)

print(f'10 случайных названий рецептов:\n{recipes_sample}')

10 случайных названий рецептов:
1452             autumn chicken with harvest vegetables
19786                 panera bread broccoli cheese soup
17572                   michele s chicken tortilla soup
795                              apple   walnut muffins
5199                  cheesehead cream of broccoli soup
6676                           chocolate mousse dessert
2059     balsamic marinated grilled eggplant  aubergine
2334       barley   mushroom stuffed green bell peppers
10780                     fast and easy caramel popcorn
19                                  healthy  fried rice
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [934]:
reviews_df = reviews_df.reset_index(drop=True)
reviews_df

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [935]:
mask = (recipes_df['minutes'] <= 20) & (recipes_df['n_ingredients'] <= 5)

print(f'Рецепты, время выполнения не больше 20 минут и кол-во ингредиентов в которых не больше 5:\n'
      f'{recipes_df[mask]}')

Рецепты, время выполнения не больше 20 минут и кол-во ингредиентов в которых не больше 5:
                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [936]:
recipes_df = pd.read_csv('sem/data/recipes_sample.csv', sep=',', parse_dates=['submitted'])
recipes_df

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [937]:
mask = recipes_df['submitted'] >= pd.to_datetime('01.01.2011', format='%d.%m.%Y')
gte_submitted = recipes_df[mask]

print(f'Рецепты, добавленные позже 2010 года:'
      f'\n{gte_submitted.sort_values(by="submitted")}')

Рецепты, добавленные позже 2010 года:
                                                    name      id  minutes  \
12177  gluten free  yeast free sandwich and hamburger...  445211       30
13863            homemade ginger cardamom soda with lime  445235       10
6070                      chicken with haloumi and honey  445244       35
23548                   sauteed yam with ginger and lime  445255       50
7391                cold sesame noodles   tyler florence  445486       30
...                                                  ...     ...      ...
4932                                 cauliflower ceviche  536547       45
17803                      miracle home made puff pastry  536610       35
12124                              gluten free  vegemite  536728        2
8442                        creole watermelon feta salad  536729       10
15938                                 lemon pom pom cake  536747      210

       contributor_id  submitted  n_steps  \
12177           28177 2011-01-01     15.0
13863           37449 2011-01-01      NaN
6070           315565 2011-01-02      5.0
23548          542159 2011-01-02      8.0
7391           714468 2011-01-03     15.0
...               ...        ...      ...
4932       2002234079 2018-07-30     15.0
17803      2002234259 2018-07-31     17.0
12124         1052873 2018-08-11      NaN
8442          1052873 2018-08-11      4.0
15938      2002247884 2018-08-15     51.0

                                             description  n_ingredients
12177  note (10/24/15):  i do not recommend this reci...            5.0
13863  this is a good recipe, and can be changed up w...            NaN
6070   another ? donna hay recipe torn out of a magaz...            6.0
23548               these yams make a nice side to pork.            NaN
7391                                  from eat this book           16.0
...                                                  ...            ...
4932   a healthy ceviche - a perfect appetizer for pa...            8.0
17803  puff pastry that you can make in minutes? at h...            NaN
12124                   gluten free vegemite-like stuff.            3.0
8442   spicy watermelon salad. from tony chachere's s...            NaN
15938  by far one of my most joyous cake creations, t...           20.0

[2339 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1 Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [938]:
description_length = recipes_df['description'].str.len()
recipes_df['description_length'] = description_length

print(f'Со столбцом description_length:\n{recipes_df}')

Со столбцом description_length:
                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [939]:
recipes_df['name'] = recipes_df['name'].str.title()
print(recipes_df)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названия рецепта (считайте, что слова в названии разделяются только пробелами).

In [940]:
recipes_df['name_word_count'] = recipes_df['name'].str.split(' ').apply(
    lambda x: len([i for i in x if i])
)

print(f'Со столбцом description_length:\n{recipes_df}')

Со столбцом description_length:
                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length  name_word_count
0                   330.0                8
1                   255.0                5
2                    39.0                7
3                   154.0                3
4                   587.0                8
...                   ...              ...
29995               484.0                8
29996               286.0                4
29997               311.0                5
29998               648.0                2
29999               125.0                7

[30000 rows x 10 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [941]:
n_recipes_by_contributor = recipes_df.groupby('contributor_id')['id'].count()

assert n_recipes_by_contributor.sum() == recipes_df.shape[0]

print(f'Кол-во рецептов, представленных участником:\n{n_recipes_by_contributor}')
print(f'\nМаксимальное кол-во рецептов добавил: contributor_id={n_recipes_by_contributor.argmax()}')

Кол-во рецептов, представленных участником:
contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

Максимальное кол-во рецептов добавил: contributor_id=1768

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [942]:
recipes_reviews_df = recipes_df.merge(reviews_df, how='left', left_on='id', right_on='recipe_id')
groupby_recipe = recipes_reviews_df.groupby('id')

mean_recipe_ratings = groupby_recipe['rating'].mean()
n_recipes_without_review = (groupby_recipe['review'].size() - groupby_recipe['review'].count()).sum()

print(f'Средний рейтинг:\n{mean_recipe_ratings}')
print(f'\nКол-во рецептов без отзывов: {n_recipes_without_review}')

Средний рейтинг:
id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 30000, dtype: float64

Кол-во рецептов без отзывов: 1917

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [943]:
n_recipes_by_year = recipes_df.groupby(recipes_df['submitted'].dt.year)['id'].count()
print(f'Кол-во рецептов с разбивкой по годам:\n{n_recipes_by_year}')

Кол-во рецептов с разбивкой по годам:
submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [944]:
recipes_reviews_df = pd.merge(
    recipes_df,
    reviews_df,
    how='inner',
    left_on='id',
    right_on='recipe_id'
)[['id', 'name', 'user_id', 'rating']]

recipe_without_review = pd.Series(list(
    set(recipes_df['id'].unique()) - set(reviews_df['recipe_id'].unique()))
).sample(1).values[0]

print(f'Проверка:\n{recipes_reviews_df[recipes_reviews_df["id"] == recipe_without_review]}')
print(f'\nDataFrame (id, name, user_id, rating):\n{recipes_reviews_df}')

Проверка:
Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

DataFrame (id, name, user_id, rating):
            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [945]:
grouped_df = reviews_df.groupby('recipe_id')['review'].count().reset_index()

recipes_reviews_df = pd.merge(
    recipes_df.rename(columns={'id': 'recipe_id'}),
    grouped_df.rename(columns={'review': 'review_count'}),
    how='left',
    on='recipe_id'
)[['recipe_id', 'name', 'review_count']]

recipes_reviews_df = recipes_reviews_df.fillna({'review_count': 0})

recipe_without_review = pd.Series(list(
    set(recipes_df['id'].unique()) - set(reviews_df['recipe_id'].unique()))
).sample(1).values[0]

print(f'Проверка:\n{recipes_reviews_df[recipes_reviews_df["recipe_id"] == recipe_without_review]}')
print(f'\nDataFrame (recipe_id, name, review_count):\n{recipes_reviews_df}')

Проверка:
      recipe_id                 name  review_count
1522      62120  Avocado Peach Salsa           0.0

DataFrame (recipe_id, name, review_count):
       recipe_id                                          name  review_count
0          44123         George S At The Cove  Black Bean Soup           3.0
1          67664            Healthy For Them  Yogurt Popsicles           8.0
2          38798                  I Can T Believe It S Spinach           3.0
3          35173                          Italian  Gut Busters           1.0
4          84797      Love Is In The Air  Beef Fondue   Sauces           8.0
...          ...                                           ...           ...
29995     267661  Zurie S Holey Rustic Olive And Cheddar Bread           4.0
29996     386977          Zwetschgenkuchen  Bavarian Plum Cake           2.0
29997     103312   Zwiebelkuchen   Southwest German Onion Cake           6.0
29998     486161                                   Zydeco Soup           6.0
29999     298512        Cookies By Design   Cookies On A Stick           1.0

[30000 rows x 3 columns]

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [949]:
rating_groped_by_year = reviews_df.groupby(reviews_df['date'].dt.year)['rating']
mean_rating = rating_groped_by_year.mean()

print(f'Наименьший средний рейтинг в {mean_rating.idxmin()} году: {mean_rating.min()}')

Наименьший средний рейтинг в 2017 году: 3.3530416951469584

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.