# Билет 16

# Задание 1

# Задание 2

<img src="img/16_2.jpg" width=1000>

In [6]:
import pandas as pd

In [7]:
sp500_df = pd.read_csv(
    'data/task_2/sp500hst.txt',
    sep=',',
    names=['date', 'ticker', 'open', 'high', 'low', 'close', 'volume']
)
sp500_df = sp500_df[sp500_df['ticker'] == 'NVDA']
sp500_df['date'] = pd.to_datetime(sp500_df['date'], format='%Y%m%d')
sp500_df = sp500_df.set_index('date')
sp500_df

           ticker   open   high      low  close  volume
date
2009-08-21   NVDA  13.87  13.95  13.5300  13.93  151858
2009-08-24   NVDA  13.87  14.00  13.4600  13.54  115369
2009-08-25   NVDA  13.58  13.80  13.3800  13.66  111026
2009-08-26   NVDA  13.66  13.85  13.5807  13.82  108580
2009-08-27   NVDA  13.88  14.07  13.7300  14.01  137787
...           ...    ...    ...      ...    ...     ...
2010-08-13   NVDA   9.25   9.52   9.2300   9.39  449437
2010-08-16   NVDA   9.28   9.45   9.0300   9.15  203558
2010-08-17   NVDA   9.23   9.44   9.1500   9.27  120368
2010-08-19   NVDA   9.41   9.91   9.3700   9.88  403774
2010-08-20   NVDA   9.83  10.21   9.8000   9.97  326328

[243 rows x 6 columns]

In [8]:
date_open_min = sp500_df['open'].idxmin()
date_open_max = sp500_df['open'].idxmax()
start = min(date_open_min, date_open_max)
end = max(date_open_min, date_open_max)

In [9]:
period_df = sp500_df[(sp500_df.index >= start) & (sp500_df.index <= end)]
period_df.head()

           ticker   open   high    low  close  volume
date
2009-12-31   NVDA  18.79  18.95  18.66  18.68  175098
2010-01-04   NVDA  18.51  18.62  18.11  18.49  200088
2010-01-05   NVDA  18.50  18.96  18.42  18.76  182174
2010-01-06   NVDA  18.68  18.92  18.57  18.88  162291
2010-01-07   NVDA  18.78  18.86  18.37  18.51  136947

In [10]:
days = (end - start).days
volume = period_df['volume'].sum()
print(f'{days=}, {volume=}')

days=224, volume=29025673

# Задание 3

<img src="img/16_3.jpg" width=1000>

In [11]:
import h5py
import dask.array as da

In [12]:
arr = da.from_array(h5py.File('data/task_3/random.hdf5')['data_set_1'])

In [13]:
mean = arr.mean()
std = arr.std()
n = da.sum(arr > (mean + 3 * std))
(n / arr.size).compute()

0.00135003