# Билет 33

## Задание 2

In [160]:
import pandas as pd

In [161]:
df: pd.DataFrame = pd.read_csv(
    'data/task_2/sp500hst.txt',
    sep=',',
    header=None,
    names=['date', 'ticker', 'open', 'high', 'low', 'close', 'vol']
)
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df = df.set_index('date')
df.head()

           ticker   open     high     low  close    vol
date
2009-08-21      A  25.60  25.6100  25.220  25.55  34758
2009-08-24      A  25.64  25.7400  25.330  25.50  22247
2009-08-25      A  25.50  25.7000  25.225  25.34  30891
2009-08-26      A  25.32  25.6425  25.145  25.48  33334
2009-08-27      A  25.50  25.5700  25.230  25.54  70176

In [162]:
# ответ на первое предложение формулировки
cols = ['ticker', 'vol', 'open', 'close']
nvda_df = df[df['ticker'] == 'NVDA'][cols]
aapl_df = df[df['ticker'] == 'AAPL'][cols]
joined_df = nvda_df.join(aapl_df, lsuffix='_nvda', rsuffix='_aapl')
joined_df['delta_vol'] = joined_df['vol_nvda'] - joined_df['vol_aapl']
print(joined_df.shape)
joined_df.head()

(243, 9)

,ticker_nvda,vol_nvda,open_nvda,close_nvda,ticker_aapl,vol_aapl,open_aapl,close_aapl,delta_vol
date,,,,,,,,,
2009-08-21,NVDA,151858,13.87,13.93,AAPL,148597.0,167.81,169.22,3261.0
2009-08-24,NVDA,115369,13.87,13.54,AAPL,145331.0,170.00,169.06,-29962.0
2009-08-25,NVDA,111026,13.58,13.66,AAPL,115840.0,169.43,169.40,-4814.0
2009-08-26,NVDA,108580,13.66,13.82,AAPL,108570.0,168.94,167.41,10.0
2009-08-27,NVDA,137787,13.88,14.01,AAPL,160421.0,168.59,169.45,-22634.0

In [163]:
# ответ на последнее предложение формулировки
mask = (joined_df['close_nvda'] > joined_df['open_nvda']) & (joined_df['close_aapl'] > joined_df['open_aapl'])
modified_df = joined_df[mask]
print(modified_df.shape)
modified_df.head()

(73, 9)

,ticker_nvda,vol_nvda,open_nvda,close_nvda,ticker_aapl,vol_aapl,open_aapl,close_aapl,delta_vol
date,,,,,,,,,
2009-08-21,NVDA,151858,13.87,13.93,AAPL,148597.0,167.81,169.22,3261.0
2009-08-27,NVDA,137787,13.88,14.01,AAPL,160421.0,168.59,169.45,-22634.0
2009-09-02,NVDA,101174,14.00,14.23,AAPL,130143.0,164.50,165.18,-28969.0
2009-09-03,NVDA,133504,14.32,14.57,AAPL,105036.0,166.52,166.55,28468.0
2009-09-04,NVDA,128269,14.55,15.11,AAPL,133795.0,167.20,170.31,-5526.0

In [164]:
# ответы с почищенными колонками
required_col = ['delta_vol', 'ticker_nvda', 'vol_nvda', 'ticker_aapl', 'vol_aapl']

In [165]:
res_1 = joined_df[required_col]
res_1

            delta_vol ticker_nvda  vol_nvda ticker_aapl  vol_aapl
date
2009-08-21     3261.0        NVDA    151858        AAPL  148597.0
2009-08-24   -29962.0        NVDA    115369        AAPL  145331.0
2009-08-25    -4814.0        NVDA    111026        AAPL  115840.0
2009-08-26       10.0        NVDA    108580        AAPL  108570.0
2009-08-27   -22634.0        NVDA    137787        AAPL  160421.0
...               ...         ...       ...         ...       ...
2010-08-13   322699.0        NVDA    449437        AAPL  126738.0
2010-08-16    89834.0        NVDA    203558        AAPL  113724.0
2010-08-17   -30578.0        NVDA    120368        AAPL  150946.0
2010-08-19   251380.0        NVDA    403774        AAPL  152394.0
2010-08-20   189104.0        NVDA    326328        AAPL  137224.0

[243 rows x 5 columns]

In [166]:
res_2 = modified_df[required_col]
res_2

            delta_vol ticker_nvda  vol_nvda ticker_aapl  vol_aapl
date
2009-08-21     3261.0        NVDA    151858        AAPL  148597.0
2009-08-27   -22634.0        NVDA    137787        AAPL  160421.0
2009-09-02   -28969.0        NVDA    101174        AAPL  130143.0
2009-09-03    28468.0        NVDA    133504        AAPL  105036.0
2009-09-04    -5526.0        NVDA    128269        AAPL  133795.0
...               ...         ...       ...         ...       ...
2010-08-05    96847.0        NVDA    200190        AAPL  103343.0
2010-08-06    26108.0        NVDA    185041        AAPL  158933.0
2010-08-12   144857.0        NVDA    335899        AAPL  191042.0
2010-08-17   -30578.0        NVDA    120368        AAPL  150946.0
2010-08-20   189104.0        NVDA    326328        AAPL  137224.0

[73 rows x 5 columns]

## Задание 3

In [167]:
import dask.bag as db
import re
from collections import Counter

In [168]:
bag = db.read_text('data/task_3/all_k/*', encoding='cp1251')

In [169]:
pattern = re.compile(r'[^А-ЯЁ]*')


def count_upper(counter: Counter, s: str) -> Counter:
    s = pattern.sub('', s)
    for ch in s:
        counter[ch] += 1
    return counter


def combine(left: Counter, right: Counter) -> Counter:
    return left + right

In [170]:
res = bag.fold(count_upper, combine, initial=Counter()).compute()

In [171]:
res

Counter({'Д': 479733,
         'К': 442819,
         'У': 128438,
         'П': 455438,
         'Е': 162606,
         'Р': 210449,
         'Н': 566581,
         'С': 430379,
         'О': 599173,
         'З': 116175,
         'Я': 253267,
         'А': 271030,
         'Т': 353618,
         'Ч': 132623,
         'Ы': 5669,
         'Й': 13747,
         'М': 388300,
         'И': 253041,
         'Г': 192381,
         'В': 466965,
         'Б': 250252,
         'Э': 225757,
         'Х': 118962,
         'Л': 187693,
         'Ф': 82202,
         'Ш': 47125,
         'Ц': 11270,
         'Щ': 2292,
         'Ю': 8884,
         'Ж': 25925,
         'Ъ': 106,
         'Ь': 6025,
         'Ё': 60})