# Лекция 12: Map-Reduce

__Автор: Сергей Вячеславович Макрушин__ e-mail: SVMakrushin@fa.ru 

Финансовый универсиет, 2020 г. 

При подготовке лекции использованы материалы:
* ...

V 0.2 18.11.2020

## Разделы: <a class="anchor" id="разделы"></a>
* [Серии (Series) - одномерные массивы в Pandas](#серии)
* [Датафрэйм (DataFrame) - двумерные массивы в Pandas](#датафрэйм)
    * [Введение](#датафрэйм-введение)
    * [Индексация](#датафрэйм-индексация)    
* [Обработка данных в библиотеке Pandas](#обработка-данных)
    * [Универсальные функции и выравнивание](#обработка-данных-универсальные)
    * [Работа с пустыми значениями](#обработка-данных-пустрые-значения)
    * [Агрегирование и группировка](#обработка-данных-агрегирование)    
* [Обработка нескольких наборов данных](#обработка-нескольких)
    * [Объединение наборов данных](#обработка-нескольких-объединение)
    * [GroupBy: разбиение, применение, объединение](#обработка-нескольких-групбай)
 
-

* [к оглавлению](#разделы)

In [1]:
# загружаем стиль для оформления презентации
from IPython.display import HTML
from urllib.request import urlopen
html = urlopen("file:./lec_v2.css")
HTML(html.read().decode('utf-8'))

## Map / Filter / Reduce

<center>         
    <img src="./img/MFR_emj.png" alt="Иллюстрация концепции Map / Filter / Reduce" style="width: 500px;"/>
    <b>Иллюстрация концепции Map / Filter / Reduce</b>
</center>

### Map

<center>         
    <img src="./img/map_.jpg" alt="Работа функции map()" style="width: 700px;"/>
    <b>Работа функции map()</b>
</center>

Встроенная функция `map() `позволяет применить функцию к каждому элементу последовательности
* Функция имеет следующий формат: `mар(<Функция>, <Последовательность1>[, ... , <ПоследовательностьN>])`

* Функция возвращает объект, nоддерживающий итерацию, а не сnисок.

#### Map: пример 1

In [72]:
squared = lambda x: x**2

In [73]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
m1 = map(squared, range(10)) # второй аргумент - итерируемый объект!
m1 # map реализует принцип ленивых вычислений

In [8]:
list(m1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Map: пример 2

In [1]:
ls0 = list(zip(range(10), range(0, 100, 10)))
ls0

[(0, 0),
 (1, 10),
 (2, 20),
 (3, 30),
 (4, 40),
 (5, 50),
 (6, 60),
 (7, 70),
 (8, 80),
 (9, 90)]

In [74]:
import operator as op

In [75]:
op.add(2, 3)

5

In [4]:
op.add((2, 3))

TypeError: add expected 2 arguments, got 1

In [76]:
op.add(*(2, 3))

5

применение функции, принимающей несколько параметров:

In [6]:
list(map(op.add, ls0)) # ошибка, неверное количество параметров!

TypeError: add expected 2 arguments, got 1

In [77]:
# 1й способ:
def my_add(par):
    return op.add(*par)

In [78]:
list(map(my_add, ls0))

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [79]:
# 2й способ:

from itertools import starmap
# starmap вычисляет значение функции для аргументов сгруппированных в итерируемом объекте (втром параметре)

In [80]:
list(starmap(op.add, ls0))

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

#### Map: пример 3

<center>         
    <img src="./img/map2_.jpg" alt="Работа функции map() с несколькими итерируемыми объектами" style="width: 700px;"/>
    <b>Работа функции map() с несколькими итерируемыми объектами</b>
</center>

Функции map() можно nередать несколько nоследовательностей. В этом случае в функцию 
обратного вызова будут nередаваться сразу несколько элементов, расnоложенных в nоследовательностях на одинаковом смещении.

In [11]:
ls1 = list(range(10))
ls2 = list(range(0, 100, 10))
ls3 = list(range(0, 1000, 100))

In [12]:
ls1, ls2, ls3

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
 [0, 100, 200, 300, 400, 500, 600, 700, 800, 900])

In [13]:
list(map(op.add, ls1, ls2))

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [14]:
list(map(lambda x, y, z: x+10*y+100*z, ls1, ls2, ls3))

[0, 10101, 20202, 30303, 40404, 50505, 60606, 70707, 80808, 90909]

### Filter

<center>         
    <img src="./img/filter_.jpg" alt="Работа функции filter()" style="width: 700px;"/>
    <b>Работа функции filter()</b>
</center>

Функция `filter()` nозволяет выnолнить nроверку элементов nоследовательности. 
* Формат функции: `filtеr(<Функция>, <Последовательность>)`
* Если в nервом nараметре вместо названия функции указать значение `None`, то каждый элемент nоследонательности будет nроверен на соответствие булевскому значению True.
* Если элемент в логическом контексте возвращает значение False, то он не будет добавлен в возвращаемый результат. 
* Функция возвращает объект, nоддерживающий итерацию, а не сnисок.

In [15]:
import random
random.seed(42)

In [81]:
lr1 = [random.randint(-100, 100) for i in range(20)]
lr1

[-29,
 -61,
 -45,
 95,
 -14,
 -74,
 -77,
 -3,
 -76,
 -9,
 -12,
 54,
 -33,
 -89,
 86,
 17,
 37,
 -69,
 -4,
 -80]

In [82]:
list(filter(lambda x: x%3 == 0, lr1))

[-45, -3, -9, -12, 54, -33, -69]

In [83]:
# аналог генератор списков:
[i for i in lr1 if i%3==0]

[-45, -3, -9, -12, 54, -33, -69]

In [84]:
lr2 = [random.randint(-1, 1) for i in range(20)]
lr2

[1, 0, 1, 1, 0, 1, -1, 1, -1, -1, 1, -1, 0, -1, -1, -1, 0, 0, 0, 1]

In [85]:
# первый параметр None имеет особую семантику:
list(filter(None, lr2))

[1, 1, 1, 1, -1, 1, -1, -1, 1, -1, -1, -1, -1, 1]

In [86]:
filter(lambda x: x%3 == 0, lr1)

In [87]:
map(op.abs, filter(lambda x: x%3 == 0, lr1))

In [88]:
# последовательное примененеие преобразований:
list(map(op.abs, filter(lambda x: x%3 == 0, lr1)))

[45, 3, 9, 12, 54, 33, 69]

In [33]:
%%timeit
[i for i in lr1 if i%3==0]

2 µs ± 129 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [34]:
%%timeit
list(filter(lambda x: x%3 == 0, lr1))

4.15 µs ± 263 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### Reduce

In [26]:
import functools

In [27]:
from functools import reduce

`functools.reduce(funct, iterable[, initializer])`

Вычисляет функцию от двух элементов последовательно для элементов последовательности слева направо таким образом, что результатом вычисления становится единственное значение, которое становится первым аргументом для следующей итерации применения `funct`.

In [28]:
# Пример: 
reduce(lambda x, y: x + y, [1, 2, 3, 4, 5]) # вычисляется как ((((1+2)+3)+4)+5)

15

Левый аргумент функции `funct` (аргумента `reduce`) - это аккумулированное значение, правый аргумент - очередное значение из списка.

Если передан необязательный аргумент `initializer`, то он используется в качестве левого аргумента при первом применении 
функции (исходного аккумулированного значения).

Если `initializer` не перередан, а последовательность имеет только одно значение, то возвращается это значенние.

<center>         
    <img src="./img/reduce_.jpg" alt="Работа функции reduce()" style="width: 700px;"/>
    <b>Работа функции reduce()</b>
</center>

In [89]:
ls4 = list(range(10, 20))
ls4

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [90]:
reduce(op.add, ls4)

145

In [91]:
def add_verbose(x, y):
    print("add(x=%s, y=%s) -> %s" % (x, y, x+y))
    return x + y

In [93]:
reduce(add_verbose, ls4)

add(x=10, y=11) -> 21
add(x=21, y=12) -> 33
add(x=33, y=13) -> 46
add(x=46, y=14) -> 60
add(x=60, y=15) -> 75
add(x=75, y=16) -> 91
add(x=91, y=17) -> 108
add(x=108, y=18) -> 126
add(x=126, y=19) -> 145

145

In [34]:
reduce(add_verbose, ls4, 1000)

add(x=1000, y=10) -> 1010
add(x=1010, y=11) -> 1021
add(x=1021, y=12) -> 1033
add(x=1033, y=13) -> 1046
add(x=1046, y=14) -> 1060
add(x=1060, y=15) -> 1075
add(x=1075, y=16) -> 1091
add(x=1091, y=17) -> 1108
add(x=1108, y=18) -> 1126
add(x=1126, y=19) -> 1145

1145

In [94]:
st = "This is a test.".split()
st

['This', 'is', 'a', 'test.']

In [95]:
def f2(n, s):
    print(f'n: {n}, s: {s}, len(s): {len(s)}')
    return n + len(s)

In [96]:
# Ошибка:
reduce(f2, ['This', 'is', 'a', 'test.'])

n: This, s: is, len(s): 2

TypeError: can only concatenate str (not "int") to str

In [97]:
reduce(f2, ['This', 'is', 'a', 'test.'], 0)

n: 0, s: This, len(s): 4
n: 4, s: is, len(s): 2
n: 6, s: a, len(s): 1
n: 7, s: test., len(s): 5

12

In [39]:
reduce(lambda n, s: n + len(s), "This is a test.".split(), 0)

12

In [40]:
reduce(lambda n, s: n + s, "This is a test.".split(), "")

'Thisisatest.'

## Dask Bag

### Принципы Dask Bag

__Структура данных Bag__

<em class="df"></em> __Мультимножество (bag, multiset)__ в математике - обобщение понятия множества, допускающее включение одного и того же элемента по нескольку раз. Число элементов в мультимножестве, с учётом повторяющихся элементов, называется его размером или мощностью.

* `list`: упорядоченная коллекция, допускающая повторы элементв.
    * Пример: `[1, 2, 3, 2]`
* `set`: неупорядоченная коллекция, не допускающая повторы элементов.
    * Пример: `{1, 2, 3}`
* `bag`: неупорядоченная коллекция, допускающая повторы элементов. 
    * Пример: `1, 2, 2, 3`

Таким образом, bag можно рассматривать как __список, не гарантирующий порядка элементов__.

__Dask.Bag__

`Dask.Bag` реализует такие операции, как `map`, `filter`, `fold` (аналог `reduce`) и `groupby` над коллекциями объектов Python. 

Реализация `Dask.Bag` основана на координации множества списков или итераторов, каждый из которых представляет собой сегмент большой коллекции. Данная реализация обеспечивает: 
* параллельное выполнение операций 
* потребность в небольшом объеме памяти за счет использования итераторов Python и __ленивых вычислений__. Это обеспечивает возможность обработки данных больших чем объем оперативной памяти, даже при использовании всего одного сегмента.


<em class="df"></em> __Ленивые вычисления__ (lazy evaluation, или отложенные вычисления) — стратегия вычислений, согласно которой вычисления откладываются до тех пор, пока не понадобится их результат.

Аналоги:
* `Dask.Bag` можно считать параллельной реализацией пакета `PyToolz` 
* Или ориентированной на Python версией `PySpark RDD` (интерфейса для работы в Python с ключевой структурой данных Spark - RDD).

__Типичное использование Dask.Bag__

`Dask.Bag` хорошо подходит для распараллеливания __простой обработки неструктурированных или полу-структурированных данных__, таких как:
* текстовые данные
* файлы логирования
* записи в формате JSON
* специальных oбектов Python и т.д. 

Если выполнение задачи возможно при помощи `Dask.DataFrame` или `Dask.Array`, то стоит выбрать этии варианты, так как основной объем вычислений будет выполняться за счет быстрых библиотек написанных на компилируемых языках, тогда как `Dask.Bag` использует только код на Python. При этом приемуществом `Dask.Bag` является возможность использовать любые пользовательские функции написанные на Python и существенно меньшие требования к наличию строгой структуры у обрабатываемых данных.

__Специфика реализации__

По умолчанию, `Dask.Bag` использует для исполнения __планировщик__ `dask.multiprocessing`.
* <em class="pl"></em> Это позволяет __обойти проблему GIL__ и полноценно использовать несколько процессорных ядер для объектов реализованных на чситом Python.
* <em class="mn"></em> Минусом этого подходя является наличие больших накладных расходов при обмене данных между исполнителями, что важно для производительности вычислений, требующих интенсивного обмена данными. Это редко бывает проблемой, так как типичный поток задач для `Dask.Bag` подразумевает:
    * или черезвычайно параллельные вычисления 
    * или обмен небольшим объемом данных в процессе __свертки__ (англ. folding, также известна как reduce, accumulate).

<em class="df"></em> __Чрезвычайная параллельность__ (embarrassingly parallel) - тип задач в системах параллельных вычислений, для которых не требуется прилагать больших усилий при разделении на несколько отдельных параллельных задач (распараллеливании).
* Чаще всего __не существует зависимости (или связи) между  параллельными задачами__, то есть их результаты не влияют друг на друга.
* Чрезвычайно параллельные задачи __практически не требуют согласования__ между результатами выполнения отдельных этапов, что отличает их от задач распределённых вычислений, которые требуют связи промежуточных результатов.
* Такие задачи __легки для исполнения массово паралельных системах__ (кластерах с очень большим количеством вычислительных узлов).

В модели вычислений MapReduce шаг "перетасовывания" (shuffle), отвечающий за группировку данных, требует интенсивного обмена данными между исполнителями.
* Например, шаг группировки выполняется при выполнении операции `Dask.Bag` `groupby`.
* Операция группировки очень ресурсоемкая и эффективнее выполняется при помощи `Dask.DataFrame` или `Dask.Array`. Поэтму предпочтительнее использовать `Dask.Bag` для подготовки и структурирования данных, а для выполнения более сложных операций преобразовывать их в `Dask.DataFrame`.

__Ограничения Dask.Bag__

Dask.Bag позволяет выполнять любую функцию на Python, эта универсальность имеет свою цену. Dask.Bag имеет следующие ограничения:
* по умолчанию обработка Dask.Bag выполняется планировщиком, на базе multiprocessing, что создает ряд ограничений
* Bag яляется __неизменяемой структурой данных__, таким образом нет возможности изменить единичный элемент Dask.Bag не выполнив операцию преобразования для всей структуры данных
* операции над Bag медленнее, чем операции над Array/DataFrame по тем же причинам, по которым операции на Python медленнее чем аналогичные операции в NumPy и Pandas 
* операция __Bag.groupby выполняется медленно__, по возможности нужно использовать вместо нее Bag.foldby или преобразовывать данные в структуру DataFrame.

### Создание Dask Bag

`Bag` можно создать из последовательности (итерируемого объекта) Python, из файла (файлов) и т.п. Данные в `Bag` разбиваются на сегменты (блоки), каждый из которых содержит множество элементов исходного набора данных.

In [98]:
import dask.bag as db

In [99]:
# набор данных (list - итерируемый объект Python) из целых чисел
b = db.from_sequence([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], npartitions=2) # разбиваем последовательность на 2 сегмента
b.take(3) # выводит 3 элемента из Bag

(1, 2, 3)

Через параметр `npartitions` можно управлять разбиением данных на сегменты (partitions). По умолчанию Dask пытается разбить данные на количество сегментов, близкое к 100.

Функция `read_text` может принимать на вход файл или последовательность файлов:

```python
>>> b = db.read_text('myfile.txt')
>>> b = db.read_text(['myfile.1.txt', 'myfile.2.txt', ...])
>>> b = db.read_text('myfile.*.txt')
```

* Функция умеет использовать стандартные форматы архивов, такие как gzip, bz2, xz (могут быть подключены и другие форматы).

* Элементами в созданном Bag будут строки переданных текстовых файлов. По умолчанию каждый сегмент Bag будет относится к одному файлу (при помощи параметров files_per_partition и blocksize можно управлять разбиением на сегменты). 

* __Не загружайте данные предназначенные для Bag предварительно__, используйте для этого только функции Bag. Это позволит избежать нераспараллеленного участка работ и загрузки всего массива данных в память. Если для используемого формата данных нет стандартного загрузчика - исползуйте следующий подход:

```python
>>> # load_from_filename - пользовательская функция загрузки данных
>>> b = db.from_sequence(['1.dat', '2.dat', ...]).map(load_from_filename)
```

In [58]:
# Генерация данных (нужно создать папку ./data)
# скрипты для генерации (в т.ч. prep.py лежат в текущей папке)
%run prep.py -d accounts

In [100]:
# данные загружаются из набора заархивированных файлов формата JSON
# элементами Bag будут строки файлов, сегментация будет проведена по файлам
data_path = './data'
import os
b = db.read_text(os.path.join(data_path, 'accounts.*.json.gz'))
b.take(1)

('{"id": 0, "name": "Frank", "transactions": [{"transaction-id": 1341, "amount": 289}, {"transaction-id": 3824, "amount": 240}, {"transaction-id": 5168, "amount": 235}, {"transaction-id": 7303, "amount": 250}, {"transaction-id": 7580, "amount": 283}, {"transaction-id": 9440, "amount": 169}, {"transaction-id": 9660, "amount": 127}, {"transaction-id": 10265, "amount": 247}, {"transaction-id": 10680, "amount": 171}, {"transaction-id": 10864, "amount": 142}, {"transaction-id": 11473, "amount": 183}, {"transaction-id": 12037, "amount": 203}, {"transaction-id": 12272, "amount": 206}, {"transaction-id": 12767, "amount": 156}, {"transaction-id": 13008, "amount": 195}, {"transaction-id": 13233, "amount": 162}, {"transaction-id": 13614, "amount": 197}, {"transaction-id": 14379, "amount": 240}, {"transaction-id": 15409, "amount": 313}, {"transaction-id": 16717, "amount": 162}, {"transaction-id": 16873, "amount": 221}, {"transaction-id": 19635, "amount": 162}, {"transaction-id": 21944, "amount": 180}, {"transaction-id": 23245, "amount": 231}, {"transaction-id": 23376, "amount": 192}, {"transaction-id": 24006, "amount": 120}, {"transaction-id": 25476, "amount": 207}, {"transaction-id": 26189, "amount": 287}, {"transaction-id": 29792, "amount": 106}, {"transaction-id": 31466, "amount": 93}, {"transaction-id": 32378, "amount": 189}, {"transaction-id": 34276, "amount": 175}, {"transaction-id": 34402, "amount": 130}, {"transaction-id": 34508, "amount": 167}, {"transaction-id": 34562, "amount": 130}, {"transaction-id": 34659, "amount": 267}, {"transaction-id": 34762, "amount": 158}, {"transaction-id": 35969, "amount": 242}, {"transaction-id": 36103, "amount": 244}, {"transaction-id": 36621, "amount": 171}, {"transaction-id": 37329, "amount": 196}, {"transaction-id": 38860, "amount": 182}, {"transaction-id": 39947, "amount": 204}, {"transaction-id": 40805, "amount": 153}, {"transaction-id": 41174, "amount": 235}, {"transaction-id": 41195, "amount": 196}, {"transaction-id": 42806, "amount": 200}, {"transaction-id": 43416, "amount": 171}, {"transaction-id": 43833, "amount": 190}, {"transaction-id": 44464, "amount": 151}, {"transaction-id": 45132, "amount": 106}, {"transaction-id": 46622, "amount": 298}, {"transaction-id": 47571, "amount": 199}, {"transaction-id": 48538, "amount": 172}, {"transaction-id": 49155, "amount": 170}, {"transaction-id": 49905, "amount": 274}, {"transaction-id": 50917, "amount": 185}, {"transaction-id": 52656, "amount": 238}, {"transaction-id": 53907, "amount": 163}, {"transaction-id": 55619, "amount": 207}, {"transaction-id": 56438, "amount": 142}, {"transaction-id": 56951, "amount": 197}, {"transaction-id": 57636, "amount": 206}, {"transaction-id": 59536, "amount": 220}, {"transaction-id": 60576, "amount": 220}, {"transaction-id": 60880, "amount": 189}, {"transaction-id": 61330, "amount": 190}, {"transaction-id": 61758, "amount": 240}, {"transaction-id": 61791, "amount": 188}, {"transaction-id": 62117, "amount": 193}, {"transaction-id": 63123, "amount": 195}, {"transaction-id": 63205, "amount": 184}, {"transaction-id": 63682, "amount": 263}, {"transaction-id": 64177, "amount": 262}, {"transaction-id": 67605, "amount": 183}, {"transaction-id": 67882, "amount": 165}, {"transaction-id": 70677, "amount": 85}, {"transaction-id": 71090, "amount": 184}, {"transaction-id": 71718, "amount": 208}, {"transaction-id": 72208, "amount": 251}, {"transaction-id": 72304, "amount": 185}, {"transaction-id": 74031, "amount": 233}, {"transaction-id": 74199, "amount": 216}, {"transaction-id": 74998, "amount": 202}, {"transaction-id": 75345, "amount": 131}, {"transaction-id": 75460, "amount": 149}, {"transaction-id": 76127, "amount": 235}, {"transaction-id": 76931, "amount": 297}, {"transaction-id": 78429, "amount": 232}, {"transaction-id": 78814, "amount": 249}, {"transaction-id": 79586, "amount": 197}, {"transaction-id": 80230, "amount": 152}, {"transaction-id": 80574, "amount": 224}, {"transaction-id": 80847, "amount": 240}, {"transaction-id": 82135, "amount": 137}, {"transaction-id": 82162, "amount": 188}, {"transaction-id": 84770, "amount": 193}, {"transaction-id": 85069, "amount": 192}, {"transaction-id": 86558, "amount": 97}, {"transaction-id": 89373, "amount": 261}, {"transaction-id": 89650, "amount": 209}, {"transaction-id": 89690, "amount": 212}, {"transaction-id": 91685, "amount": 246}, {"transaction-id": 94793, "amount": 312}, {"transaction-id": 95739, "amount": 180}, {"transaction-id": 95949, "amount": 133}, {"transaction-id": 96507, "amount": 209}, {"transaction-id": 97980, "amount": 173}, {"transaction-id": 99999, "amount": 293}]}\n',)

In [101]:
b.npartitions

50

### API Dask.Bag

Объекты Bag поддерживают стандартное API, аналогичное имеющемуся в стандартной библиотеке Python и библиотеках toolz или pyspark. В частности, имеются функции, отвечающие за маппинг (map и т.п.), фильтрацию и группировку (filter, groupby и т.п.) и свертку (reduce и т.п.).

Документация по API Dask.Bag : https://docs.dask.org/en/latest/bag-api.html

In [102]:
def is_even(n):
    return n % 2 == 0

b = db.from_sequence([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
c = b.filter(is_even).map(lambda x: x ** 2)
c

dask.bag<lambda-..., npartitions=10>

* Операции над объектом Bag, создают новые объекты Bag, таким образом формируются задачи для отоложенных вычислений. 
* Для старта вычислений необходимо вызвать для объекта Bag функцию `compute()`.
    * Результат `compute()` для объектов Bag будет представлен в виде списка (или единичного значения при операциях свертки).
    * Получение итератора по bag приводит к выполнению `compute()`. Таким образмом `list(bag)` автоматически стартует вычисления.

In [103]:
# вызов compute() синхронный: возрват из функции происхоит только после получения всех результатов
c.compute()

[4, 16, 36, 64, 100]

In [55]:
list(b.filter(is_even).map(lambda x: x ** 2))

[4, 16, 36, 64, 100]

Для того чтобы стартовать промежуточные вычсиления, которые приведут к созданию объекта Dask (например Bag), хранящегося в памяти (например загрузки данных из файла и их предварительной обработки) вместо `compute()` нужно вызывать функцию `persist()`. С полученным объектом Bag можно выполнять последующие операции исходя из того что предварительные операции уже выполнены и результаты уже хранятся в оперативной памяти.

In [104]:
p = c.persist()

In [50]:
m1 = p.map(lambda x: x / 3)

In [106]:
m1

dask.bag<lambda-..., npartitions=10>

In [107]:
list(m1)

[1.3333333333333333,
 5.333333333333333,
 12.0,
 21.333333333333332,
 33.333333333333336]

Если после обработки с помощью Bag получены хорошо структурированные данные, то продолжить их обработку может буть эффективнее при помощи Dask DataFrame (аналог Pandas DataFrame). Ряд операций для DataFrame реализованы существенно эффективнее, да и обычные функции, за счет вызовов откомпелированного кода Pandas, выполняются намного быстрее.

In [108]:
b = db.from_sequence([{'name': 'Alice',   'balance': 100}, 
                      {'name': 'Bob',     'balance': 200},
                      {'name': 'Charlie', 'balance': 300}], npartitions=2)
# преобразование в Dask DataFrame:
df = b.to_dataframe()
df

Dask DataFrame Structure:
                 name balance
npartitions=2
               object   int64
                  ...     ...
                  ...     ...
Dask Name: to_dataframe, 4 tasks

__Функции маппинга__

Функции маппинга для DaskBag:

| Функция | Краткое описание |
|------|------|
|Bag.map(func, \*args, \*\*kwargs) | Apply a function elementwise across one or more bags|
|Bag.map_partitions(func, \*args, \*\*kwargs) | Apply a function to every partition across one or more bags|
|Bag.starmap(func, \*\*kwargs) | Apply a function using argument tuples from the given bag|
|Bag.pluck(key[, default]) | Select item from all tuples/dicts in collection|

In [109]:
import operator as op

Примеры использования функции `map`

In [110]:
b1 = db.from_sequence(range(6), npartitions=2)
b1.map(lambda x: x + 1).compute()

[1, 2, 3, 4, 5, 6]

In [111]:
b2 = db.from_sequence(range(6, 12), npartitions=2)
# после func в map могут передваться другие объекты Bag для выполнения мэппинга с несколькими мультимножествами
# все объекты Bag, участвующие в мэппинге должны быть одинаково сегментированны
b1.map(op.add, b2).compute()

[6, 8, 10, 12, 14, 16]

In [114]:
b3 = db.from_sequence([0, 3, 15]*2, npartitions=2)
# использование 3х Bag'ов в map:
b1.map(lambda *x: sum(x)/len(x), b2, b3).compute()

[2.0,
 3.6666666666666665,
 8.333333333333334,
 4.0,
 5.666666666666667,
 10.333333333333334]

In [115]:
# Дополнительные аргументы (позиционные и именованные) для func могут передваться через *args, **kwargs
# Аргументы будут транслироваться для всех вызовов func. 
# Дополнительные аргументы должны следовать после объектов типа Bag.
b1.map(op.pow, 3).compute()

[0, 1, 8, 27, 64, 125]

Примеры использования функции `starmap`

In [69]:
# starmap применяет func к картежам аргументов из преданного на вход объекта bag
b = db.from_sequence([(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)], npartitions=2)
b.starmap(op.add).compute()

[3, 7, 11, 15, 19]

Примеры использования функции `pluck`

In [118]:
# pluck выбирает значение по ключу (индексу) из коллекции (словаря, списка, картежа)

b = db.from_sequence([{'name': 'Alice', 'credits': [1, 2, 3]},
                      {'name': 'Bob',   'credits': [10, 20]},
                      {'name': 'Rob'}])

In [119]:
b.map(lambda x: x['name']).compute()

['Alice', 'Bob', 'Rob']

In [120]:
b.pluck('name').compute()

['Alice', 'Bob', 'Rob']

In [123]:
# использование значения по умолчанию:
b.pluck('credits', default=[-1]).compute()

[[1, 2, 3], [10, 20], [-1]]

In [124]:
# работа с bag из списков:
b = db.from_sequence([[1, 2, 3], [10, 20], [11, 7]])

In [125]:
b.map(lambda x: x[1]).compute()

[2, 20, 7]

In [126]:
b.pluck(1).compute()

[2, 20, 7]

__Преобразование строк__

Преобразование строк для Dask Bag можно выполнять с использованием функций из пространства имен `str`.

Обработку строк, находящихся в объектах Bag, можно осуществлять используя пространство имен `str`, которое напрямую привязано к объектам Bag. Таким образом мэппинг функций из str можно производить напрямую, не исопльзуя функцию `map`.

In [128]:
b = db.from_sequence(['Alice Smith', 'Bob Jones', 'Charlie Smith'])

In [79]:
b.map(lambda x: x.lower()).compute()

['alice smith', 'bob jones', 'charlie smith']

In [129]:
print(b.str.lower().compute())

print(b.str.match('*Smith').compute())

print(b.str.split(' ').compute())

['alice smith', 'bob jones', 'charlie smith']
['Alice Smith', 'Charlie Smith']
[['Alice', 'Smith'], ['Bob', 'Jones'], ['Charlie', 'Smith']]

__Функции фильтрации__

| Функция | Краткое описание|
|------|------|
|Bag.filter(predicate) | Filter elements in collection by a predicate function|
|Bag.random_sample(prob[, random_state]) | Return elements from bag with probability of prob|
|Bag.remove(predicate) | Remove elements in collection that match predicate|

Примеры использования функции `filter`

In [61]:
b = db.from_sequence(range(5))
list(b.filter(lambda x: x % 2 == 0))

[0, 2, 4]

Примеры использования функции `random_sample`

In [62]:
b = db.from_sequence(range(50))
list(b.random_sample(0.1))

[2, 5, 28, 40]

Примеры использования функции `remove`

In [63]:
b = db.from_sequence(range(5))
# удаляет все элементы для которых выполняется предикат
list(b.remove(lambda x: x % 2 == 0))

[1, 3]

__Функции, преобразующие Bag__

| Функция | Краткое описание|
|------|------|
|concat(bags) | Concatenate many bags together, unioning all elements|
|zip(\*bags) | Partition-wise bag zip|
|||
|Bag.join(other, on_self[, on_other]) | Joins collection with another collection|
|Bag.product(other) | Cartesian product between two bags|
|Bag.flatten() | Concatenate nested lists into one long list|
|Bag.repartition(npartitions) | Coalesce bag into fewer partitions|

Примеры использования функции `concat`

In [64]:
a = db.from_sequence([1, 2, 3])
b = db.from_sequence([4, 5, 6])
print(a.npartitions)
c = db.concat([a, b])
print(c.npartitions)
list(c)

3
6

[1, 2, 3, 4, 5, 6]

Примеры использования функции `zip`

In [65]:
# переданные мультимножества должны иметь одинаковое количество сегментов, 
# а количество элементов в сегментах должно совпадать
evens = db.from_sequence(range(0, 20, 2), partition_size=4)
odds = db.from_sequence(range(1, 20, 2), partition_size=4)
pairs = db.zip(evens, odds)
list(pairs)

[(0, 1),
 (2, 3),
 (4, 5),
 (6, 7),
 (8, 9),
 (10, 11),
 (12, 13),
 (14, 15),
 (16, 17),
 (18, 19)]

In [66]:
evens.npartitions, pairs.npartitions

(3, 3)

Примеры использования функции `join`

In [67]:
people = db.from_sequence(['Alice', 'Bob', 'Charlie', 'Robert'])
fruit_l = ['Apple', 'Apricot', 'Banana', 'Fig', 'Tangerine']

people.npartitions

4

In [68]:
# bag.join выполняет соединение со значениями  из итерируемого контейнера 
# по условию равенства результатов возвращаемых функцией on_self
# соединение слов равной длины:
list(people.join(fruit_l, len))

[('Apple', 'Alice'),
 ('Fig', 'Bob'),
 ('Apricot', 'Charlie'),
 ('Banana', 'Robert')]

In [70]:
# соединение слов, начинающихся на одинаковую букву:
list(people.join(fruit_l, lambda x: x[0]))

[('Apple', 'Alice'), ('Apricot', 'Alice'), ('Banana', 'Bob')]

In [71]:
# соединение слов, которые в people заканичваются на букву с которой начинаются слова в fruit:
list(people.join(fruit_l, lambda x: x[-1], lambda x: x[0].lower()))

[('Banana', 'Bob'), ('Tangerine', 'Robert')]

Примеры использования функции `product`

In [96]:
fruit = db.from_sequence(fruit_l[:3])
# возвращает bag содержащий все пары (в виде картежей) элементов исходных мультимножеств 
# элементы в картежах упорядочены согласно порядку в операции исходных мультимножест 
pp = people.product(fruit)
print(people.npartitions)
list(pp)

4

[('Alice', 'Apple'),
 ('Alice', 'Apricot'),
 ('Alice', 'Banana'),
 ('Bob', 'Apple'),
 ('Bob', 'Apricot'),
 ('Bob', 'Banana'),
 ('Charlie', 'Apple'),
 ('Charlie', 'Apricot'),
 ('Charlie', 'Banana'),
 ('Robert', 'Apple'),
 ('Robert', 'Apricot'),
 ('Robert', 'Banana')]

In [95]:
pp.npartitions

12

Примеры использования функции `flatten`

In [97]:
people.map(list).compute()

[['A', 'l', 'i', 'c', 'e'],
 ['B', 'o', 'b'],
 ['C', 'h', 'a', 'r', 'l', 'i', 'e'],
 ['R', 'o', 'b', 'e', 'r', 't']]

In [100]:
people.npartitions

4

In [101]:
# конкатенирует вложнные списки в плоское (без вложенных контейнеров) мультимножество
people_flat = people.map(list).flatten()
print(people_flat.npartitions)
print(list(people_flat))

4
['A', 'l', 'i', 'c', 'e', 'B', 'o', 'b', 'C', 'h', 'a', 'r', 'l', 'i', 'e', 'R', 'o', 'b', 'e', 'r', 't']

__Функции группировки (shuffle)__

| Функция | Краткое описание|
|------|------|
|Bag.groupby(grouper[, method, npartitions, …]) | Group collection by key function|
|Bag.distinct() | Distinct elements of collection|
|Bag.frequencies([split_every, sort]) | Count number of occurrences of each distinct element|\

Примеры использования функции `groupby`

In [102]:
b = db.from_sequence(range(10))
# группирует значения из bag по результатам функции key
# очень ресурсоемкая операция, по возможности нужно заменять функцие foldby, совмещающей группировку со сверткой
list(b.groupby(lambda x: x % 2 == 0))

[(False, [7, 9, 1, 3, 5]), (True, [8, 0, 4, 2, 6])]

Примеры использования функции `distinct`

In [103]:
b = db.from_sequence(['Alice', 'Bob', 'Alice'])
# возвращает уникальные значения из bag, не гарантирует упорядоченности..............э
list(b.distinct())

['Alice', 'Bob']

Примеры использования функции `frequencies`

In [104]:
# подсчитывает частоты для элементов bag
b = db.from_sequence(['Alice', 'Bob', 'Alice'])
list(b.frequencies())

[('Alice', 2), ('Bob', 1)]

__Функции свертки__

| Функция | Краткое описание |
|------|------|
|Bag.fold(binop[, combine, initial, split_every]) | Parallelizable reduction|
|Bag.foldby(key, binop[, initial, combine, …]) | Combined reduction and groupby|
|Bag.reduction(perpartition, aggregate[, …]) | Reduce collection with reduction operators|

Примеры использования функции `fold`

In [105]:
b = db.from_sequence(range(5))
# fold - параллельная версия reduce, binop - бинарный оператор, используемый для свертки
b.fold(op.add).compute()

10

In [106]:
text = db.from_sequence('Fold is like the builtin function reduce except that it works in parallel'.split())
# bag со списками букв, содержащихся в словах
text = text.map(list)
# list(text)

In [107]:
def add_to_set(acc, x):
    return acc | set(x)

# fold может использовать две функции свертки на разных этапах операции
# первый параметр: функция для свертки на уровене сегмента; второй - для свертки результататов, полученных в сегментах
# возвращает множество всех букв, встречающихся в тексте:
print(text.fold(add_to_set, set.union, initial=set()).compute())

{'s', 'b', 'f', 'p', 'w', 'e', 'n', 'k', 'd', 'o', 'l', 'u', 'x', 'F', 'r', 'i', 't', 'a', 'c', 'h'}

Примеры использования функции `foldby`

`foldby` комбинирует свертку и группировку и выполняет эту операцию намного эффективнее последовательного применения `groupby` и `reduce`.

Последовательный аналог задачи, решаемой функцией `foldby`:
```python
>>> def reduction(group):                               
...     return reduce(binop, group, init) 

>>> b.groupby(key).map(lambda (k, v): (k, reduction(v)))
```

In [108]:
b = db.from_sequence(range(10))
iseven = lambda x: x % 2 == 0
# параметр key - опеределение ключа для группировки, binop - функция для проведения свертки
# сумма четных и нечетных числе из bag:
list(b.foldby(iseven, op.add))

[(True, 20), (False, 25)]

__Функции выполняющие агрегацию (свертку с заданными функциями)__

| Функция | Краткое описание |
|------|------|
|Bag.all([split_every]) | Are all elements truthy?|
|Bag.any([split_every]) | Are any of the elements truthy?|
|Bag.count([split_every]) | Count the number of elements|
|Bag.max([split_every]) | Maximum element|
|Bag.mean() | Arithmetic mean|
|Bag.min([split_every]) | Minimum element|
|Bag.std([ddof]) | Standard deviation|
|Bag.var([ddof])| Variance|
|Bag.sum([split_every]) | Sum all elements|

Свертка возвращающая несколько значений 

| Функция | Краткое описание |
|------|------|
|Bag.take(k[, npartitions, compute, warn])|Take the first k elements|
|Bag.topk(k[, key, split_every]) | K largest elements in collection|

Примеры использования функции `sum`

In [109]:
b = db.from_sequence(range(10))
b.sum().compute()

45

Примеры использования функции `take`

In [110]:
'Aa'.lower()

'aa'

In [111]:
text = db.from_sequence('Fold is like the builtin function reduce except that it works in parallel'.split(), npartitions=1)
# возвращает первые k элементов bag
# по умолчанию значение параметра compute True, т.е. автоматически выполняются отложенные вычисления
# по умолчанию работает только с первым сегментом bag
text.str.lower().take(3)

('fold', 'is', 'like')

Примеры использования функции `topk`

In [112]:
text = db.from_sequence('Fold is like the builtin function reduce except that it works in parallel'.split())
# k наибольших значений bag
# в некоторых задачах использование функции может заменить сортировку (не реализованную для Dask Bag)
list(text.str.lower().topk(3))

['works', 'the', 'that']

In [113]:
text = db.from_sequence('Fold is like the builtin function reduce except that it works in parallel'.split())

# функция key определяет пользовательский ключ для сортировки
list(text.topk(3, key=len))

['function', 'parallel', 'builtin']

### Example: Accounts JSON data

We've created a fake dataset of gzipped JSON data in your data directory.  This is like the example used in the `DataFrame` example we will see later, except that it has bundled up all of the entires for each individual `id` into a single record.  This is similar to data that you might collect off of a document store database or a web API.

Each line is a JSON encoded dictionary with the following keys

*  id: Unique identifier of the customer
*  name: Name of the customer
*  transactions: List of `transaction-id`, `amount` pairs, one for each transaction for the customer in that file

In [124]:
filename = os.path.join('data', 'accounts.*.json.gz')
lines = db.read_text(filename)
lines.take(3)

('{"id": 0, "name": "Frank", "transactions": [{"transaction-id": 1341, "amount": 289}, {"transaction-id": 3824, "amount": 240}, {"transaction-id": 5168, "amount": 235}, {"transaction-id": 7303, "amount": 250}, {"transaction-id": 7580, "amount": 283}, {"transaction-id": 9440, "amount": 169}, {"transaction-id": 9660, "amount": 127}, {"transaction-id": 10265, "amount": 247}, {"transaction-id": 10680, "amount": 171}, {"transaction-id": 10864, "amount": 142}, {"transaction-id": 11473, "amount": 183}, {"transaction-id": 12037, "amount": 203}, {"transaction-id": 12272, "amount": 206}, {"transaction-id": 12767, "amount": 156}, {"transaction-id": 13008, "amount": 195}, {"transaction-id": 13233, "amount": 162}, {"transaction-id": 13614, "amount": 197}, {"transaction-id": 14379, "amount": 240}, {"transaction-id": 15409, "amount": 313}, {"transaction-id": 16717, "amount": 162}, {"transaction-id": 16873, "amount": 221}, {"transaction-id": 19635, "amount": 162}, {"transaction-id": 21944, "amount": 180}, {"transaction-id": 23245, "amount": 231}, {"transaction-id": 23376, "amount": 192}, {"transaction-id": 24006, "amount": 120}, {"transaction-id": 25476, "amount": 207}, {"transaction-id": 26189, "amount": 287}, {"transaction-id": 29792, "amount": 106}, {"transaction-id": 31466, "amount": 93}, {"transaction-id": 32378, "amount": 189}, {"transaction-id": 34276, "amount": 175}, {"transaction-id": 34402, "amount": 130}, {"transaction-id": 34508, "amount": 167}, {"transaction-id": 34562, "amount": 130}, {"transaction-id": 34659, "amount": 267}, {"transaction-id": 34762, "amount": 158}, {"transaction-id": 35969, "amount": 242}, {"transaction-id": 36103, "amount": 244}, {"transaction-id": 36621, "amount": 171}, {"transaction-id": 37329, "amount": 196}, {"transaction-id": 38860, "amount": 182}, {"transaction-id": 39947, "amount": 204}, {"transaction-id": 40805, "amount": 153}, {"transaction-id": 41174, "amount": 235}, {"transaction-id": 41195, "amount": 196}, {"transaction-id": 42806, "amount": 200}, {"transaction-id": 43416, "amount": 171}, {"transaction-id": 43833, "amount": 190}, {"transaction-id": 44464, "amount": 151}, {"transaction-id": 45132, "amount": 106}, {"transaction-id": 46622, "amount": 298}, {"transaction-id": 47571, "amount": 199}, {"transaction-id": 48538, "amount": 172}, {"transaction-id": 49155, "amount": 170}, {"transaction-id": 49905, "amount": 274}, {"transaction-id": 50917, "amount": 185}, {"transaction-id": 52656, "amount": 238}, {"transaction-id": 53907, "amount": 163}, {"transaction-id": 55619, "amount": 207}, {"transaction-id": 56438, "amount": 142}, {"transaction-id": 56951, "amount": 197}, {"transaction-id": 57636, "amount": 206}, {"transaction-id": 59536, "amount": 220}, {"transaction-id": 60576, "amount": 220}, {"transaction-id": 60880, "amount": 189}, {"transaction-id": 61330, "amount": 190}, {"transaction-id": 61758, "amount": 240}, {"transaction-id": 61791, "amount": 188}, {"transaction-id": 62117, "amount": 193}, {"transaction-id": 63123, "amount": 195}, {"transaction-id": 63205, "amount": 184}, {"transaction-id": 63682, "amount": 263}, {"transaction-id": 64177, "amount": 262}, {"transaction-id": 67605, "amount": 183}, {"transaction-id": 67882, "amount": 165}, {"transaction-id": 70677, "amount": 85}, {"transaction-id": 71090, "amount": 184}, {"transaction-id": 71718, "amount": 208}, {"transaction-id": 72208, "amount": 251}, {"transaction-id": 72304, "amount": 185}, {"transaction-id": 74031, "amount": 233}, {"transaction-id": 74199, "amount": 216}, {"transaction-id": 74998, "amount": 202}, {"transaction-id": 75345, "amount": 131}, {"transaction-id": 75460, "amount": 149}, {"transaction-id": 76127, "amount": 235}, {"transaction-id": 76931, "amount": 297}, {"transaction-id": 78429, "amount": 232}, {"transaction-id": 78814, "amount": 249}, {"transaction-id": 79586, "amount": 197}, {"transaction-id": 80230, "amount": 152}, {"transaction-id": 80574, "amount": 224}, {"transaction-id": 80847, "amount": 240}, {"transaction-id": 82135, "amount": 137}, {"transaction-id": 82162, "amount": 188}, {"transaction-id": 84770, "amount": 193}, {"transaction-id": 85069, "amount": 192}, {"transaction-id": 86558, "amount": 97}, {"transaction-id": 89373, "amount": 261}, {"transaction-id": 89650, "amount": 209}, {"transaction-id": 89690, "amount": 212}, {"transaction-id": 91685, "amount": 246}, {"transaction-id": 94793, "amount": 312}, {"transaction-id": 95739, "amount": 180}, {"transaction-id": 95949, "amount": 133}, {"transaction-id": 96507, "amount": 209}, {"transaction-id": 97980, "amount": 173}, {"transaction-id": 99999, "amount": 293}]}\n',
 '{"id": 1, "name": "Frank", "transactions": [{"transaction-id": 735, "amount": 2458}, {"transaction-id": 879, "amount": 2640}, {"transaction-id": 1641, "amount": 2831}, {"transaction-id": 4624, "amount": 2711}, {"transaction-id": 5298, "amount": 2666}, {"transaction-id": 7707, "amount": 2751}, {"transaction-id": 7957, "amount": 2534}, {"transaction-id": 8952, "amount": 2826}, {"transaction-id": 9352, "amount": 2620}, {"transaction-id": 10184, "amount": 2675}, {"transaction-id": 11458, "amount": 2338}, {"transaction-id": 13341, "amount": 2777}, {"transaction-id": 16002, "amount": 2611}, {"transaction-id": 18093, "amount": 2480}, {"transaction-id": 19448, "amount": 2671}, {"transaction-id": 20993, "amount": 2812}, {"transaction-id": 24570, "amount": 2710}, {"transaction-id": 26239, "amount": 2874}, {"transaction-id": 26306, "amount": 2653}, {"transaction-id": 26959, "amount": 2703}, {"transaction-id": 27665, "amount": 2588}, {"transaction-id": 28543, "amount": 2586}, {"transaction-id": 30532, "amount": 2394}, {"transaction-id": 30647, "amount": 2646}, {"transaction-id": 30806, "amount": 2507}, {"transaction-id": 30865, "amount": 2760}, {"transaction-id": 32301, "amount": 2636}, {"transaction-id": 34891, "amount": 2782}, {"transaction-id": 36349, "amount": 2656}, {"transaction-id": 41793, "amount": 2573}, {"transaction-id": 43120, "amount": 2869}, {"transaction-id": 44229, "amount": 2621}, {"transaction-id": 44845, "amount": 2535}, {"transaction-id": 45762, "amount": 2476}, {"transaction-id": 45964, "amount": 2774}, {"transaction-id": 50691, "amount": 2581}, {"transaction-id": 53299, "amount": 2952}, {"transaction-id": 53700, "amount": 2678}, {"transaction-id": 54510, "amount": 2552}, {"transaction-id": 58156, "amount": 2792}, {"transaction-id": 59968, "amount": 2540}, {"transaction-id": 61608, "amount": 2661}, {"transaction-id": 62686, "amount": 2528}, {"transaction-id": 62842, "amount": 2640}, {"transaction-id": 63570, "amount": 2772}, {"transaction-id": 67557, "amount": 2577}, {"transaction-id": 67807, "amount": 2660}, {"transaction-id": 68978, "amount": 2675}, {"transaction-id": 69306, "amount": 2607}, {"transaction-id": 69696, "amount": 2655}, {"transaction-id": 72440, "amount": 2726}, {"transaction-id": 76436, "amount": 2629}, {"transaction-id": 77098, "amount": 2607}, {"transaction-id": 77795, "amount": 2845}, {"transaction-id": 78525, "amount": 2667}, {"transaction-id": 80401, "amount": 2695}, {"transaction-id": 81320, "amount": 2501}, {"transaction-id": 81467, "amount": 2495}, {"transaction-id": 82641, "amount": 2528}, {"transaction-id": 83090, "amount": 2617}, {"transaction-id": 83876, "amount": 2731}, {"transaction-id": 83933, "amount": 2610}, {"transaction-id": 86490, "amount": 2872}, {"transaction-id": 87011, "amount": 2557}, {"transaction-id": 91359, "amount": 2690}, {"transaction-id": 91652, "amount": 2863}, {"transaction-id": 93014, "amount": 2645}, {"transaction-id": 93186, "amount": 2648}, {"transaction-id": 93344, "amount": 2795}, {"transaction-id": 93583, "amount": 2655}, {"transaction-id": 96181, "amount": 2826}, {"transaction-id": 97298, "amount": 2462}, {"transaction-id": 97468, "amount": 2658}, {"transaction-id": 98092, "amount": 2747}]}\n',

Our data comes out of the file as lines of text. Notice that file decompression happened automatically. We can make this data look more reasonable by mapping the `json.loads` function onto our bag.

In [125]:
import json
js = lines.map(json.loads)
# take: inspect first few elements
js.take(3)

({'id': 0,
  'name': 'Frank',
  'transactions': [{'transaction-id': 1341, 'amount': 289},
   {'transaction-id': 3824, 'amount': 240},
   {'transaction-id': 5168, 'amount': 235},
   {'transaction-id': 7303, 'amount': 250},
   {'transaction-id': 7580, 'amount': 283},
   {'transaction-id': 9440, 'amount': 169},
   {'transaction-id': 9660, 'amount': 127},
   {'transaction-id': 10265, 'amount': 247},
   {'transaction-id': 10680, 'amount': 171},
   {'transaction-id': 10864, 'amount': 142},
   {'transaction-id': 11473, 'amount': 183},
   {'transaction-id': 12037, 'amount': 203},
   {'transaction-id': 12272, 'amount': 206},
   {'transaction-id': 12767, 'amount': 156},
   {'transaction-id': 13008, 'amount': 195},
   {'transaction-id': 13233, 'amount': 162},
   {'transaction-id': 13614, 'amount': 197},
   {'transaction-id': 14379, 'amount': 240},
   {'transaction-id': 15409, 'amount': 313},
   {'transaction-id': 16717, 'amount': 162},
   {'transaction-id': 16873, 'amount': 221},
   {'transaction-id': 19635, 'amount': 162},
   {'transaction-id': 21944, 'amount': 180},
   {'transaction-id': 23245, 'amount': 231},
   {'transaction-id': 23376, 'amount': 192},
   {'transaction-id': 24006, 'amount': 120},
   {'transaction-id': 25476, 'amount': 207},
   {'transaction-id': 26189, 'amount': 287},
   {'transaction-id': 29792, 'amount': 106},
   {'transaction-id': 31466, 'amount': 93},
   {'transaction-id': 32378, 'amount': 189},
   {'transaction-id': 34276, 'amount': 175},
   {'transaction-id': 34402, 'amount': 130},
   {'transaction-id': 34508, 'amount': 167},
   {'transaction-id': 34562, 'amount': 130},
   {'transaction-id': 34659, 'amount': 267},
   {'transaction-id': 34762, 'amount': 158},
   {'transaction-id': 35969, 'amount': 242},
   {'transaction-id': 36103, 'amount': 244},
   {'transaction-id': 36621, 'amount': 171},
   {'transaction-id': 37329, 'amount': 196},
   {'transaction-id': 38860, 'amount': 182},
   {'transaction-id': 39947, 'amount': 204},
   {'transaction-id': 40805, 'amount': 153},
   {'transaction-id': 41174, 'amount': 235},
   {'transaction-id': 41195, 'amount': 196},
   {'transaction-id': 42806, 'amount': 200},
   {'transaction-id': 43416, 'amount': 171},
   {'transaction-id': 43833, 'amount': 190},
   {'transaction-id': 44464, 'amount': 151},
   {'transaction-id': 45132, 'amount': 106},
   {'transaction-id': 46622, 'amount': 298},
   {'transaction-id': 47571, 'amount': 199},
   {'transaction-id': 48538, 'amount': 172},
   {'transaction-id': 49155, 'amount': 170},
   {'transaction-id': 49905, 'amount': 274},
   {'transaction-id': 50917, 'amount': 185},
   {'transaction-id': 52656, 'amount': 238},
   {'transaction-id': 53907, 'amount': 163},
   {'transaction-id': 55619, 'amount': 207},
   {'transaction-id': 56438, 'amount': 142},
   {'transaction-id': 56951, 'amount': 197},
   {'transaction-id': 57636, 'amount': 206},
   {'transaction-id': 59536, 'amount': 220},
   {'transaction-id': 60576, 'amount': 220},
   {'transaction-id': 60880, 'amount': 189},
   {'transaction-id': 61330, 'amount': 190},
   {'transaction-id': 61758, 'amount': 240},
   {'transaction-id': 61791, 'amount': 188},
   {'transaction-id': 62117, 'amount': 193},
   {'transaction-id': 63123, 'amount': 195},
   {'transaction-id': 63205, 'amount': 184},
   {'transaction-id': 63682, 'amount': 263},
   {'transaction-id': 64177, 'amount': 262},
   {'transaction-id': 67605, 'amount': 183},
   {'transaction-id': 67882, 'amount': 165},
   {'transaction-id': 70677, 'amount': 85},
   {'transaction-id': 71090, 'amount': 184},
   {'transaction-id': 71718, 'amount': 208},
   {'transaction-id': 72208, 'amount': 251},
   {'transaction-id': 72304, 'amount': 185},
   {'transaction-id': 74031, 'amount': 233},
   {'transaction-id': 74199, 'amount': 216},
   {'transaction-id': 74998, 'amount': 202},
   {'transaction-id': 75345, 'amount': 131},
   {'transaction-id': 75460, 'amount': 149},
   {'transaction-id': 76127, 'amount': 235},
   {'transaction-id': 76931, 'amount': 297},
   {'transaction-id': 78429, 'amount': 232},
   {'transaction-id': 78814, 'amount': 249},
   {'transaction-id': 79586, 'amount': 197},
   {'transaction-id': 80230, 'amount': 152},
   {'transaction-id': 80574, 'amount': 224},
   {'transaction-id': 80847, 'amount': 240},
   {'transaction-id': 82135, 'amount': 137},
   {'transaction-id': 82162, 'amount': 188},
   {'transaction-id': 84770, 'amount': 193},
   {'transaction-id': 85069, 'amount': 192},
   {'transaction-id': 86558, 'amount': 97},
   {'transaction-id': 89373, 'amount': 261},
   {'transaction-id': 89650, 'amount': 209},
   {'transaction-id': 89690, 'amount': 212},
   {'transaction-id': 91685, 'amount': 246},
   {'transaction-id': 94793, 'amount': 312},
   {'transaction-id': 95739, 'amount': 180},
   {'transaction-id': 95949, 'amount': 133},
   {'transaction-id': 96507, 'amount': 209},
   {'transaction-id': 97980, 'amount': 173},
   {'transaction-id': 99999, 'amount': 293}]},
 {'id': 1,
  'name': 'Frank',
  'transactions': [{'transaction-id': 735, 'amount': 2458},
   {'transaction-id': 879, 'amount': 2640},
   {'transaction-id': 1641, 'amount': 2831},
   {'transaction-id': 4624, 'amount': 2711},
   {'transaction-id': 5298, 'amount': 2666},
   {'transaction-id': 7707, 'amount': 2751},
   {'transaction-id': 7957, 'amount': 2534},
   {'transaction-id': 8952, 'amount': 2826},
   {'transaction-id': 9352, 'amount': 2620},
   {'transaction-id': 10184, 'amount': 2675},
   {'transaction-id': 11458, 'amount': 2338},
   {'transaction-id': 13341, 'amount': 2777},
   {'transaction-id': 16002, 'amount': 2611},
   {'transaction-id': 18093, 'amount': 2480},
   {'transaction-id': 19448, 'amount': 2671},
   {'transaction-id': 20993, 'amount': 2812},
   {'transaction-id': 24570, 'amount': 2710},
   {'transaction-id': 26239, 'amount': 2874},
   {'transaction-id': 26306, 'amount': 2653},
   {'transaction-id': 26959, 'amount': 2703},
   {'transaction-id': 27665, 'amount': 2588},
   {'transaction-id': 28543, 'amount': 2586},
   {'transaction-id': 30532, 'amount': 2394},
   {'transaction-id': 30647, 'amount': 2646},
   {'transaction-id': 30806, 'amount': 2507},
   {'transaction-id': 30865, 'amount': 2760},
   {'transaction-id': 32301, 'amount': 2636},
   {'transaction-id': 34891, 'amount': 2782},
   {'transaction-id': 36349, 'amount': 2656},
   {'transaction-id': 41793, 'amount': 2573},
   {'transaction-id': 43120, 'amount': 2869},
   {'transaction-id': 44229, 'amount': 2621},
   {'transaction-id': 44845, 'amount': 2535},
   {'transaction-id': 45762, 'amount': 2476},
   {'transaction-id': 45964, 'amount': 2774},
   {'transaction-id': 50691, 'amount': 2581},
   {'transaction-id': 53299, 'amount': 2952},
   {'transaction-id': 53700, 'amount': 2678},
   {'transaction-id': 54510, 'amount': 2552},
   {'transaction-id': 58156, 'amount': 2792},
   {'transaction-id': 59968, 'amount': 2540},
   {'transaction-id': 61608, 'amount': 2661},
   {'transaction-id': 62686, 'amount': 2528},
   {'transaction-id': 62842, 'amount': 2640},
   {'transaction-id': 63570, 'amount': 2772},
   {'transaction-id': 67557, 'amount': 2577},
   {'transaction-id': 67807, 'amount': 2660},
   {'transaction-id': 68978, 'amount': 2675},
   {'transaction-id': 69306, 'amount': 2607},
   {'transaction-id': 69696, 'amount': 2655},
   {'transaction-id': 72440, 'amount': 2726},
   {'transaction-id': 76436, 'amount': 2629},
   {'transaction-id': 77098, 'amount': 2607},
   {'transaction-id': 77795, 'amount': 2845},
   {'transaction-id': 78525, 'amount': 2667},
   {'transaction-id': 80401, 'amount': 2695},
   {'transaction-id': 81320, 'amount': 2501},
   {'transaction-id': 81467, 'amount': 2495},
   {'transaction-id': 82641, 'amount': 2528},
   {'transaction-id': 83090, 'amount': 2617},
   {'transaction-id': 83876, 'amount': 2731},
   {'transaction-id': 83933, 'amount': 2610},
   {'transaction-id': 86490, 'amount': 2872},
   {'transaction-id': 87011, 'amount': 2557},
   {'transaction-id': 91359, 'amount': 2690},
   {'transaction-id': 91652, 'amount': 2863},
   {'transaction-id': 93014, 'amount': 2645},
   {'transaction-id': 93186, 'amount': 2648},
   {'transaction-id': 93344, 'amount': 2795},
   {'transaction-id': 93583, 'amount': 2655},
   {'transaction-id': 96181, 'amount': 2826},
   {'transaction-id': 97298, 'amount': 2462},
   {'transaction-id': 97468, 'amount': 2658},
   {'transaction-id': 98092, 'amount': 2747}]},
 {'id': 2,
  'name': 'Dan',
  'transactions': [{'transaction-id': 192, 'amount': 1783},
   {'transaction-id': 700, 'amount': 1538},
   {'transaction-id': 894, 'amount': 1704},
   {'transaction-id': 1003, 'amount': 1507},
   {'transaction-id': 1320, 'amount': 1864},
   {'transaction-id': 1622, 'amount': 1530},
   {'transaction-id': 1768, 'amount': 1871},
   {'transaction-id': 1771, 'amount': 1365},
   {'transaction-id': 2343, 'amount': 1492},
   {'transaction-id': 2629, 'amount': 1739},
   {'transaction-id': 2957, 'amount': 1315},
   {'transaction-id': 3020, 'amount': 1372},
   {'transaction-id': 3082, 'amount': 1186},
   {'transaction-id': 3399, 'amount': 1248},
   {'transaction-id': 3554, 'amount': 1515},
   {'transaction-id': 3744, 'amount': 1661},
   {'transaction-id': 3960, 'amount': 1429},
   {'transaction-id': 4006, 'amount': 1591},
   {'transaction-id': 4053, 'amount': 1335},
   {'transaction-id': 4325, 'amount': 1038},
   {'transaction-id': 4742, 'amount': 1614},
   {'transaction-id': 4801, 'amount': 1699},
   {'transaction-id': 5488, 'amount': 1567},
   {'transaction-id': 5576, 'amount': 1772},
   {'transaction-id': 5963, 'amount': 1537},
   {'transaction-id': 6223, 'amount': 1368},
   {'transaction-id': 6263, 'amount': 1620},
   {'transaction-id': 7105, 'amount': 1303},
   {'transaction-id': 7136, 'amount': 1684},
   {'transaction-id': 7296, 'amount': 1436},
   {'transaction-id': 7373, 'amount': 1376},
   {'transaction-id': 7631, 'amount': 1130},
   {'transaction-id': 8004, 'amount': 1573},
   {'transaction-id': 8097, 'amount': 1375},
   {'transaction-id': 9232, 'amount': 1296},
   {'transaction-id': 9536, 'amount': 1240},
   {'transaction-id': 10033, 'amount': 1553},
   {'transaction-id': 10399, 'amount': 1647},
   {'transaction-id': 10659, 'amount': 1901},
   {'transaction-id': 10973, 'amount': 1592},
   {'transaction-id': 11194, 'amount': 1664},
   {'transaction-id': 11680, 'amount': 1722},
   {'transaction-id': 12086, 'amount': 1869},
   {'transaction-id': 12511, 'amount': 1696},
   {'transaction-id': 12873, 'amount': 1328},
   {'transaction-id': 13169, 'amount': 1664},
   {'transaction-id': 13231, 'amount': 1465},
   {'transaction-id': 13283, 'amount': 1574},
   {'transaction-id': 13392, 'amount': 1548},
   {'transaction-id': 13844, 'amount': 1768},
   {'transaction-id': 14253, 'amount': 1396},
   {'transaction-id': 14644, 'amount': 1308},
   {'transaction-id': 15321, 'amount': 1554},
   {'transaction-id': 15751, 'amount': 1566},
   {'transaction-id': 15856, 'amount': 1618},
   {'transaction-id': 15956, 'amount': 1420},
   {'transaction-id': 16141, 'amount': 1543},
   {'transaction-id': 16190, 'amount': 1801},
   {'transaction-id': 16322, 'amount': 1372},
   {'transaction-id': 16977, 'amount': 1596},
   {'transaction-id': 16990, 'amount': 1653},
   {'transaction-id': 17081, 'amount': 1114},
   {'transaction-id': 17569, 'amount': 1587},
   {'transaction-id': 18167, 'amount': 1405},
   {'transaction-id': 18208, 'amount': 1649},
   {'transaction-id': 18349, 'amount': 1462},
   {'transaction-id': 18439, 'amount': 1412},
   {'transaction-id': 18572, 'amount': 1946},
   {'transaction-id': 18591, 'amount': 1667},
   {'transaction-id': 18692, 'amount': 1362},
   {'transaction-id': 18748, 'amount': 1525},
   {'transaction-id': 19203, 'amount': 1713},
   {'transaction-id': 19251, 'amount': 1328},
   {'transaction-id': 19351, 'amount': 1612},
   {'transaction-id': 19552, 'amount': 1278},
   {'transaction-id': 19579, 'amount': 1522},
   {'transaction-id': 19633, 'amount': 1368},
   {'transaction-id': 20035, 'amount': 1787},
   {'transaction-id': 20198, 'amount': 1156},
   {'transaction-id': 20202, 'amount': 1780},
   {'transaction-id': 20250, 'amount': 1450},
   {'transaction-id': 20641, 'amount': 1393},
   {'transaction-id': 21168, 'amount': 1741},
   {'transaction-id': 21195, 'amount': 1663},
   {'transaction-id': 21398, 'amount': 1696},
   {'transaction-id': 21400, 'amount': 1493},
   {'transaction-id': 21819, 'amount': 1783},
   {'transaction-id': 21903, 'amount': 1529},
   {'transaction-id': 22247, 'amount': 1473},
   {'transaction-id': 22384, 'amount': 1495},
   {'transaction-id': 22812, 'amount': 1212},
   {'transaction-id': 23219, 'amount': 1658},
   {'transaction-id': 23582, 'amount': 1307},
   {'transaction-id': 23956, 'amount': 1569},
   {'transaction-id': 24100, 'amount': 1550},
   {'transaction-id': 24153, 'amount': 1389},
   {'transaction-id': 24287, 'amount': 1266},
   {'transaction-id': 24541, 'amount': 1660},
   {'transaction-id': 24847, 'amount': 1524},
   {'transaction-id': 24956, 'amount': 1257},
   {'transaction-id': 24989, 'amount': 1629},
   {'transaction-id': 25186, 'amount': 1383},
   {'transaction-id': 25461, 'amount': 1581},
   {'transaction-id': 25920, 'amount': 1282},
   {'transaction-id': 26032, 'amount': 1446},
   {'transaction-id': 26210, 'amount': 1342},
   {'transaction-id': 26983, 'amount': 1410},
   {'transaction-id': 27131, 'amount': 1316},
   {'transaction-id': 27673, 'amount': 1389},
   {'transaction-id': 27809, 'amount': 1442},
   {'transaction-id': 28179, 'amount': 1608},
   {'transaction-id': 28695, 'amount': 1532},
   {'transaction-id': 29377, 'amount': 1490},
   {'transaction-id': 29563, 'amount': 1539},
   {'transaction-id': 29662, 'amount': 1522},
   {'transaction-id': 29808, 'amount': 1616},
   {'transaction-id': 29839, 'amount': 1740},
   {'transaction-id': 30117, 'amount': 1741},
   {'transaction-id': 30764, 'amount': 1304},
   {'transaction-id': 31285, 'amount': 1609},
   {'transaction-id': 31570, 'amount': 1299},
   {'transaction-id': 31935, 'amount': 1581},
   {'transaction-id': 32256, 'amount': 1461},
   {'transaction-id': 32820, 'amount': 1679},
   {'transaction-id': 32852, 'amount': 1622},
   {'transaction-id': 32895, 'amount': 1318},
   {'transaction-id': 33324, 'amount': 1464},
   {'transaction-id': 33708, 'amount': 1438},
   {'transaction-id': 35020, 'amount': 1841},
   {'transaction-id': 35165, 'amount': 1707},
   {'transaction-id': 35670, 'amount': 1606},
   {'transaction-id': 36067, 'amount': 1359},
   {'transaction-id': 36327, 'amount': 1644},
   {'transaction-id': 36340, 'amount': 1129},
   {'transaction-id': 36441, 'amount': 1204},
   {'transaction-id': 37131, 'amount': 1473},
   {'transaction-id': 37412, 'amount': 1618},
   {'transaction-id': 37488, 'amount': 1693},
   {'transaction-id': 37716, 'amount': 1866},
   {'transaction-id': 37845, 'amount': 1786},
   {'transaction-id': 37969, 'amount': 1519},
   {'transaction-id': 38502, 'amount': 1569},
   {'transaction-id': 38680, 'amount': 1403},
   {'transaction-id': 38713, 'amount': 1483},
   {'transaction-id': 38859, 'amount': 1472},
   {'transaction-id': 39066, 'amount': 1643},
   {'transaction-id': 39070, 'amount': 1395},
   {'transaction-id': 39267, 'amount': 1778},
   {'transaction-id': 39295, 'amount': 1627},
   {'transaction-id': 39361, 'amount': 1471},
   {'transaction-id': 39976, 'amount': 1509},
   {'transaction-id': 40007, 'amount': 1429},
   {'transaction-id': 40093, 'amount': 1627},
   {'transaction-id': 40375, 'amount': 1667},
   {'transaction-id': 40814, 'amount': 1294},
   {'transaction-id': 41009, 'amount': 1310},
   {'transaction-id': 41036, 'amount': 1315},
   {'transaction-id': 41056, 'amount': 2068},
   {'transaction-id': 41313, 'amount': 1437},
   {'transaction-id': 41331, 'amount': 1472},
   {'transaction-id': 41476, 'amount': 1477},
   {'transaction-id': 41646, 'amount': 1458},
   {'transaction-id': 41925, 'amount': 1876},
   {'transaction-id': 41949, 'amount': 1316},
   {'transaction-id': 42003, 'amount': 1393},
   {'transaction-id': 42283, 'amount': 1809},
   {'transaction-id': 42607, 'amount': 1760},
   {'transaction-id': 43294, 'amount': 1419},
   {'transaction-id': 43520, 'amount': 1205},
   {'transaction-id': 43533, 'amount': 1620},
   {'transaction-id': 43754, 'amount': 1634},
   {'transaction-id': 43770, 'amount': 1497},
   {'transaction-id': 43858, 'amount': 1436},
   {'transaction-id': 44217, 'amount': 1150},
   {'transaction-id': 44807, 'amount': 1559},
   {'transaction-id': 44949, 'amount': 1518},
   {'transaction-id': 44997, 'amount': 1653},
   {'transaction-id': 45122, 'amount': 1503},
   {'transaction-id': 45126, 'amount': 1545},
   {'transaction-id': 45334, 'amount': 1554},
   {'transaction-id': 45505, 'amount': 1672},
   {'transaction-id': 45627, 'amount': 1446},
   {'transaction-id': 46039, 'amount': 1229},
   {'transaction-id': 46117, 'amount': 1376},
   {'transaction-id': 46274, 'amount': 1431},
   {'transaction-id': 46473, 'amount': 1218},
   {'transaction-id': 46491, 'amount': 1638},
   {'transaction-id': 47022, 'amount': 1276},
   {'transaction-id': 47661, 'amount': 1739},
   {'transaction-id': 47758, 'amount': 1335},
   {'transaction-id': 47924, 'amount': 1605},
   {'transaction-id': 48029, 'amount': 1391},
   {'transaction-id': 48076, 'amount': 1554},
   {'transaction-id': 48249, 'amount': 1549},
   {'transaction-id': 49143, 'amount': 1511},
   {'transaction-id': 49364, 'amount': 1184},
   {'transaction-id': 49699, 'amount': 1560},
   {'transaction-id': 49983, 'amount': 1440},
   {'transaction-id': 49987, 'amount': 1501},
   {'transaction-id': 49999, 'amount': 1225},
   {'transaction-id': 50135, 'amount': 1236},
   {'transaction-id': 50318, 'amount': 1261},
   {'transaction-id': 50639, 'amount': 1464},
   {'transaction-id': 50858, 'amount': 1658},
   {'transaction-id': 51285, 'amount': 1483},
   {'transaction-id': 51452, 'amount': 1600},
   {'transaction-id': 52044, 'amount': 1682},
   {'transaction-id': 52153, 'amount': 1374},
   {'transaction-id': 52180, 'amount': 1384},
   {'transaction-id': 52322, 'amount': 1658},
   {'transaction-id': 52609, 'amount': 1364},
   {'transaction-id': 53163, 'amount': 1595},
   {'transaction-id': 53271, 'amount': 1931},
   {'transaction-id': 53429, 'amount': 1362},
   {'transaction-id': 53594, 'amount': 1466},
   {'transaction-id': 53849, 'amount': 1597},
   {'transaction-id': 54036, 'amount': 1451},
   {'transaction-id': 54197, 'amount': 1265},
   {'transaction-id': 54246, 'amount': 1111},
   {'transaction-id': 54721, 'amount': 1525},
   {'transaction-id': 54876, 'amount': 1715},
   {'transaction-id': 54975, 'amount': 1667},
   {'transaction-id': 54984, 'amount': 1439},
   {'transaction-id': 55272, 'amount': 1478},
   {'transaction-id': 55707, 'amount': 1689},
   {'transaction-id': 56018, 'amount': 1534},
   {'transaction-id': 56573, 'amount': 1896},
   {'transaction-id': 56605, 'amount': 1642},
   {'transaction-id': 56784, 'amount': 1568},
   {'transaction-id': 56878, 'amount': 1336},
   {'transaction-id': 57126, 'amount': 1205},
   {'transaction-id': 57198, 'amount': 1786},
   {'transaction-id': 57366, 'amount': 1385},
   {'transaction-id': 57670, 'amount': 1487},
   {'transaction-id': 58689, 'amount': 1231},
   {'transaction-id': 58843, 'amount': 1714},
   {'transaction-id': 58887, 'amount': 1675},
   {'transaction-id': 58966, 'amount': 2141},
   {'transaction-id': 59036, 'amount': 1500},
   {'transaction-id': 59368, 'amount': 1291},
   {'transaction-id': 59460, 'amount': 1588},
   {'transaction-id': 59461, 'amount': 1870},
   {'transaction-id': 60079, 'amount': 1543},
   {'transaction-id': 60255, 'amount': 1550},
   {'transaction-id': 60648, 'amount': 1678},
   {'transaction-id': 60891, 'amount': 1802},
   {'transaction-id': 61052, 'amount': 1493},
   {'transaction-id': 61188, 'amount': 1538},
   {'transaction-id': 61417, 'amount': 1423},
   {'transaction-id': 61735, 'amount': 1634},
   {'transaction-id': 62272, 'amount': 1595},
   {'transaction-id': 62585, 'amount': 1232},

### Basic Queries

Once we parse our JSON data into proper Python objects (`dict`s, `list`s, etc.) we can perform more interesting queries by creating small Python functions to run on our data.

In [126]:
# filter: keep only some elements of the sequence
js.filter(lambda record: record['name'] == 'Alice').take(5)

({'id': 12,
  'name': 'Alice',
  'transactions': [{'transaction-id': 1284, 'amount': 28},
   {'transaction-id': 2262, 'amount': 24},
   {'transaction-id': 4392, 'amount': 25},
   {'transaction-id': 4633, 'amount': 25},
   {'transaction-id': 9418, 'amount': 25},
   {'transaction-id': 9795, 'amount': 21},
   {'transaction-id': 11345, 'amount': 22},
   {'transaction-id': 11406, 'amount': 24},
   {'transaction-id': 11480, 'amount': 25},
   {'transaction-id': 12164, 'amount': 22},
   {'transaction-id': 12738, 'amount': 27},
   {'transaction-id': 13076, 'amount': 21},
   {'transaction-id': 13182, 'amount': 24},
   {'transaction-id': 14485, 'amount': 23},
   {'transaction-id': 15001, 'amount': 24},
   {'transaction-id': 17278, 'amount': 23},
   {'transaction-id': 17666, 'amount': 26},
   {'transaction-id': 18117, 'amount': 22},
   {'transaction-id': 20855, 'amount': 23},
   {'transaction-id': 21198, 'amount': 24},
   {'transaction-id': 25098, 'amount': 24},
   {'transaction-id': 27115, 'amount': 25},
   {'transaction-id': 29519, 'amount': 22},
   {'transaction-id': 29680, 'amount': 25},
   {'transaction-id': 29972, 'amount': 22},
   {'transaction-id': 30219, 'amount': 25},
   {'transaction-id': 31149, 'amount': 21},
   {'transaction-id': 32108, 'amount': 26},
   {'transaction-id': 34154, 'amount': 25},
   {'transaction-id': 36503, 'amount': 28},
   {'transaction-id': 39491, 'amount': 26},
   {'transaction-id': 42407, 'amount': 25},
   {'transaction-id': 44614, 'amount': 23},
   {'transaction-id': 46999, 'amount': 23},
   {'transaction-id': 49119, 'amount': 24},
   {'transaction-id': 49313, 'amount': 20},
   {'transaction-id': 51891, 'amount': 24},
   {'transaction-id': 54019, 'amount': 21},
   {'transaction-id': 54845, 'amount': 22},
   {'transaction-id': 55015, 'amount': 24},
   {'transaction-id': 55405, 'amount': 26},
   {'transaction-id': 59806, 'amount': 21},
   {'transaction-id': 61898, 'amount': 23},
   {'transaction-id': 63677, 'amount': 24},
   {'transaction-id': 64674, 'amount': 23},
   {'transaction-id': 65225, 'amount': 25},
   {'transaction-id': 66331, 'amount': 23},
   {'transaction-id': 68641, 'amount': 21},
   {'transaction-id': 69181, 'amount': 25},
   {'transaction-id': 72701, 'amount': 23},
   {'transaction-id': 73823, 'amount': 28},
   {'transaction-id': 77775, 'amount': 26},
   {'transaction-id': 78362, 'amount': 25},
   {'transaction-id': 80039, 'amount': 22},
   {'transaction-id': 80480, 'amount': 25},
   {'transaction-id': 81143, 'amount': 26},
   {'transaction-id': 82768, 'amount': 24},
   {'transaction-id': 85082, 'amount': 24},
   {'transaction-id': 85815, 'amount': 25},
   {'transaction-id': 88175, 'amount': 26},
   {'transaction-id': 88193, 'amount': 22},
   {'transaction-id': 88555, 'amount': 23},
   {'transaction-id': 90266, 'amount': 25},
   {'transaction-id': 90486, 'amount': 24},
   {'transaction-id': 93025, 'amount': 26},
   {'transaction-id': 97470, 'amount': 26}]},
 {'id': 14,
  'name': 'Alice',
  'transactions': [{'transaction-id': 419, 'amount': -14},
   {'transaction-id': 1987, 'amount': -108},
   {'transaction-id': 2722, 'amount': -66},
   {'transaction-id': 2777, 'amount': -37},
   {'transaction-id': 3018, 'amount': -15},
   {'transaction-id': 3059, 'amount': -142},
   {'transaction-id': 3201, 'amount': -71},
   {'transaction-id': 3292, 'amount': -127},
   {'transaction-id': 3295, 'amount': -67},
   {'transaction-id': 3701, 'amount': -141},
   {'transaction-id': 4026, 'amount': -63},
   {'transaction-id': 5608, 'amount': -97},
   {'transaction-id': 5985, 'amount': -108},
   {'transaction-id': 6277, 'amount': -70},
   {'transaction-id': 7006, 'amount': -46},
   {'transaction-id': 7142, 'amount': 28},
   {'transaction-id': 7185, 'amount': 20},
   {'transaction-id': 8389, 'amount': -83},
   {'transaction-id': 11756, 'amount': -87},
   {'transaction-id': 12979, 'amount': 0},
   {'transaction-id': 13508, 'amount': -59},
   {'transaction-id': 13671, 'amount': -159},
   {'transaction-id': 15466, 'amount': -79},
   {'transaction-id': 15688, 'amount': -58},
   {'transaction-id': 15692, 'amount': -19},
   {'transaction-id': 17809, 'amount': -82},
   {'transaction-id': 18764, 'amount': -54},
   {'transaction-id': 19050, 'amount': -15},
   {'transaction-id': 21135, 'amount': -69},
   {'transaction-id': 21366, 'amount': -93},
   {'transaction-id': 22741, 'amount': -96},
   {'transaction-id': 23748, 'amount': -30},
   {'transaction-id': 23889, 'amount': 0},
   {'transaction-id': 24929, 'amount': -19},
   {'transaction-id': 25717, 'amount': -29},
   {'transaction-id': 25817, 'amount': -54},
   {'transaction-id': 26224, 'amount': -36},
   {'transaction-id': 28396, 'amount': -35},
   {'transaction-id': 30668, 'amount': -38},
   {'transaction-id': 30810, 'amount': -65},
   {'transaction-id': 31085, 'amount': 0},
   {'transaction-id': 34322, 'amount': -16},
   {'transaction-id': 34991, 'amount': -34},
   {'transaction-id': 35923, 'amount': -61},
   {'transaction-id': 36283, 'amount': -32},
   {'transaction-id': 38005, 'amount': -145},
   {'transaction-id': 38582, 'amount': -129},
   {'transaction-id': 42443, 'amount': -76},
   {'transaction-id': 43325, 'amount': -25},
   {'transaction-id': 43504, 'amount': -36},
   {'transaction-id': 43566, 'amount': -42},
   {'transaction-id': 43679, 'amount': -20},
   {'transaction-id': 46764, 'amount': -95},
   {'transaction-id': 49383, 'amount': -32},
   {'transaction-id': 51001, 'amount': 75},
   {'transaction-id': 51159, 'amount': -30},
   {'transaction-id': 52234, 'amount': -91},
   {'transaction-id': 52344, 'amount': -19},
   {'transaction-id': 52520, 'amount': -62},
   {'transaction-id': 53022, 'amount': -42},
   {'transaction-id': 54813, 'amount': -34},
   {'transaction-id': 57537, 'amount': -70},
   {'transaction-id': 59162, 'amount': -46},
   {'transaction-id': 59484, 'amount': -58},
   {'transaction-id': 60019, 'amount': -63},
   {'transaction-id': 61244, 'amount': -50},
   {'transaction-id': 61345, 'amount': -41},
   {'transaction-id': 63316, 'amount': -46},
   {'transaction-id': 63828, 'amount': -149},
   {'transaction-id': 64630, 'amount': -103},
   {'transaction-id': 64765, 'amount': -38},
   {'transaction-id': 64820, 'amount': -129},
   {'transaction-id': 65151, 'amount': -13},
   {'transaction-id': 65170, 'amount': 9},
   {'transaction-id': 66257, 'amount': -53},
   {'transaction-id': 69640, 'amount': -40},
   {'transaction-id': 70613, 'amount': -10},
   {'transaction-id': 72380, 'amount': -45},
   {'transaction-id': 72864, 'amount': -72},
   {'transaction-id': 73301, 'amount': -71},
   {'transaction-id': 75228, 'amount': -105},
   {'transaction-id': 78045, 'amount': -26},
   {'transaction-id': 80725, 'amount': -92},
   {'transaction-id': 82244, 'amount': -39},
   {'transaction-id': 83763, 'amount': -97},
   {'transaction-id': 84803, 'amount': -133},
   {'transaction-id': 85778, 'amount': -64},
   {'transaction-id': 85881, 'amount': -13},
   {'transaction-id': 85953, 'amount': -92},
   {'transaction-id': 86285, 'amount': -19},
   {'transaction-id': 86390, 'amount': -53},
   {'transaction-id': 86606, 'amount': -64},
   {'transaction-id': 86832, 'amount': 37},
   {'transaction-id': 87182, 'amount': -9},
   {'transaction-id': 87264, 'amount': -134},
   {'transaction-id': 87385, 'amount': -40},
   {'transaction-id': 87571, 'amount': -81},
   {'transaction-id': 87690, 'amount': -62},
   {'transaction-id': 87852, 'amount': -82},
   {'transaction-id': 89530, 'amount': -116},
   {'transaction-id': 90263, 'amount': -136},
   {'transaction-id': 90363, 'amount': -33},
   {'transaction-id': 91947, 'amount': -6},
   {'transaction-id': 92006, 'amount': -65},
   {'transaction-id': 94393, 'amount': -77},
   {'transaction-id': 94503, 'amount': -61},
   {'transaction-id': 94632, 'amount': 31},
   {'transaction-id': 94752, 'amount': -4},
   {'transaction-id': 97788, 'amount': -152},
   {'transaction-id': 99338, 'amount': -33},
   {'transaction-id': 99822, 'amount': -99}]},
 {'id': 38,
  'name': 'Alice',
  'transactions': [{'transaction-id': 1881, 'amount': 328},
   {'transaction-id': 2372, 'amount': 538},
   {'transaction-id': 4586, 'amount': 484},
   {'transaction-id': 9750, 'amount': 397},
   {'transaction-id': 9850, 'amount': 521},
   {'transaction-id': 13136, 'amount': 643},
   {'transaction-id': 14874, 'amount': 506},
   {'transaction-id': 16011, 'amount': 75},
   {'transaction-id': 17254, 'amount': 374},
   {'transaction-id': 18242, 'amount': 505},
   {'transaction-id': 19524, 'amount': 383},
   {'transaction-id': 20610, 'amount': 582},
   {'transaction-id': 23682, 'amount': 571},
   {'transaction-id': 28064, 'amount': 290},
   {'transaction-id': 28298, 'amount': 670},
   {'transaction-id': 30964, 'amount': 638},
   {'transaction-id': 31346, 'amount': 547},
   {'transaction-id': 36823, 'amount': 668},
   {'transaction-id': 40366, 'amount': 475},
   {'transaction-id': 41962, 'amount': 450},
   {'transaction-id': 43974, 'amount': 728},
   {'transaction-id': 44147, 'amount': 484},
   {'transaction-id': 45784, 'amount': 646},
   {'transaction-id': 45808, 'amount': 385},
   {'transaction-id': 51309, 'amount': 526},
   {'transaction-id': 51394, 'amount': 109},
   {'transaction-id': 51504, 'amount': 628},
   {'transaction-id': 55481, 'amount': 518},
   {'transaction-id': 58884, 'amount': 303},
   {'transaction-id': 59223, 'amount': 369},
   {'transaction-id': 61235, 'amount': 446},
   {'transaction-id': 61488, 'amount': 317},
   {'transaction-id': 62966, 'amount': 225},
   {'transaction-id': 64127, 'amount': 632},
   {'transaction-id': 64404, 'amount': 368},
   {'transaction-id': 65243, 'amount': 490},
   {'transaction-id': 66247, 'amount': 662},
   {'transaction-id': 70525, 'amount': 325},
   {'transaction-id': 70826, 'amount': 405},
   {'transaction-id': 74624, 'amount': 240},
   {'transaction-id': 77226, 'amount': 475},
   {'transaction-id': 77325, 'amount': 507},
   {'transaction-id': 78552, 'amount': 343},
   {'transaction-id': 81527, 'amount': 467},
   {'transaction-id': 82665, 'amount': 379},
   {'transaction-id': 88339, 'amount': 546},
   {'transaction-id': 92568, 'amount': 480},
   {'transaction-id': 92709, 'amount': 348},
   {'transaction-id': 94849, 'amount': 178},
   {'transaction-id': 94893, 'amount': 632},
   {'transaction-id': 94987, 'amount': 76},
   {'transaction-id': 95091, 'amount': 359},
   {'transaction-id': 98858, 'amount': 519}]},
 {'id': 60,
  'name': 'Alice',
  'transactions': [{'transaction-id': 765, 'amount': 2076},
   {'transaction-id': 1104, 'amount': 2567},
   {'transaction-id': 1131, 'amount': 2126},
   {'transaction-id': 2295, 'amount': 2281},
   {'transaction-id': 2620, 'amount': 2296},
   {'transaction-id': 3418, 'amount': 2133},
   {'transaction-id': 4019, 'amount': 2248},
   {'transaction-id': 4385, 'amount': 2008},
   {'transaction-id': 5555, 'amount': 2715},
   {'transaction-id': 6344, 'amount': 2356},
   {'transaction-id': 7533, 'amount': 1986},
   {'transaction-id': 8574, 'amount': 1933},
   {'transaction-id': 10710, 'amount': 2013},
   {'transaction-id': 13792, 'amount': 1848},
   {'transaction-id': 14391, 'amount': 2287},
   {'transaction-id': 15536, 'amount': 2490},
   {'transaction-id': 16266, 'amount': 2425},
   {'transaction-id': 18244, 'amount': 1883},
   {'transaction-id': 19465, 'amount': 2215},
   {'transaction-id': 20177, 'amount': 1952},
   {'transaction-id': 20687, 'amount': 1782},
   {'transaction-id': 21844, 'amount': 2342},
   {'transaction-id': 21994, 'amount': 2424},
   {'transaction-id': 23107, 'amount': 2241},
   {'transaction-id': 23876, 'amount': 2318},
   {'transaction-id': 24729, 'amount': 2345},
   {'transaction-id': 25471, 'amount': 2075},
   {'transaction-id': 25542, 'amount': 2131},
   {'transaction-id': 25989, 'amount': 2240},
   {'transaction-id': 26003, 'amount': 2396},
   {'transaction-id': 27139, 'amount': 2224},
   {'transaction-id': 27333, 'amount': 2259},
   {'transaction-id': 27694, 'amount': 2272},
   {'transaction-id': 28860, 'amount': 2180},
   {'transaction-id': 29107, 'amount': 2377},
   {'transaction-id': 30938, 'amount': 2274},
   {'transaction-id': 31190, 'amount': 2367},
   {'transaction-id': 32242, 'amount': 2219},
   {'transaction-id': 32250, 'amount': 1949},
   {'transaction-id': 32297, 'amount': 2235},
   {'transaction-id': 34950, 'amount': 2303},
   {'transaction-id': 35297, 'amount': 2246},
   {'transaction-id': 36316, 'amount': 2099},
   {'transaction-id': 37130, 'amount': 2171},
   {'transaction-id': 37242, 'amount': 2079},
   {'transaction-id': 37541, 'amount': 2382},
   {'transaction-id': 37638, 'amount': 2489},
   {'transaction-id': 38782, 'amount': 2267},
   {'transaction-id': 39986, 'amount': 2330},
   {'transaction-id': 40655, 'amount': 2524},
   {'transaction-id': 40719, 'amount': 2382},
   {'transaction-id': 41083, 'amount': 2433},
   {'transaction-id': 41563, 'amount': 2022},
   {'transaction-id': 41835, 'amount': 2224},
   {'transaction-id': 43252, 'amount': 2160},
   {'transaction-id': 43342, 'amount': 2218},
   {'transaction-id': 43890, 'amount': 1896},
   {'transaction-id': 45927, 'amount': 2154},
   {'transaction-id': 45985, 'amount': 1966},
   {'transaction-id': 46997, 'amount': 2096},
   {'transaction-id': 47997, 'amount': 2300},
   {'transaction-id': 48014, 'amount': 2280},
   {'transaction-id': 50749, 'amount': 1916},
   {'transaction-id': 51382, 'amount': 2173},
   {'transaction-id': 51848, 'amount': 2610},
   {'transaction-id': 54635, 'amount': 2203},
   {'transaction-id': 54745, 'amount': 2251},
   {'transaction-id': 54999, 'amount': 1937},
   {'transaction-id': 55553, 'amount': 2221},
   {'transaction-id': 56844, 'amount': 2084},
   {'transaction-id': 57165, 'amount': 2208},
   {'transaction-id': 58565, 'amount': 2370},
   {'transaction-id': 60660, 'amount': 2383},
   {'transaction-id': 61556, 'amount': 2241},
   {'transaction-id': 61714, 'amount': 2283},
   {'transaction-id': 63325, 'amount': 2206},
   {'transaction-id': 64126, 'amount': 2137},
   {'transaction-id': 65200, 'amount': 2489},
   {'transaction-id': 65645, 'amount': 1875},
   {'transaction-id': 66397, 'amount': 2008},
   {'transaction-id': 67005, 'amount': 2018},
   {'transaction-id': 68573, 'amount': 2625},
   {'transaction-id': 68910, 'amount': 2144},
   {'transaction-id': 71429, 'amount': 1969},
   {'transaction-id': 71577, 'amount': 1873},
   {'transaction-id': 72059, 'amount': 2420},
   {'transaction-id': 72675, 'amount': 2627},
   {'transaction-id': 73062, 'amount': 2325},
   {'transaction-id': 73167, 'amount': 2306},
   {'transaction-id': 73883, 'amount': 2585},
   {'transaction-id': 73939, 'amount': 2340},
   {'transaction-id': 75167, 'amount': 2186},
   {'transaction-id': 76040, 'amount': 2608},
   {'transaction-id': 76213, 'amount': 2015},
   {'transaction-id': 77296, 'amount': 1774},
   {'transaction-id': 78044, 'amount': 2184},
   {'transaction-id': 78315, 'amount': 2262},
   {'transaction-id': 79744, 'amount': 2415},
   {'transaction-id': 80765, 'amount': 2124},
   {'transaction-id': 81049, 'amount': 2413},
   {'transaction-id': 82218, 'amount': 2148},
   {'transaction-id': 82232, 'amount': 2422},
   {'transaction-id': 82877, 'amount': 2292},
   {'transaction-id': 84551, 'amount': 2326},
   {'transaction-id': 87117, 'amount': 2127},
   {'transaction-id': 87126, 'amount': 2067},
   {'transaction-id': 87283, 'amount': 2022},
   {'transaction-id': 87549, 'amount': 2036},
   {'transaction-id': 89224, 'amount': 2134},
   {'transaction-id': 89587, 'amount': 2238},
   {'transaction-id': 90940, 'amount': 2417},
   {'transaction-id': 92716, 'amount': 2112},
   {'transaction-id': 94114, 'amount': 2118},
   {'transaction-id': 95967, 'amount': 2333},
   {'transaction-id': 96316, 'amount': 2549},
   {'transaction-id': 96791, 'amount': 2298},
   {'transaction-id': 97512, 'amount': 2704},
   {'transaction-id': 98500, 'amount': 2173},
   {'transaction-id': 98570, 'amount': 2173},
   {'transaction-id': 99258, 'amount': 2131},
   {'transaction-id': 99423, 'amount': 1965},
   {'transaction-id': 99801, 'amount': 2087},
   {'transaction-id': 99868, 'amount': 2479}]},
 {'id': 69,
  'name': 'Alice',
  'transactions': [{'transaction-id': 1210, 'amount': 692},
   {'transaction-id': 3527, 'amount': 622},
   {'transaction-id': 3917, 'amount': 717},
   {'transaction-id': 5142, 'amount': 693},
   {'transaction-id': 5295, 'amount': 622},
   {'transaction-id': 5385, 'amount': 702},
   {'transaction-id': 8318, 'amount': 660},
   {'transaction-id': 9214, 'amount': 692},
   {'transaction-id': 9359, 'amount': 728},
   {'transaction-id': 14620, 'amount': 679},
   {'transaction-id': 16616, 'amount': 736},
   {'transaction-id': 17497, 'amount': 612},
   {'transaction-id': 18328, 'amount': 751},
   {'transaction-id': 18732, 'amount': 702},
   {'transaction-id': 19909, 'amount': 676},
   {'transaction-id': 20013, 'amount': 755},
   {'transaction-id': 21013, 'amount': 635},
   {'transaction-id': 21043, 'amount': 629},
   {'transaction-id': 21123, 'amount': 737},
   {'transaction-id': 22990, 'amount': 619},
   {'transaction-id': 24495, 'amount': 680},
   {'transaction-id': 25434, 'amount': 730},
   {'transaction-id': 33660, 'amount': 677},
   {'transaction-id': 35170, 'amount': 597},
   {'transaction-id': 37741, 'amount': 815},
   {'transaction-id': 38088, 'amount': 751},
   {'transaction-id': 40433, 'amount': 704},
   {'transaction-id': 41832, 'amount': 642},
   {'transaction-id': 42164, 'amount': 660},
   {'transaction-id': 44342, 'amount': 567},
   {'transaction-id': 45506, 'amount': 696},
   {'transaction-id': 47549, 'amount': 653},
   {'transaction-id': 50958, 'amount': 728},
   {'transaction-id': 52750, 'amount': 698},
   {'transaction-id': 56213, 'amount': 629},
   {'transaction-id': 56708, 'amount': 651},
   {'transaction-id': 66322, 'amount': 785},
   {'transaction-id': 68776, 'amount': 688},
   {'transaction-id': 69005, 'amount': 713},
   {'transaction-id': 73222, 'amount': 734},
   {'transaction-id': 74632, 'amount': 812},
   {'transaction-id': 75486, 'amount': 686},
   {'transaction-id': 77192, 'amount': 684},
   {'transaction-id': 77501, 'amount': 648},
   {'transaction-id': 78405, 'amount': 726},
   {'transaction-id': 83059, 'amount': 595},
   {'transaction-id': 83983, 'amount': 657},
   {'transaction-id': 87137, 'amount': 743},
   {'transaction-id': 88183, 'amount': 763},
   {'transaction-id': 90549, 'amount': 657},
   {'transaction-id': 92064, 'amount': 707},
   {'transaction-id': 92648, 'amount': 679},
   {'transaction-id': 92979, 'amount': 655},
   {'transaction-id': 94426, 'amount': 585},
   {'transaction-id': 95749, 'amount': 677},
   {'transaction-id': 96082, 'amount': 746},
   {'transaction-id': 96412, 'amount': 730},
   {'transaction-id': 96962, 'amount': 572},
   {'transaction-id': 98150, 'amount': 804},
   {'transaction-id': 98843, 'amount': 757},
   {'transaction-id': 98958, 'amount': 652},
   {'transaction-id': 99429, 'amount': 755},
   {'transaction-id': 99773, 'amount': 684}]})

In [127]:
def count_transactions(d):
    return {'name': d['name'], 'count': len(d['transactions'])}

# map: apply a function to each element
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .take(5))

({'name': 'Alice', 'count': 66},
 {'name': 'Alice', 'count': 111},
 {'name': 'Alice', 'count': 53},
 {'name': 'Alice', 'count': 123},
 {'name': 'Alice', 'count': 63})

In [128]:
# pluck: select a field, as from a dictionary, element[field]
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .pluck('count')
   .take(5))

(66, 111, 53, 123, 63)

In [129]:
# Average number of transactions for all of the Alice entries
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .pluck('count')
   .mean()
   .compute())

120.71933333333334

### Use `flatten` to de-nest

In the example below we see the use of `.flatten()` to flatten results.  We compute the average amount for all transactions for all Alices.

In [130]:
js.filter(lambda record: record['name'] == 'Alice').pluck('transactions').take(3)

([{'transaction-id': 1284, 'amount': 28},
  {'transaction-id': 2262, 'amount': 24},
  {'transaction-id': 4392, 'amount': 25},
  {'transaction-id': 4633, 'amount': 25},
  {'transaction-id': 9418, 'amount': 25},
  {'transaction-id': 9795, 'amount': 21},
  {'transaction-id': 11345, 'amount': 22},
  {'transaction-id': 11406, 'amount': 24},
  {'transaction-id': 11480, 'amount': 25},
  {'transaction-id': 12164, 'amount': 22},
  {'transaction-id': 12738, 'amount': 27},
  {'transaction-id': 13076, 'amount': 21},
  {'transaction-id': 13182, 'amount': 24},
  {'transaction-id': 14485, 'amount': 23},
  {'transaction-id': 15001, 'amount': 24},
  {'transaction-id': 17278, 'amount': 23},
  {'transaction-id': 17666, 'amount': 26},
  {'transaction-id': 18117, 'amount': 22},
  {'transaction-id': 20855, 'amount': 23},
  {'transaction-id': 21198, 'amount': 24},
  {'transaction-id': 25098, 'amount': 24},
  {'transaction-id': 27115, 'amount': 25},
  {'transaction-id': 29519, 'amount': 22},
  {'transaction-id': 29680, 'amount': 25},
  {'transaction-id': 29972, 'amount': 22},
  {'transaction-id': 30219, 'amount': 25},
  {'transaction-id': 31149, 'amount': 21},
  {'transaction-id': 32108, 'amount': 26},
  {'transaction-id': 34154, 'amount': 25},
  {'transaction-id': 36503, 'amount': 28},
  {'transaction-id': 39491, 'amount': 26},
  {'transaction-id': 42407, 'amount': 25},
  {'transaction-id': 44614, 'amount': 23},
  {'transaction-id': 46999, 'amount': 23},
  {'transaction-id': 49119, 'amount': 24},
  {'transaction-id': 49313, 'amount': 20},
  {'transaction-id': 51891, 'amount': 24},
  {'transaction-id': 54019, 'amount': 21},
  {'transaction-id': 54845, 'amount': 22},
  {'transaction-id': 55015, 'amount': 24},
  {'transaction-id': 55405, 'amount': 26},
  {'transaction-id': 59806, 'amount': 21},
  {'transaction-id': 61898, 'amount': 23},
  {'transaction-id': 63677, 'amount': 24},
  {'transaction-id': 64674, 'amount': 23},
  {'transaction-id': 65225, 'amount': 25},
  {'transaction-id': 66331, 'amount': 23},
  {'transaction-id': 68641, 'amount': 21},
  {'transaction-id': 69181, 'amount': 25},
  {'transaction-id': 72701, 'amount': 23},
  {'transaction-id': 73823, 'amount': 28},
  {'transaction-id': 77775, 'amount': 26},
  {'transaction-id': 78362, 'amount': 25},
  {'transaction-id': 80039, 'amount': 22},
  {'transaction-id': 80480, 'amount': 25},
  {'transaction-id': 81143, 'amount': 26},
  {'transaction-id': 82768, 'amount': 24},
  {'transaction-id': 85082, 'amount': 24},
  {'transaction-id': 85815, 'amount': 25},
  {'transaction-id': 88175, 'amount': 26},
  {'transaction-id': 88193, 'amount': 22},
  {'transaction-id': 88555, 'amount': 23},
  {'transaction-id': 90266, 'amount': 25},
  {'transaction-id': 90486, 'amount': 24},
  {'transaction-id': 93025, 'amount': 26},
  {'transaction-id': 97470, 'amount': 26}],
 [{'transaction-id': 419, 'amount': -14},
  {'transaction-id': 1987, 'amount': -108},
  {'transaction-id': 2722, 'amount': -66},
  {'transaction-id': 2777, 'amount': -37},
  {'transaction-id': 3018, 'amount': -15},
  {'transaction-id': 3059, 'amount': -142},
  {'transaction-id': 3201, 'amount': -71},
  {'transaction-id': 3292, 'amount': -127},
  {'transaction-id': 3295, 'amount': -67},
  {'transaction-id': 3701, 'amount': -141},
  {'transaction-id': 4026, 'amount': -63},
  {'transaction-id': 5608, 'amount': -97},
  {'transaction-id': 5985, 'amount': -108},
  {'transaction-id': 6277, 'amount': -70},
  {'transaction-id': 7006, 'amount': -46},
  {'transaction-id': 7142, 'amount': 28},
  {'transaction-id': 7185, 'amount': 20},
  {'transaction-id': 8389, 'amount': -83},
  {'transaction-id': 11756, 'amount': -87},
  {'transaction-id': 12979, 'amount': 0},
  {'transaction-id': 13508, 'amount': -59},
  {'transaction-id': 13671, 'amount': -159},
  {'transaction-id': 15466, 'amount': -79},
  {'transaction-id': 15688, 'amount': -58},
  {'transaction-id': 15692, 'amount': -19},
  {'transaction-id': 17809, 'amount': -82},
  {'transaction-id': 18764, 'amount': -54},
  {'transaction-id': 19050, 'amount': -15},
  {'transaction-id': 21135, 'amount': -69},
  {'transaction-id': 21366, 'amount': -93},
  {'transaction-id': 22741, 'amount': -96},
  {'transaction-id': 23748, 'amount': -30},
  {'transaction-id': 23889, 'amount': 0},
  {'transaction-id': 24929, 'amount': -19},
  {'transaction-id': 25717, 'amount': -29},
  {'transaction-id': 25817, 'amount': -54},
  {'transaction-id': 26224, 'amount': -36},
  {'transaction-id': 28396, 'amount': -35},
  {'transaction-id': 30668, 'amount': -38},
  {'transaction-id': 30810, 'amount': -65},
  {'transaction-id': 31085, 'amount': 0},
  {'transaction-id': 34322, 'amount': -16},
  {'transaction-id': 34991, 'amount': -34},
  {'transaction-id': 35923, 'amount': -61},
  {'transaction-id': 36283, 'amount': -32},
  {'transaction-id': 38005, 'amount': -145},
  {'transaction-id': 38582, 'amount': -129},
  {'transaction-id': 42443, 'amount': -76},
  {'transaction-id': 43325, 'amount': -25},
  {'transaction-id': 43504, 'amount': -36},
  {'transaction-id': 43566, 'amount': -42},
  {'transaction-id': 43679, 'amount': -20},
  {'transaction-id': 46764, 'amount': -95},
  {'transaction-id': 49383, 'amount': -32},
  {'transaction-id': 51001, 'amount': 75},
  {'transaction-id': 51159, 'amount': -30},
  {'transaction-id': 52234, 'amount': -91},
  {'transaction-id': 52344, 'amount': -19},
  {'transaction-id': 52520, 'amount': -62},
  {'transaction-id': 53022, 'amount': -42},
  {'transaction-id': 54813, 'amount': -34},
  {'transaction-id': 57537, 'amount': -70},
  {'transaction-id': 59162, 'amount': -46},
  {'transaction-id': 59484, 'amount': -58},
  {'transaction-id': 60019, 'amount': -63},
  {'transaction-id': 61244, 'amount': -50},
  {'transaction-id': 61345, 'amount': -41},
  {'transaction-id': 63316, 'amount': -46},
  {'transaction-id': 63828, 'amount': -149},
  {'transaction-id': 64630, 'amount': -103},
  {'transaction-id': 64765, 'amount': -38},
  {'transaction-id': 64820, 'amount': -129},
  {'transaction-id': 65151, 'amount': -13},
  {'transaction-id': 65170, 'amount': 9},
  {'transaction-id': 66257, 'amount': -53},
  {'transaction-id': 69640, 'amount': -40},
  {'transaction-id': 70613, 'amount': -10},
  {'transaction-id': 72380, 'amount': -45},
  {'transaction-id': 72864, 'amount': -72},
  {'transaction-id': 73301, 'amount': -71},
  {'transaction-id': 75228, 'amount': -105},
  {'transaction-id': 78045, 'amount': -26},
  {'transaction-id': 80725, 'amount': -92},
  {'transaction-id': 82244, 'amount': -39},
  {'transaction-id': 83763, 'amount': -97},
  {'transaction-id': 84803, 'amount': -133},
  {'transaction-id': 85778, 'amount': -64},
  {'transaction-id': 85881, 'amount': -13},
  {'transaction-id': 85953, 'amount': -92},
  {'transaction-id': 86285, 'amount': -19},
  {'transaction-id': 86390, 'amount': -53},
  {'transaction-id': 86606, 'amount': -64},
  {'transaction-id': 86832, 'amount': 37},
  {'transaction-id': 87182, 'amount': -9},
  {'transaction-id': 87264, 'amount': -134},
  {'transaction-id': 87385, 'amount': -40},
  {'transaction-id': 87571, 'amount': -81},
  {'transaction-id': 87690, 'amount': -62},
  {'transaction-id': 87852, 'amount': -82},
  {'transaction-id': 89530, 'amount': -116},
  {'transaction-id': 90263, 'amount': -136},
  {'transaction-id': 90363, 'amount': -33},
  {'transaction-id': 91947, 'amount': -6},
  {'transaction-id': 92006, 'amount': -65},
  {'transaction-id': 94393, 'amount': -77},
  {'transaction-id': 94503, 'amount': -61},
  {'transaction-id': 94632, 'amount': 31},
  {'transaction-id': 94752, 'amount': -4},
  {'transaction-id': 97788, 'amount': -152},
  {'transaction-id': 99338, 'amount': -33},
  {'transaction-id': 99822, 'amount': -99}],
 [{'transaction-id': 1881, 'amount': 328},
  {'transaction-id': 2372, 'amount': 538},
  {'transaction-id': 4586, 'amount': 484},
  {'transaction-id': 9750, 'amount': 397},
  {'transaction-id': 9850, 'amount': 521},
  {'transaction-id': 13136, 'amount': 643},
  {'transaction-id': 14874, 'amount': 506},
  {'transaction-id': 16011, 'amount': 75},
  {'transaction-id': 17254, 'amount': 374},
  {'transaction-id': 18242, 'amount': 505},
  {'transaction-id': 19524, 'amount': 383},
  {'transaction-id': 20610, 'amount': 582},
  {'transaction-id': 23682, 'amount': 571},
  {'transaction-id': 28064, 'amount': 290},
  {'transaction-id': 28298, 'amount': 670},
  {'transaction-id': 30964, 'amount': 638},
  {'transaction-id': 31346, 'amount': 547},
  {'transaction-id': 36823, 'amount': 668},
  {'transaction-id': 40366, 'amount': 475},
  {'transaction-id': 41962, 'amount': 450},
  {'transaction-id': 43974, 'amount': 728},
  {'transaction-id': 44147, 'amount': 484},
  {'transaction-id': 45784, 'amount': 646},
  {'transaction-id': 45808, 'amount': 385},
  {'transaction-id': 51309, 'amount': 526},
  {'transaction-id': 51394, 'amount': 109},
  {'transaction-id': 51504, 'amount': 628},
  {'transaction-id': 55481, 'amount': 518},
  {'transaction-id': 58884, 'amount': 303},
  {'transaction-id': 59223, 'amount': 369},
  {'transaction-id': 61235, 'amount': 446},
  {'transaction-id': 61488, 'amount': 317},
  {'transaction-id': 62966, 'amount': 225},
  {'transaction-id': 64127, 'amount': 632},
  {'transaction-id': 64404, 'amount': 368},
  {'transaction-id': 65243, 'amount': 490},
  {'transaction-id': 66247, 'amount': 662},
  {'transaction-id': 70525, 'amount': 325},
  {'transaction-id': 70826, 'amount': 405},
  {'transaction-id': 74624, 'amount': 240},
  {'transaction-id': 77226, 'amount': 475},
  {'transaction-id': 77325, 'amount': 507},
  {'transaction-id': 78552, 'amount': 343},
  {'transaction-id': 81527, 'amount': 467},
  {'transaction-id': 82665, 'amount': 379},
  {'transaction-id': 88339, 'amount': 546},
  {'transaction-id': 92568, 'amount': 480},
  {'transaction-id': 92709, 'amount': 348},
  {'transaction-id': 94849, 'amount': 178},
  {'transaction-id': 94893, 'amount': 632},
  {'transaction-id': 94987, 'amount': 76},
  {'transaction-id': 95091, 'amount': 359},
  {'transaction-id': 98858, 'amount': 519}])

In [131]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .take(3))

({'transaction-id': 1284, 'amount': 28},
 {'transaction-id': 2262, 'amount': 24},
 {'transaction-id': 4392, 'amount': 25})

In [132]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .pluck('amount')
   .take(3))

(28, 24, 25)

In [133]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .pluck('amount')
   .mean()
   .compute())

1392.7141634314305

### Groupby and Foldby

Often we want to group data by some function or key.  We can do this either with the `.groupby` method, which is straightforward but forces a full shuffle of the data (expensive) or with the harder-to-use but faster `.foldby` method, which does a streaming combined groupby and reduction.

*  `groupby`:  Shuffles data so that all items with the same key are in the same key-value pair
*  `foldby`:  Walks through the data accumulating a result per key

*Note: the full groupby is particularly bad. In actual workloads you would do well to use `foldby` or switch to `DataFrame`s if possible.*

### `groupby`

Groupby collects items in your collection so that all items with the same value under some function are collected together into a key-value pair.

In [134]:
b = db.from_sequence(['Alice', 'Bob', 'Charlie', 'Dan', 'Edith', 'Frank'])
b.groupby(len).compute()  # names grouped by length

[(7, ['Charlie']), (3, ['Bob', 'Dan']), (5, ['Frank', 'Edith', 'Alice'])]

In [135]:
b = db.from_sequence(list(range(10)))
b.groupby(lambda x: x % 2).compute()

[(0, [8, 0, 6, 2, 4]), (1, [7, 9, 5, 1, 3])]

In [136]:
b.groupby(lambda x: x % 2).starmap(lambda k, v: (k, max(v))).compute()

[(0, 8), (1, 9)]

### `foldby`

Foldby can be quite odd at first.  It is similar to the following functions from other libraries:

*  [`toolz.reduceby`](http://toolz.readthedocs.io/en/latest/streaming-analytics.html#streaming-split-apply-combine)
*  [`pyspark.RDD.combineByKey`](http://abshinn.github.io/python/apache-spark/2014/10/11/using-combinebykey-in-apache-spark/)

When using `foldby` you provide 

1.  A key function on which to group elements
2.  A binary operator such as you would pass to `reduce` that you use to perform reduction per each group
3.  A combine binary operator that can combine the results of two `reduce` calls on different parts of your dataset.

Your reduction must be associative.  It will happen in parallel in each of the partitions of your dataset.  Then all of these intermediate results will be combined by the `combine` binary operator.

In [137]:
is_even = lambda x: x % 2
b.foldby(is_even, binop=max, combine=max).compute()

[(0, 8), (1, 9)]

### Example with account data

We find the number of people with the same name.

In [138]:
%%time
# Warning, this one takes a while...
result = js.groupby(lambda item: item['name']).starmap(lambda k, v: (k, len(v))).compute()
print(sorted(result))

[('Alice', 180), ('Alice', 180), ('Alice', 180), ('Alice', 180), ('Alice', 180), ('Alice', 180), ('Alice', 210), ('Alice', 210), ('Bob', 98), ('Bob', 102), ('Bob', 118), ('Bob', 118), ('Bob', 200), ('Bob', 200), ('Charlie', 132), ('Charlie', 132), ('Charlie', 132), ('Charlie', 132), ('Charlie', 132), ('Charlie', 154), ('Charlie', 286), ('Dan', 84), ('Dan', 84), ('Dan', 84), ('Dan', 84), ('Dan', 84), ('Dan', 98), ('Dan', 182), ('Edith', 100), ('Edith', 102), ('Edith', 102), ('Edith', 102), ('Edith', 102), ('Edith', 103), ('Edith', 118), ('Edith', 118), ('Frank', 114), ('Frank', 115), ('Frank', 116), ('Frank', 117), ('Frank', 129), ('Frank', 134), ('Frank', 228), ('George', 131), ('George', 132), ('George', 152), ('George', 154), ('George', 262), ('George', 263), ('Hannah', 138), ('Hannah', 138), ('Hannah', 138), ('Hannah', 138), ('Hannah', 138), ('Hannah', 138), ('Hannah', 161), ('Hannah', 161), ('Ingrid', 84), ('Ingrid', 84), ('Ingrid', 84), ('Ingrid', 84), ('Ingrid', 84), ('Ingrid', 84), ('Ingrid', 98), ('Ingrid', 98), ('Jerry', 107), ('Jerry', 107), ('Jerry', 108), ('Jerry', 108), ('Jerry', 108), ('Jerry', 108), ('Jerry', 252), ('Kevin', 141), ('Kevin', 143), ('Kevin', 144), ('Kevin', 144), ('Kevin', 167), ('Kevin', 452), ('Laura', 144), ('Laura', 144), ('Laura', 144), ('Laura', 168), ('Laura', 288), ('Laura', 312), ('Michael', 89), ('Michael', 89), ('Michael', 89), ('Michael', 89), ('Michael', 90), ('Michael', 90), ('Michael', 104), ('Michael', 105), ('Norbert', 114), ('Norbert', 114), ('Norbert', 114), ('Norbert', 114), ('Norbert', 133), ('Norbert', 133), ('Norbert', 228), ('Oliver', 60), ('Oliver', 60), ('Oliver', 60), ('Oliver', 60), ('Oliver', 60), ('Oliver', 70), ('Oliver', 130), ('Patricia', 100), ('Patricia', 101), ('Patricia', 101), ('Patricia', 101), ('Patricia', 102), ('Patricia', 102), ('Patricia', 116), ('Patricia', 118), ('Quinn', 108), ('Quinn', 108), ('Quinn', 108), ('Quinn', 108), ('Quinn', 108), ('Quinn', 108), ('Quinn', 126), ('Quinn', 126), ('Ray', 90), ('Ray', 90), ('Ray', 90), ('Ray', 90), ('Ray', 90), ('Ray', 90), ('Ray', 105), ('Ray', 105), ('Sarah', 132), ('Sarah', 132), ('Sarah', 132), ('Sarah', 132), ('Sarah', 132), ('Sarah', 132), ('Sarah', 154), ('Sarah', 154), ('Tim', 114), ('Tim', 114), ('Tim', 114), ('Tim', 114), ('Tim', 133), ('Tim', 133), ('Tim', 228), ('Ursula', 102), ('Ursula', 102), ('Ursula', 102), ('Ursula', 102), ('Ursula', 102), ('Ursula', 119), ('Ursula', 221), ('Victor', 101), ('Victor', 102), ('Victor', 102), ('Victor', 102), ('Victor', 102), ('Victor', 118), ('Victor', 221), ('Wendy', 150), ('Wendy', 150), ('Wendy', 150), ('Wendy', 150), ('Wendy', 150), ('Wendy', 150), ('Wendy', 175), ('Wendy', 175), ('Xavier', 132), ('Xavier', 134), ('Xavier', 134), ('Xavier', 156), ('Xavier', 266), ('Xavier', 286), ('Yvonne', 102), ('Yvonne', 102), ('Yvonne', 102), ('Yvonne', 102), ('Yvonne', 102), ('Yvonne', 102), ('Yvonne', 119), ('Yvonne', 119), ('Zelda', 119), ('Zelda', 119), ('Zelda', 120), ('Zelda', 120), ('Zelda', 120), ('Zelda', 120), ('Zelda', 140), ('Zelda', 140)]
Wall time: 2min 8s

In [139]:
%%time
# This one is comparatively fast and produces the same result.
from operator import add
def incr(tot, _):
    return tot+1

result = js.foldby(key='name', 
                   binop=incr, 
                   initial=0, 
                   combine=add, 
                   combine_initial=0).compute()
print(sorted(result))

[('Alice', 1500), ('Bob', 836), ('Charlie', 1100), ('Dan', 700), ('Edith', 847), ('Frank', 953), ('George', 1094), ('Hannah', 1150), ('Ingrid', 700), ('Jerry', 898), ('Kevin', 1191), ('Laura', 1200), ('Michael', 745), ('Norbert', 950), ('Oliver', 500), ('Patricia', 841), ('Quinn', 900), ('Ray', 750), ('Sarah', 1100), ('Tim', 950), ('Ursula', 850), ('Victor', 848), ('Wendy', 1250), ('Xavier', 1108), ('Yvonne', 850), ('Zelda', 998)]
Wall time: 1.82 s

### Exercise: compute total amount per name

We want to groupby (or foldby) the `name` key, then add up the all of the amounts for each name.

Steps

1.  Create a small function that, given a dictionary like 

        {'name': 'Alice', 'transactions': [{'amount': 1, 'id': 123}, {'amount': 2, 'id': 456}]}
        
    produces the sum of the amounts, e.g. `3`
    
2.  Slightly change the binary operator of the `foldby` example above so that the binary operator doesn't count the number of entries, but instead accumulates the sum of the amounts.

In [ ]:
# Your code here...

## DataFrames

For the same reasons that Pandas is often faster than pure Python, `dask.dataframe` can be faster than `dask.bag`.  We will work more with DataFrames later, but from for the bag point of view, they are frequently the end-point of the "messy" part of data ingestion—once the data can be made into a data-frame, then complex split-apply-combine logic will become much more straight-forward and efficient.

You can transform a bag with a simple tuple or flat dictionary structure into a `dask.dataframe` with the `to_dataframe` method.

In [ ]:
df1 = js.to_dataframe()
df1.head()

This now looks like a well-defined DataFrame, and we can apply Pandas-like computations to it efficiently.

Using a Dask DataFrame, how long does it take to do our prior computation of numbers of people with the same name?  It turns out that `dask.dataframe.groupby()` beats `dask.bag.groupby()` more than an order of magnitude; but it still cannot match `dask.bag.foldby()` for this case.

In [ ]:
%time df1.groupby('name').id.count().compute().head()

### Denormalization

This DataFrame format is less-than-optimal because the `transactions` column is filled with nested data so Pandas has to revert to `object` dtype, which is quite slow in Pandas.  Ideally we want to transform to a dataframe only after we have flattened our data so that each record is a single `int`, `string`, `float`, etc..

In [ ]:
def denormalize(record):
    # returns a list for every nested item, each transaction of each person
    return [{'id': record['id'], 
             'name': record['name'], 
             'amount': transaction['amount'], 
             'transaction-id': transaction['transaction-id']}
            for transaction in record['transactions']]

transactions = js.map(denormalize).flatten()
transactions.take(3)

In [ ]:
df = transactions.to_dataframe()
df.head()

In [ ]:
%%time
# number of transactions per name
# note that the time here includes the data load and ingestion
df.groupby('name')['transaction-id'].count().compute()

## Limitations

Bags provide very general computation (any Python function.)  This generality
comes at cost.  Bags have the following known limitations

1.  Bag operations tend to be slower than array/dataframe computations in the
    same way that Python tends to be slower than NumPy/Pandas
2.  ``Bag.groupby`` is slow.  You should try to use ``Bag.foldby`` if possible.
    Using ``Bag.foldby`` requires more thought. Even better, consider creating
    a normalised dataframe.

In [ ]:
# Requires `s3fs` library
# each partition is a remote CSV text file
b = db.read_text('s3://dask-data/nyc-taxi/2015/yellow_tripdata_2015-01.csv')
b.take(1)